<div id="c-help">
  <div id="a-show">
    <%= render partial: "sidebar" %>
    <section id="content">
      <div style="margin-bottom: 1em;">
        <h1><%= "Help: #{HelpPage.title(@help.name)}" %></h1>
        <div class="dtext-container">
          <%= format_text(WikiPage.find_by(title: @help.wiki_page).body, allow_color: true) %>
        </div>
      </div>
    </section>
  </div>
</div>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Help: <%= HelpPage.title(@help.name) %>
<% end %>
