<div id="c-pool-orders">
  <div id="a-edit">
    <h2>Order Pool: <%= @pool.pretty_name %></h2>
    <p>Drag and drop the list below to determine ordering.</p>

    <%= render "posts/partials/common/inline_blacklist" %>

    <ul class="sortable">
      <% @pool.posts.paginate(1, limit: 1_000).each do |post| %>
        <li class="sortable-thumbnail" data-id="<%= post.id %>">
          <%= PostPresenter.preview(post, { show_deleted: true }).presence || "Hidden: Post ##{post.id}" %>
        </li>
      <% end %>
    </ul>

    <%= custom_form_for(@pool, html: { id: "ordering-form" }) do |f| %>
      <%= f.hidden_field :post_ids_string, id: "pool_post_ids_string", value: @pool.post_ids_string %>
      <%= f.submit "Save Order", class: "st-button submit" %>
    <% end %>
  </div>
</div>

<%= render "pools/secondary_links" %>

<% content_for(:page_title) do %>
  Order Pool - <%= @pool.pretty_name %>
<% end %>
