<div id="c-pool-orders">
  <div id="a-edit">
    <h2>Order Pool: <%= @pool.pretty_name %></h2>
    <p>Drag and drop the list below to determine ordering.</p>

    <%= render "posts/partials/common/inline_blacklist" %>

    <div id="pool-sortable">
      <% @pool.posts(limit: 1_000).each do |post| %>
        <%= PostPresenter.preview(post, show_deleted: true) %>
      <% end %>
    </div>

    <div class="simple_form">
      <input type="submit" value="Save" id="pool-sortable-submit" data-target="<%= pool_path(@pool) %>"></button>
    </div>
  </div>
</div>

<%= render "pools/secondary_links" %>

<% content_for(:page_title) do %>
  Order Pool - <%= @pool.pretty_name %>
<% end %>
