<div id="c-pools">
  <div id="a-edit">
    <h2>Edit Pool: <%= @pool.pretty_name %></h2>

    <%= custom_form_for(@pool) do |f| %>
      <%= error_messages_for "pool" %>

      <%= f.input :name, :as => :string, :input_html => { :value => @pool.pretty_name } %>
      <%= f.input :description, as: :dtext, limit: Danbooru.config.pool_descr_max_size, allow_color: false %>
      <%= f.input :post_ids_string, as: :text, label: "Posts" %>
      <%= f.input :category, :collection => ["series", "collection"], :include_blank => false %>
      <%= f.input :is_active %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Pool - <%= @pool.pretty_name %>
<% end %>
