<div id="c-pools">
  <div id="a-gallery">
    <%= render partial: "search", locals: { path: gallery_pools_path } %>

    <%= render "posts/partials/common/inline_blacklist" %>

    <h2>Pools</h2>

    <section class="posts-container">
      <% if @pools.none? %>
        <%= render "posts/blank" %>
      <% else %>
        <% @pools.each do |pool| %>
          <%= render(PostThumbnailComponent.new(post: pool.cover_post, show_deleted: true, link_target: pool, pool: pool)) %>
        <% end %>
      <% end %>
    </section>
    <%= numbered_paginator(@pools) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Pool Gallery
<% end %>
