<div id="c-pool-import">
  <div id="a-import">
    <h4>Pool Import: <%= @pool.pretty_name %></h4>

    <p>You can perform a tag search and import all the matching posts into this pool.</p>

    <div class='section'>
      <%= text_field_tag "tags", params[:tags], size: 50, id: 'pool-import-tags-field' %>
      <%= submit_tag "Search", id: 'pool-import-preview-button', 'data-pid': @pool.id %>
    </div>

    <div>
      <ul id="sortable-posts">

      </ul>
      <%= simple_form_for(@pool, method: :post, url: import_posts_pool_path(@pool), :html => {:id => "importing-form"}) do |f| %>
        <%= submit_tag "Import" %>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_tag nonce: true do -%>
  function removePost(id) {
    if ($("#delete-mode").checked) {
      $("#posts_" + id).remove();
      $("#p" + id).remove();
      return false;
    } else {
      return true;
    }
  }
<% end -%>
<%= render partial: 'secondary_links' %>
