<div id="c-pools">
  <div id="a-show">
    <h2>
      <%= @pool.pretty_category %>:
      <%= link_to @pool.pretty_name, posts_path(tags: "pool:#{@pool.id}"), class: "pool-category-#{@pool.category}" %>
    </h2>

    <div id="description" class="dtext-container">
      <%= format_text(@pool.description) %>
    </div>

    <%= render "posts/partials/common/inline_blacklist" %>

    <div id="posts">
      <section class="posts-container">
        <% if @posts.none? %>
          <%= render "posts/blank" %>
        <% else %>
          <%= render(PostThumbnailComponent.with_collection(@posts, pool_id: @pool.id, show_deleted: true)) %>
        <% end %>
      </div>
    </div>
    <%= numbered_paginator(@posts) %>
  </div>
</div>

<%= render "secondary_links" %>

<% render(partial: "static/embed", locals: { record: @pool, name: @pool.pretty_name, description: strip_tags(format_text(@pool.description)).truncate(200), post: @pool.cover_post }) %>

<% content_for(:page_title) do %>
  Pool - <%= @pool.pretty_name %>
<% end %>
