<div id="c-pools">
  <div id="a-show">
    <h2>
      <%= @pool.pretty_category %>:
      <%= link_to @pool.pretty_name, posts_path(tags: "pool:#{@pool.id}"), class: "pool-category-#{@pool.category}" %>
    </h2>

    <div id="description" class="dtext-container">
      <%= format_text(@pool.description) %>
    </div>

    <%= render "posts/partials/common/inline_blacklist" %>

    <div id="posts" class="user-disable-cropped-<%= Danbooru.config.enable_image_cropping? && CurrentUser.user.disable_cropped_thumbnails? %>">
      <div id="posts-container">
        <% if @posts.none? %>
          <%= render "posts/blank" %>
        <% else %>
          <% @posts.each do |post| %>
            <%= PostPresenter.preview(post, pool_id: @pool.id, show_cropped: true, show_deleted: true) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= numbered_paginator(@posts) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Pool - <%= @pool.pretty_name %>
<% end %>
