<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th class="updated-at updater">Last Post</th>
      <th class="created-at creator">Created</th>
      <th>Replies</th>
    </tr>
  </thead>
  <tbody>
    <% forum_topics.each do |topic| %>
      <tr class="forum-topic-row forum-topic-category-<%= topic.category_id %>" data-topic-is-hidden="<%= topic.is_hidden? %>">
        <td>
          <% if topic.is_sticky? %>
            <span class="sticky">Sticky:</span>
          <% end %>

          <% unless topic.read_by?(CurrentUser.user) %>
            <span class="new">NEW</span>
          <% end %>

          <%= link_to topic.title, forum_topic_path(topic), class: "forum-post-link" %>

          <% if topic.response_count > Danbooru.config.posts_per_page %>
            <%= link_to "page #{topic.last_page}", forum_topic_path(topic, :page => topic.last_page), :class => "last-page" %>
          <% end %>

          <% if topic.is_locked? %>
            <span class="locked-topic">(locked)</span>
          <% end %>
          <% if topic.is_hidden? %>
            <span class="locked-topic">(hidden)</span>
          <% end %>
        </td>
        <td class="updated-at updater"><%= link_to_user topic.updater %> <%= time_ago_in_words_tagged topic.updated_at, compact: true %></td>
        <td class="created-at creator"><%= link_to_user topic.creator %> <%= time_ago_in_words_tagged topic.created_at, compact: true %></td>
        <td><%= topic.response_count-1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
