<div id="c-forum-topics">
  <div id="a-index">
    <h1>Forum</h1>

    <p>
      Categories:
      <%= link_to "All", forum_topics_path %>,
      <%= ForumCategory.visible.ordered_categories.all.map {|rec| link_to_unless_current(rec.name, forum_topics_path(:search => {:category_id => rec.id}))}.join(", ").html_safe %>
    </p>

    <%= render "listing", :forum_topics => @forum_topics %>

    <%= render PaginatorComponent.new(records: @forum_topics) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Forum
<% end %>
