<div id="c-forum-topics">
  <div id="a-show">
    <h1>
      Topic: <%= @forum_topic.title %>

      <% if @forum_topic.is_hidden? %>
        <span class="locked-topic">(hidden)</span>
      <% end %>
    </h1>

    <p class="info">Posted under <%= link_to @forum_topic.category_name, forum_topics_path(:search => {:category_id => @forum_topic.category_id}) %></p>

    <% if @forum_topic.is_locked? %>
      <div class="notice">
        <p>This topic has been locked.</p>
      </div>
    <% end %>

    <%= render "forum_posts/listing", :forum_posts => @forum_posts, :original_forum_post_id => @forum_topic.original_post.id %>

    <% if CurrentUser.is_member? %>
      <% if CurrentUser.is_moderator? || !@forum_topic.is_locked? %>
        <p><%= link_to "Reply »", new_forum_post_path(forum_post: { topic_id: @forum_topic.id }), id: "new-response-link" %></p>

        <div style="display: none;" id="topic-response">
          <%= render "forum_posts/partials/new/form", :forum_post => ForumPost.new(:topic_id => @forum_topic.id) %>
        </div>
      <% end %>
    <% elsif !@forum_topic.is_locked? %>
      <h5 id="respond-link"><%= link_to "Login to respond »", new_session_path %></h5>
    <% end %>

    <%= numbered_paginator(@forum_posts) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Forum - <%= @forum_topic.title %>
<% end %>

<% render(partial: "static/embed", locals: { record: @forum_topic, name: @forum_topic.title, description: strip_tags(format_text(@forum_topic.original_post.body)).truncate(200) }) %>

<% content_for(:html_header) do %>
  <%= javascript_tag nonce: true do -%>
    document.addEventListener("DOMContentLoaded", function() {
      const newResponseLink = document.getElementById("new-response-link"),
            topicResponse = document.getElementById("topic-response");
      if (!newResponseLink || !topicResponse) return;
      newResponseLink.addEventListener("click", function(e) {
        topicResponse.style.display = "block";
        document.body.scrollIntoView(false);
        e.preventDefault();
      });
    });
  <% end -%>
<% end %>
