<%# locals: (area: :top, tag_string: "") %>

<% if Danbooru.config.ads_enabled? %>
  <% area ||= :top %>
  <div id="ad-leaderboard-<%= area.to_s %>" class="adzone-wrapper">
    <div class="adzone">
      <ins
        id="ad-insert-element-<%= area.to_s %>"
        data-revive-id="<%= Danbooru.config.ads_config[:revive][:id] %>"
        <%# We run our own ad network. Tags are not logged anywhere, and are only used for filtering ads based on tags. %>
        data-revive-tags="<%= tag_string %>"
        data-revive-zoneid=""
      ></ins>
      <%= javascript_tag nonce: true do -%>
        (function() {
          var zones = <%= raw(Danbooru.config.ads_config[:areas][area].to_json) %>;
          var zone = (window.innerWidth || screen.width) < 800 ? zones.mobile : zones.desktop;
          if (!zone.zone) return;

          var el = document.getElementById('ad-insert-element-<%= area.to_s %>');
          if (!el) return;

          el.setAttribute("data-revive-zoneid", zone.zone.toString());
        })();
      <% end -%>
      <% ad_rand = Random.rand(50000000) %>
      <% ad_zone = Danbooru.config.ads_config[:areas][area][:desktop] %>
      <noscript class="adzone">
        <a href="https://<%= Danbooru.config.ads_config[:revive][:domain] %>/www/delivery/ck.php?zoneid=<%= ad_zone[:zone] %>&n=<%= ad_zone[:checksum] %>&cb=<%= ad_rand %>" target="_blank" rel="nofollow noopener">
          <img src="https://<%= Danbooru.config.ads_config[:revive][:domain] %>/www/delivery/avw.php?zoneid=<%= ad_zone[:zone] %>&cb=<%= ad_rand %>&n=<%= ad_zone[:checksum] %>" border="0" alt="" />
        </a>
      </noscript>
    </div>
  </div>
<% end %>
