<%# locals: (title: "Search", tags: "") %>

<section class="post-search">
  <h3 class="post-search-title"><%= title %></h3>
  <span class="post-search-help"><%= link_to "[search help]", help_page_path(id: "cheatsheet") %></span>

  <%= form_tag(posts_path, method: "get", class: "post-search-form") do %>
    <% if params[:random] %>
      <%= hidden_field_tag :random, params[:random] %>
    <% end %>

    <%= text_field_tag("tags", tags, autofocus: "autofocus", placeholder: "Search posts by tag", data: { shortcut: "q", autocomplete: "tag-query" }) %>
    <%= tag.button(tag.i(class: "fa-solid fa-magnifying-glass"), type: "submit") %>
  <% end %>
</section>
