<% content_for(:secondary_links) do %>
  <menu>
    <%= subnav_link_to "Listing", posts_path %>
    <%= subnav_link_to "Upload", new_upload_path %>
    <%= subnav_link_to "Hot", posts_path(:tags => "order:rank", :d => "1") %>
    <%= subnav_link_to("Popular", popular_explore_posts_path) %>
    <% unless CurrentUser.is_anonymous? %>
      <%= subnav_link_to "Favorites", favorites_path %>
    <% end %>
    <%= subnav_link_to "Changes", post_versions_path %>
    <% if CurrentUser.can_approve_posts? %>
      <%= subnav_link_to "Moderate", moderator_post_queue_path %>
    <% end %>
    <% if CurrentUser.is_anonymous? %>
      <li><a href="#" id="anonymous-blacklist-link">Blacklist</a></li>
    <% end %>
    <%= subnav_link_to "Help", help_page_path(id: "posts") %>
  </menu>
<% end %>
