<div id="c-sessions">
  <div id="a-new">
    <section>
      <h1>Sign in</h1>
      <%= form_tag(session_path, :class => "simple_form") do %>
        <%= hidden_field_tag "url", params[:url] %>

        <div class="input">
          <label for="name">Username</label>
          <%= text_field_tag :name %>
        </div>

        <div class="input">
          <label for="password">Password</label>
          <%= password_field_tag :password %>
        </div>

        <div class="input">
          <%= check_box_tag :remember, "1", true %>
          <label for="remember" id="remember-label">Remember</label>
        </div>

        <div class="input">
          <%= submit_tag "Submit", :data => { :disable_with => "Signing in..." } %>
        </div>
      <% end %>
    </section>

    <section class="box-section">
      <h2><%= link_to "Don't have an account? Sign up here.", new_user_path() %></h2>
      <h2><%= link_to "Reset Password", new_maintenance_user_password_reset_path %></h2>
      <h2><%= link_to "Login Reminder", new_maintenance_user_login_reminder_path %></h2>
    </section>
  </div>
</div>

<% content_for(:page_title) do %>
 Sign in
<% end %>

<%= render "secondary_links" %>
