<h4>Deleted Posts</h4>

<table class="striped">
  <thead>
  <tr>
    <th>Post</th>
    <th>Poster</th>
    <th width="50%">Tags</th>
    <th>Deleted At</th>
    <th>Reason</th>
  </tr>
  </thead>

  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.id, post_path(post) %></td>
      <td><%= link_to_user post.uploader %></td>
      <td><%= post.tag_string %></td>
      <td><%= compact_time post.deletion_flag&.created_at %></td>
      <td class="dtext-container"><%= format_text(post.deletion_flag&.reason) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render PaginatorComponent.new(records: @posts) %>

<% content_for(:page_title) do %>
  Deleted Posts
<% end %>
