<div id="c-popular">
  <div id="a-index">
    <h1>Popular: <%= @post_set.presenter.range_text %></h1>

    <%= @post_set.presenter.nav_links(self) %>

    <%= render "posts/partials/common/inline_blacklist" %>

    <div id="posts" class="user-disable-cropped-<%= Danbooru.config.enable_image_cropping? && CurrentUser.user.disable_cropped_thumbnails? %>">
      <section class="posts-container">
        <%= @post_set.presenter.post_previews_html(self, show_cropped: true) %>
      </section>
    </div>
  </div>
</div>

<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Popular
<% end %>

<% content_for(:html_header) do %>
  <meta name="description" content="The most popular posts per day">
<% end %>
