<div id="c-staff-notes">
  <div id="a-index">
    <h1><%= @user ? "Staff Notes for #{@user.name}" : "Staff Notes" %></h1>
    <%= render "search" %>

    <%= render "admin/staff_notes/partials/list_of_notes", staff_notes: @notes %>
    <%= numbered_paginator(@notes) %>
  </div>
</div>

<%= render "users/secondary_links" %>

<% content_for(:page_title) do %>
  <%= @user ? "#{@user.name} - Staff Notes" : "Staff Notes" %>
<% end %>
