<% if comment.visible_to?(CurrentUser.user) %>
  <a name="comment-<%= comment.id %>"></a>
  <article class="comment <%= "below-threshold" if comment.below_threshold? %> <%= "hidden" if comment.is_hidden? %>" data-post-id="<%= comment.post_id %>" data-comment-id="<%= comment.id %>" data-score="<%= comment.score %>" data-creator="<%= comment.creator_name %>" data-is-sticky="<%= comment.is_sticky %>">
    <div class="author">
      <%= user_avatar(comment.creator) %>
      <h1>
        <%= link_to_user comment.creator %>
        <% if comment.is_hidden? %>
          (hidden)
        <% end %>
      </h1>
      <p>
        <%= link_to time_ago_in_words_tagged(comment.created_at), post_path(id: comment.post_id, anchor: "comment-#{comment.id}") %>
      </p>
    </div>
    <div class="content">
      <div class="body styled-dtext">
        <%= format_text(comment.body) %>

        <%= render "application/update_notice", record: comment %>
      </div>

      <% if CurrentUser.is_member? %>
        <menu>
          <% if @post || @posts %>
            <li><%= link_to "Reply", new_comment_path(id: comment, comment: {post_id: comment.post_id}), class: "reply-link", remote: true %></li>
            <% if comment.editable_by?(CurrentUser.user) %>
              <li><%= link_to "Edit", edit_comment_path(comment.id), :id => "edit_comment_link_#{comment.id}", :class => "edit_comment_link" %></li>
            <% end %>
            <% if !comment.is_hidden? && comment.can_hide?(CurrentUser.user) %>
              <li><%= link_to "Hide", hide_comment_path(comment), data: {confirm: "Are you sure you want to hide this comment?"}, method: :post, remote: true %></li>
            <% elsif CurrentUser.is_moderator? %>
              <li><%= link_to "Unhide", unhide_comment_path(comment), data: {confirm: "Are you sure you want to unhide this comment?"}, method: :post, remote: true %></li>
            <% end %>

            <% if CurrentUser.is_moderator? %>
              <li><%= link_to "Delete", comment_path(comment), data: {confirm: "Are you sure you want to delete this comment?"}, method: :delete, remote: true %></li>
            <% end %>
            <li>|</li>
            <%= comment_vote_block(comment, @comment_votes[comment.id]) %>
            <% if CurrentUser.is_admin? %>
              <li><%= link_to "(List)", controller: 'comment_votes', comment_id: comment.id %></li>
            <% end %>
            <li>|</li>
            <li><%= link_to "Report", new_ticket_path(disp_id: comment.id, type: 'comment') %></li>
            <% if CurrentUser.is_moderator? %>
              <li>|</li>
              <li><%= link_to "Show Edits", edit_history_path(id: comment.id, type: 'Comment') %></li>
              <li>
                <strong>IP</strong>
                <span><%= link_to_ip comment.creator_ip_addr %></span>
              </li>
            <% end %>
          <% end %>
        </menu>
        <% if comment.editable_by?(CurrentUser.user) %>
          <%= render "comments/form", comment: comment, hidden: true %>
        <% end %>
      <% end %>
    </div>
  </article>
<% end %>
