<% if comment.visible_to?(CurrentUser.user) && comment.should_see?(CurrentUser.user) %>
  <article
    class="comment <%= "below-threshold" if comment.below_threshold? %>"
    id="comment-<%= comment.id %>"
    data-post-id="<%= comment.post_id %>"
    data-comment-id="<%= comment.id %>"
    data-score="<%= comment.score %>"
    data-creator="<%= comment.creator&.name.downcase %>"
    data-is-sticky="<%= comment.is_sticky %>"
    data-creator-id="<%= comment.creator_id %>"
    data-is-deleted="<%= comment.is_hidden? %>"
  >

    <div class="comment-avatar">
      <%= comment_avatar(comment.creator) %>
      <%= comment_level_string(comment.creator) %>
    </div>

    <div class="comment-info">
      <span class="comment-said">
        <%= link_to_user comment.creator %> said <%= link_to time_ago_in_words_tagged(comment.created_at), post_path(id: comment.post_id, anchor: "comment-#{comment.id}") %>
      </span>
      <%= comment_edited_notice(comment) %>
      <% if CurrentUser.is_admin? %>
        <span class="comment-ip"><%= link_to_ip comment.creator_ip_addr %></span>
      <% end %>
    </div>

    <div class="comment-body dtext-container">
      <%= format_text(comment.body, allow_color: comment.creator.is_privileged?) %>
      <%= render "application/warned_notice", record: comment %>
    </div>

    <% if comment.editable_by?(CurrentUser.user) %>
    <div class="comment-edit">
      <%= render "comments/partials/form", comment: comment %>
    </div>
    <% end %>

    <div class="comment-acts">
      <%= comment_vote_block(comment, @comment_votes[comment.id]) %>

      <% if defined?(post) && comment.can_reply?(CurrentUser.user) %>
        <li>
          <%= tag.a href: (CurrentUser.is_member? ? nil : new_session_path), class: "comment-reply-link" do %>
            <%= tag.i(class: "fa-solid fa-reply") %> Reply
          <% end %>
        </li>
      <% end %>

      <% if comment.editable_by?(CurrentUser.user) %>
        <li class="dot"></li>
        <li><%= link_to "Edit", edit_comment_path(comment.id), :class => "comment-edit-link" %></li>
      <% end %>

      <% if comment.can_hide?(CurrentUser.user) %>
        <li><%= tag.a "Delete", class: "comment-delete-link" %></li>
      <% end %>
      <% if CurrentUser.is_moderator? %>
        <li><%= tag.a "Undelete", class: "comment-undelete-link" %></li>
      <% end %>

      <li class="spacer"></li>

      <% if CurrentUser.is_moderator? %>
        <li><%= tag.a "Mark", class: "comment-mark-link" %></li>
        <li><%= link_to "History", edit_history_path(id: comment.id, type: "Comment"), class: "comment-edit-history-link" %></li>
        <li><%= link_to "Votes", controller: "comment_votes", search: { comment_id: comment.id }, class: "comment-vote-history-link" %></li>
      <% end %>
      <% if CurrentUser.is_admin? %>
        <li class="dot"></li>
        <li><%= tag.a "Destroy", class: "comment-destroy-link" %></li>
      <% end %>
      
      <% if !comment.is_sticky %>
        <li>
          <%= link_to new_ticket_path(disp_id: comment.id, qtype: "comment"), class: "comment-report-link" do %>
            <%= tag.i(class: "far fa-flag fa-flip-horizontal") %> Report
          <% end %>
        </li>
      <% end %>
    </div>

    <% if CurrentUser.is_moderator? %>
      <div class="comment-mark">
        <%= render "user_warnable/buttons", model: comment %>
      </div>
    <% end %>

  </article>
<% end %>
