<div class="nav-block search-seq-nav">
  <ul>
    <li class="active">
      <%= link_to show_seq_post_path(post, q: params[:q], seq: "prev"), rel: "prev nofollow", class: "nav-link prev" do %>
        <%= tag.i(class: "fas fa-angle-left") %>
        <span>Prev</span>
      <% end %>
      <span class="nav-name"> 
        <% if params[:q].nil? %>
          Search: (none)
        <% else %>
          <%= link_to("Search: #{params[:q]}", posts_path(tags: params[:q])) %>
        <% end %>
      </span>
      <%= link_to show_seq_post_path(post, q: params[:q], seq: "next"), rel: "next nofollow", class: "nav-link next" do %>
        <span>Next</span>
        <%= tag.i(class: "fas fa-angle-right") %>
      <% end %>
    </li>
  </ul>
</div>
