<div id="c-tag-<%= plural %>">
  <div id="a-index">
    <%# <%= render "tag_relationships/search", url: rel_type == :implication ? tag_implications_path : rel_type == :alias ? tag_aliases_path : "static/404" %>
    <%= render "tag_relationships/search", url: type_path %>
    <%= render "tag_relationships/listing", tag_relations: tag_relations %>
    <% if CurrentUser.is_admin? %>
      <%= render "tag_relationships/add_form", type: :"tag_#{singular}_request", path: request_path %>
    <% end %>

    <%= numbered_paginator(tag_relations) if rel_type == :implication || tag_relations.respond_to?(:current_page) %>
  </div>
</div>

<%= render "tag_relationships/secondary_links", rel_type: rel_type %>

<% content_for(:page_title) do %>
  Tag <%= plural.capitalize %>
<% end %>
