<table width="100%" class="striped">
  <thead>
    <tr>
      <th width="25%">From</th>
      <th width="25%">To</th>
      <th width="10%">Forum Post</th>
      <th width="15%">Approver</th>
      <th width="5%">Status</th>
      <th width="15%"></th>
    </tr>
  </thead>
  <tbody>
    <% tag_aliases.each do |tag_alias| %>
      <tr id="tag-alias-<%= tag_alias.id %>" class="tag-alias" data-alias-id="<%= tag_alias.id %>">
        <td class="category-<%= tag_alias.antecedent_tag.try(:category) %>"><%= link_to tag_alias.antecedent_name, posts_path(:tags => tag_alias.antecedent_name) %> <span class="count"><%= tag_alias.antecedent_tag.post_count rescue 0 %></span></td>
        <td class="category-<%= tag_alias.consequent_tag.try(:category) %>"><%= link_to tag_alias.consequent_name, posts_path(:tags => tag_alias.consequent_name) %> <span class="count"><%= tag_alias.consequent_tag.post_count rescue 0 %></span>
        <% if tag_alias.status == "pending" && tag_alias.has_transitives %><span class="redtext"> HAS TRANSITIVES</span><% end %></td>
        <td>
          <% if tag_alias.forum_topic_id %>
            <%= link_to tag_alias.forum_topic_id, forum_topic_path(tag_alias.forum_topic_id) %>
          <% end %>
        </td>
        <td><%= link_to_user(tag_alias.approver) if tag_alias.approver %></td>
        <td id="tag-alias-status-for-<%= tag_alias.id %>">
          <%= tag_alias.status %>
        </td>
        <td>
          <%= link_to "Show", tag_alias_path(tag_alias) %>

          <% if CurrentUser.is_moderator? %>
            <% if tag_alias.editable_by?(CurrentUser.user) %>
              | <%= link_to "Edit", edit_tag_alias_path(tag_alias) %>
            <% end %>

            <% if tag_alias.deletable_by?(CurrentUser.user) %>
              | <%= link_to "Reject", "#", class: "tag-alias-reject" %>
            <% end %>

            <% if tag_alias.is_pending? %>
              | <%= link_to "Approve", "#", class: "tag-alias-accept" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
