<div id="c-tag-aliases">
  <div id="a-index">
    <%= render "tag_relationships/search", url: tag_aliases_path %>
    <%= render "tag_relationships/listing", tag_relations: @tag_aliases %>
    <% if CurrentUser.is_admin? %>
      <%= render "tag_relationships/add_form", type: :tag_alias_request, path: tag_alias_request_path %>
    <% end %>

    <%= render PaginatorComponent.new(records: @tag_aliases) if @tag_aliases.respond_to?(:current_page) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Tag Aliases
<% end %>
