<div id="c-moderator-dashboards">
  <div id="a-show">
    <h1>Moderator Dashboard</h1>

    <%= render "search" %>
    <%= render "posts/partials/common/inline_blacklist" %>

    <div class="activity-container">
      <div>
        <div class="activity"><%= render "activity_upload" %></div>
        <div class="activity"><%= render "activity_note" %></div>
        <div class="activity"><%= render "activity_tag" %></div>
        <div class="activity"><%= render "activity_wiki_page" %></div>
        <div class="activity"><%= render "activity_artist" %></div>
        <div class="activity"><%= render "activity_comment" %></div>
      </div>

      <div>
        <div class="activity"><%= render "activity_user_feedback" %></div>
        <div class="activity"><%= render "activity_mod_action" %></div>
      </div>
    </div>
  </div>
</div>

<% content_for(:page_title) do %>
  Mod Dashboard
<% end %>
