
<section id="ptbr-wrapper">

<% if CurrentUser.is_member? %>
  <div
    class="ptbr-vote"
    data-score="<%= @post.score %>"
    data-up="<%= @post.up_score %>"
    data-down="<%= @post.down_score %>"
    data-state="<%= post_score_state(@post) %>"
    data-vote="<%= @post.own_vote.nil? ? 0 : @post.own_vote.score %>"
  >
    <button
      class="st-button kinetic ptbr-vote-button"
      data-action="1"
      processing="false"
    ><%= svg_icon(:chevron_up) %></button>
    <span
      class="ptbr-score"
      title="↑ <%= @post.up_score %> <%= @post.down_score %> ↓"
      >
      <%= @post.score %>
    </span>
    <button
      class="st-button kinetic ptbr-vote-button"
      data-action="-1"
      processing="false"
    ><%= svg_icon(:chevron_down) %></button>
  </div>

  <div class="ptbr-favorite">
    <button
      class="st-button kinetic ptbr-favorite-button anim"
      data-shortcut="f"
      favorited="<%= @post.is_favorited? %>"
      processing="false"
    >
      <%= svg_icon(:star) %>
    </button>
  </div>
<% else %>
  <div
    class="ptbr-vote"
    data-score="<%= @post.score %>"
    data-up="<%= @post.up_score %>"
    data-down="<%= @post.down_score %>"
    data-state="<%= post_score_state(@post) %>"
  >
    <span
      class="ptbr-score anonymous"
      title="↑ <%= @post.up_score %> <%= @post.down_score %> ↓"
      >
      <%= @post.score %>
    </span>
  </div>
<% end %>

<% if @post.visible? %>
  <div class="ptbr-fullscreen">
    <a
      href="<%= @post.file_url %>"
      class="st-button kinetic ptbr-fullscreen-button"
    >
      <%= svg_icon(:download) %>
    </a>
  </div>
<% end %>

<% if !@post.force_original_size? %>
  <div class="ptbr-resize">
    <select id="image-resize-selector" class="st-button">
      <option value="original">Original</option>
      <option value="fit">Fit (Horizontal)</option>
      <option value="fitv">Fit (Vertical)</option>
      <% if !@post.is_video? %>
        <option value="large">Sample (<%= Danbooru.config.large_image_width %>px)</option>
      <% end %>
      <% Danbooru.config.video_samples.keys.each do |size| %>
        <% next unless @post.has_sample_size?(size.to_s) %>
        <option value="<%= size %>">Sample (<%= size %>)</option>
      <% end %>
  </select>
  </div>
<% end %>

<% if @post.has_notes? %>
  <div class="ptbr-notes">
    <button
      class="st-button kinetic ptbr-notes-button"
      enabled="true"
    ></button>
  </div>
<% end %>

</section>
