
<section id="ptbr-wrapper">

<% if CurrentUser.is_member? %>
  <div
    class="ptbr-vote"
    data-score="<%= @post.score %>"
    data-up="<%= @post.up_score %>"
    data-down="<%= @post.down_score %>"
    data-state="<%= post_score_state(@post) %>"
    data-vote="<%= @post.own_vote.nil? ? 0 : @post.own_vote.score %>"
  >
    <button
      class="st-button kinetic ptbr-vote-button"
      data-action="1"
      processing="false"
    ><%= svg_icon(:chevron_up) %></button>
    <button class="st-button kinetic ptbr-score">
      <%= @post.score %>
    </button>
    <span class="ptbr-breakdown hidden">
      <span><%= @post.up_score %></span><span><%= @post.down_score %></span>
    </span>
    <button
      class="st-button kinetic ptbr-vote-button"
      data-action="-1"
      processing="false"
    ><%= svg_icon(:chevron_down) %></button>
  </div>

  <div class="ptbr-favorite">
    <button
      class="st-button kinetic ptbr-favorite-button anim"
      favorited="<%= @post.is_favorited? %>"
      processing="false"
    >
      <%= svg_icon(:star) %>
    </button>
  </div>
<% else %>
  <div
    class="ptbr-vote"
    data-score="<%= @post.score %>"
    data-up="<%= @post.up_score %>"
    data-down="<%= @post.down_score %>"
    data-state="<%= post_score_state(@post) %>"
  >
    <button class="st-button kinetic ptbr-score anonymous">
      <%= @post.score %>
    </button>
    <span class="ptbr-breakdown hidden">
      <span><%= @post.up_score %></span><span><%= @post.down_score %></span>
    </span>
  </div>
<% end %>

<% if @post.visible? && @post.has_notes? %>
  <div class="ptbr-notes">
    <button
      class="st-button kinetic ptbr-notes-button"
      enabled="true"
    ></button>
  </div>
<% end %>

<% if !@post.force_original_size? %>
  <div class="ptbr-resize">
    <select id="image-resize-selector" class="st-button">
      <option value="original">Original</option>
      <option value="fit">Fit (Horizontal)</option>
      <option value="fitv">Fit (Vertical)</option>
      <% if !@post.is_video? %>
        <option value="large">Sample (<%= Danbooru.config.large_image_width %>px)</option>
      <% end %>
      <% Danbooru.config.video_samples.keys.each do |size| %>
        <% next unless @post.has_sample_size?(size.to_s) %>
        <option value="<%= size %>">Sample (<%= size %>)</option>
      <% end %>
  </select>
  </div>
<% end %>

<% if @post.visible? %>
  <div class="ptbr-fullscreen">
    <a
      href="<%= @post.file_url %>"
      class="st-button kinetic ptbr-fullscreen-button"
    >
      View
    </a>
    <button class="st-button kinetic ptbr-fullscreen-toggle">
      <%= svg_icon(:ellipsis_v) %>
    </button>
    <div class="ptbr-fullscreen-menu hidden">
      <a href="<%= @post.file_url %>" class="st-button ptbr-fullscreen-menu-a">Fullscreen</a>
      <a href="<%= @post.file_url %>" class="st-button ptbr-fullscreen-menu-b" download>Download</a>
      <button class="st-button ptbr-notes-button" enabled="true"></button>
    </div>
  </div>
<% end %>

</section>


<%# SVG Filters %>
<section id="ptbr-svg-filters">
  <svg height="0" width="0">
    <filter id="inset-shadow" x="-50%" y="-50%" width="200%" height="200%">
      <feComponentTransfer in="SourceAlpha">
        <feFuncA type="table" tableValues="1 0"></feFuncA>
      </feComponentTransfer>
      <feGaussianBlur stdDeviation="1"></feGaussianBlur>
      <feOffset result="offsetblur" dx="1" dy="1"></feOffset>
      <feFlood result="color" flood-color="#be9e2f"></feFlood>
      <feComposite in2="offsetblur" operator="in"></feComposite>
      <feComposite in2="SourceAlpha" operator="in"></feComposite>
      <feMerge>
        <feMergeNode in="SourceGraphic"></feMergeNode>
        <feMergeNode></feMergeNode>
      </feMerge>
    </filter>
  </svg>
</section>
