<div id="c-artists">
  <div id="a-show">
    <h1>
      Artist: <%= link_to @artist.pretty_name, posts_path(:tags => @artist.name), :class => "tag-type-#{@artist.category_id}" %>
      <% if @artist.is_locked? %>
        (locked)
      <% end %>
    </h1>

    <% if @artist.is_dnp? %>
      <div id="avoid-posting-label">
        <h3><%= link_to "Avoid Posting", avoid_posting_path(@artist.avoid_posting) %></h3>
        <% if @artist.avoid_posting.pretty_details.present? %>
          <div class="dtext-container">
            <%= format_text(@artist.avoid_posting.pretty_details, inline: true) %>
          </div>
        <% end %>
        <% if CurrentUser.is_staff? && @artist.avoid_posting.staff_notes.present? %>
          <div class="dtext-container">
            <b>Note:</b> <%= format_text(@artist.avoid_posting.staff_notes, inline: true) %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @artist.notes.present? && @artist.visible? %>
      <div class="dtext-container">
        <%= format_text(@artist.notes, allow_color: true) %>
      </div>

      <p><%= link_to "View wiki page", @artist.wiki_page %></p>
    <% else %>
      <p><%= link_to_wiki_or_new "View wiki page", @artist.name %></p>
    <% end %>

    <%= render "tags/alias_and_implication_list", tag: @artist.tag %>
    <%= yield %>

    <div class="recent-posts">
      <h1>Recent Posts (<%= link_to "view all", posts_path(tags: @artist.name) %>)</h1>

      <%= render "posts/partials/common/inline_blacklist" %>

      <section class="posts-container" style="margin: 1em 0;">
        <%= @post_set.presenter.post_previews_html(self) %>
      </section>
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Artist - <%= @artist.name %>
<% end %>
