<%# artist %>
<ul>
  <li><strong>Status</strong> <%= artist.status %></li>

  <% if artist.linked_user_id && artist.linked_user %>
    <li><strong>User</strong> <%= link_to_user(artist.linked_user) %></li>
  <% end %>

  <% if artist.other_names.present? %>
    <li><strong>Other Names</strong> <%= link_to_artists(artist.other_names) %></li>
  <% end %>
  <% if artist.group_name.present? %>
    <li><strong>Group</strong> <%= link_to_artist(artist.group_name) %></li>
  <% end %>
  <% if artist.group_name.present? && artist.members.present? %>
    <li><strong>Members</strong> <%= link_to_artists(artist.members.limit(25).map(&:name)) %></li>
  <% end %>
  <% if artist.domains.any? %>
    <li><strong>Domains</strong></li>
    <ul>
      <% artist.domains.each do |url, count| %>
        <li><%= favicon_for_link("https://#{url}") %> <%= url %>: <%= count %></li>
      <% end %>
    </ul>
  <% end %>
  <% if artist.urls.present? %>
    <li><strong>URLs</strong></li>
    <ul>
      <% artist.sorted_urls.each do |url| %>
        <li>
          <% if url.is_active? %>
            <%= decorated_link_to(h(url.to_s), h(url)) %>
          <% else %>
            <del><%= h(url.url) %></del>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</ul>
