<div id="c-iqdb-queries">
  <div id="a-check">
    <h1>Similar Images Search</h1>
    <section>
      <%= form_tag(iqdb_queries_path, method: :post, class: "simple_form", multipart: true ) do %>
        <div class="input string optional">
          <%= label_tag "url", "URL", class: "string optional" %>
          <%= text_field_tag "url", params[:url] %>
        </div>

        <div class="input string optional fallback">
          <%= label_tag "file", "File", class: "string optional" %>
          <%= file_field_tag :file, :size => 50 %>
        </div>

        <%= submit_tag "Search" %>
      <% end %>
    </section>

    <%= render "posts/partials/common/inline_blacklist" %>
    <%= render "iqdb_queries/matches" %>
  </div>
</div>

<% content_for(:page_title) do %>
  Similar Images Search - <%= Danbooru.config.app_name %>
<% end %>

