<div id="c-favorites">
  <div id="a-index">
    <aside id="sidebar">
      <%= render "posts/partials/common/search", :path => posts_path, :tags => "fav:#{@user.name} ", :tags_dom_id => "tags" %>
      <div style="color:darkorange;margin-bottom:0.5rem;">*Searching favorites does not preserve the order they were added in.<br/></div>
      <% if CurrentUser.is_member? %>
        <%= render "posts/partials/index/mode_menu" %>
      <% end %>

      <%= render "posts/partials/index/blacklist" %>

      <section id="related-box">
        <h1>Related</h1>
        <ul id="related-list">
          <li><%= link_to "Random post", random_posts_path(:tags => @favorite_set.public_tag_string), :id => "random-post", :rel => "nofollow", :"data-shortcut" => "r" %></li>
        </ul>
      </section>
    </aside>

    <section id="content">
      <%= render "posts/partials/index/edit" %>

      <div id="posts" class="user-disable-cropped-<%= Danbooru.config.enable_image_cropping? && CurrentUser.user.disable_cropped_thumbnails? %>">
        <section class="posts-container">
          <%= @favorite_set.presenter.post_previews_html(self) %>
        </section>
        <%= numbered_paginator(@favorite_set.posts) %>
      </div>
    </section>
  </div>
</div>

<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Favorites - <%= @user.pretty_name %>
<% end %>
