<div id="c-favorites"><div id="a-index"><div class="post-index">

  <div class="search">
    <%= render "posts/partials/common/search", title: "Favorites", tags: "fav:#{@user.name} " %>
    <div style="color: darkorange;">Searching favorites does not preserve the order in which they were added.<br/></div>
  </div>

  <div class="sidebar">
    <% if CurrentUser.is_member? %>
      <%= render "posts/partials/index/mode_menu" %>
    <% end %>
    <%= render "posts/partials/index/blacklist" %>

    <% if @post_set.related_tags.any? %>
      <section id="tag-box">
        <%= render partial: "/posts/partials/index/sidebar/tag_list", locals: { post_set: @post_set, query: "fav:#{@user.name} ", tags: @post_set.related_tags } %>
      </section>
    <% end %>

    <section id="related-box">
      <h3>Related</h3>
      <ul id="related-list">
        <li><%= link_to "Random post", random_posts_path(tags: @post_set.tag_string), id: "random-post", rel: "nofollow" %></li>
      </ul>
    </section>
  </div>

  <div class="content">
    <%= render "ads/leaderboard", area: :top, tag_string: @post_set.ad_tag_string %>
    <%= render "posts/partials/index/edit" %>
    <%= render "posts/partials/index/posts", post_set: @post_set %>
    <%= render "ads/leaderboard", area: :bottom, tag_string: @post_set.ad_tag_string %>
  </div>

</div></div></div>

<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  Favorites - <%= @user.pretty_name %>
<% end %>
