<div>
  <div class="box-section">
    <h3><%= @exception_log.class_name %></h3>
    <pre><code><%= @exception_log.message %></code></pre>
    <br>
    <div>
      Error Code: <%= @exception_log.code %><br/>
      Created At: <%= compact_time @exception_log.created_at %><br/>
      Commit: <%= @exception_log.version %><br/>
      IP Address: <%= link_to_ip @exception_log.ip_addr %><br/>
      User: <%= link_to_user @exception_log.user %>
    </div>
  </div>
  <strong>Extra Params:</strong>
  <pre class="box-section"><%= JSON.pretty_generate(@exception_log.extra_params) %></pre>
  <strong>Stacktrace:</strong>
  <pre class="box-section"><%= Rails.backtrace_cleaner.clean(@exception_log.trace.split("\n")).join("\n") %></pre>
  <strong>Raw Stacktrace:</strong>
  <pre class="box-section"><%= @exception_log.trace %></pre>
</div>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Exceptions - <%= @exception_log.code %>
<% end %>
