<div id="p-index-by-post">
  <% if !CurrentUser.user.is_janitor? %>
    <div style="margin-bottom: 1em;">
      <h2>Before commenting, read the <%= link_to "how to comment guide", wiki_pages_path(:search => {:title => "howto:comment"}) %>.</h2>
    </div>
  <% end %>

  <% if @posts.empty? %>
    <%= render "posts/blank" %>
  <% end %>

  <% @posts.select {|x| x.visible?}.each do |post| %>
    <% if post.comments.visible(CurrentUser.user).exists? %>
      <div class="comment-post">
        <div class="post-container">
          <%= PostPresenter.preview(post, inline: true, show_deleted: true) %>
          <div class="post-information">
            <%= render "comments/partials/index/header", :post => post %>
          </div>
        </div>
        <div class="comments">
          <%= render "comments/partials/index/list", :post => post, :comments => post.comments.visible(CurrentUser.user).recent.reverse %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= numbered_paginator(@posts) %>
