<div id="c-comments">
  <div id="a-index">
    <h1>Comments</h1>

    <%= render "posts/partials/common/inline_blacklist" %>

    <%= render "search" %>
    <% if params[:group_by] == "post" %>
      <%= render "index_by_post" %>
    <% else %>
      <%= render "index_by_comment" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Comments
<% end %>
