<%= tag.article(**article_attributes) do %>
  <%= link_to polymorphic_path(link_target, link_params), data: { hover_text: tooltip_text } do %>
    <%= tag.picture do %>
      <%= tag.source type: "image/webp", srcset: preview_urls[0] if webp_enabled? %>
      <%= tag.source type: "image/jpeg", srcset: preview_urls[1] %>
      <%= tag.img src: preview_urls[1], alt: alt_text %>
    <% end %>
  <% end %>
  <% if show_stats? %>
    <div class="desc">
      <span class="score <%= score_class %>"><%= score_icon %><%= @post.score %></span>
      <span class="favorites">♥<%= @post.fav_count %></span>
      <span class="comments">C<%= @post.visible_comment_count(@user) %></span>
      <span class="rating"><%= @post.rating.upcase %></span>
    </div>
  <% end %>
<% end %>
