<div id="c-upload-whitelist">
  <div id="a-edit">
    <h1>Upload Whitelist</h1>

    <%= error_messages_for "whitelist" %>

    <%= simple_form_for(@whitelist) do |f| %>
      <%= f.input :pattern, label: "Pattern", as: :string %>
      <%= f.input :note, label: "Note", as: :string %>
      <%= f.input :allowed, label: "Upload Allowed", as: :boolean %>
      <%= f.input :reason, label: "Ban Reason", as: :string %>
      <%= f.input :hidden, label: "Hidden From Users", as: :boolean %>
      <%= f.button :submit, "Save" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Upload Whitelist - <%= Danbooru.config.app_name %>
<% end %>
