<div id="c-upload-whitelists">
  <div id="a-index">
    <%= render "search" %>
    <h1>Upload Whitelists</h1>

    <table class="striped">
      <thead>
        <tr>
          <th>Domain</th>
          <th>Path</th>
          <th>Note</th>
          <th>Hidden</th>
          <th>Allowed</th>
          <th>Ban Reason</th>
          <th>Created</th>
          <th>Updated</th>
          <% if CurrentUser.is_admin? %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @whitelists.each do |whitelist| %>
          <tr>
            <td><%= whitelist.domain %></td>
            <td><%= whitelist.path %></td>
            <td><%= whitelist.note %></td>
            <td><%= whitelist.hidden ? "Yes" : "No" %></td>
            <td><%= whitelist.allowed ? "Yes" : "No" %></td>
            <td><%= whitelist.reason %></td>
            <td><%= compact_time whitelist.created_at %></td>
            <td><%= compact_time whitelist.updated_at %></td>
            <% if CurrentUser.is_admin? %>
              <td><%= link_to "Edit", edit_upload_whitelist_path(whitelist) %></td>
              <td><%= link_to "Delete", upload_whitelist_path(whitelist),  method: :delete, data: { confirm: "Do you really want to delete #{whitelist.note}?" } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@whitelists) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Upload Whitelists
<% end %>
