<div id="c-avoid-posting-versions">
  <div id="a-index">
    <h1>Avoid Postings</h1>

    <%= render "search" %>

    <table class="striped autofit">
      <thead>
      <tr>
        <th>Artist</th>
        <th width="60%">Details</th>
        <th>Status</th>
        <th>Updater</th>
        <% if CurrentUser.can_edit_avoid_posting_entries? %>
          <th></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @avoid_posting_versions.each do |avoid_posting_version| %>
      <% previous = avoid_posting_version.previous %>
        <tr id="avoid-posting-version-<%= avoid_posting_version.id %>" data-artist="<%= avoid_posting_version.artist_name %>">
          <td class="artist">
            <%= link_to avoid_posting_version.artist_name, show_or_new_artists_path(name: avoid_posting_version.artist_name) %>
          </td>
          <td class="details">
            <span class="avoid-posting-details">
              <% if previous.present? && previous.details == avoid_posting_version.details %>
              (No Changes)
            <% else %>
              <%= avoid_posting_version.details %>
            <% end %>
            </span>
            <% if CurrentUser.is_staff? %>
              <span class="avoid-posting-staff-notes">
                <b>Staff Notes</b><br>
                <% if previous.present? && previous.staff_notes == avoid_posting_version.staff_notes %>
                (No Changes)
              <% else %>
                <%= avoid_posting_version.staff_notes %>
              <% end %>
              </span>
          <% end %>
          </td>
          <td class="status">
            <%= avoid_posting_version.status %>
          </td>
          <td class="updater">
            <%= link_to_user avoid_posting_version.updater %>
            <%= link_to "»", avoid_posting_versions_path(search: { updater_name: avoid_posting_version.updater_name }) %>
            <p>
              <%= compact_time(avoid_posting_version.updated_at) %>
              <% if CurrentUser.is_admin? %>
                (<%= link_to_ip avoid_posting_version.updater_ip_addr %>)
              <% end %>
            </p>
          </td>
          <% if CurrentUser.can_edit_avoid_posting_entries? %>
            <td class="links">
              <%= link_to "Edit", edit_avoid_posting_path(avoid_posting_version.avoid_posting) %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@avoid_posting_versions) %>
  </div>
</div>

<%= render "secondary_links" %>
<% content_for(:page_title) do %>
  Avoid Posting Versions
<% end %>
