<% if blip.visible_to?(CurrentUser.user) %>
  <article class="blip comment-post-grid" data-is-deleted="<%= blip.is_hidden? %>" data-creator="<%= blip.creator&.name.downcase %>"
           data-creator-id="<%= blip.creator_id %>">
    <div class="author-info">
      <div class="name-rank">
        <h4 class="author-name"><%= link_to_user blip.creator %></h4>
        <%= blip.creator.level_string %>
        <% if blip.is_hidden? %>
          (hidden)
        <% end %>
      </div>
      <div class="avatar">
        <%= user_avatar(blip.creator) %>
      </div>
      <div class="post-time">
        <%= link_to time_ago_in_words_tagged(blip.created_at), blip_path(blip) %>
      </div>
    </div>
    <div class="content">
      <% if blip.response? %>
        <h6><%= link_to "In response to blip ##{blip.response_to}", blip_path(id: blip.response_to) %> </h6>
      <% end %>
      <div class="body dtext-container">
        <%= format_text(blip.body, allow_color: blip.creator.is_privileged?) %>
      </div>
      <%= render "application/update_notice", record: blip %>
      <%= render "application/warned_notice", record: blip if blip.was_warned?%>
      <div class="content-menu">
        <menu>
          <% if CurrentUser.is_member? %>
            <li><%= tag.a "Reply", href: '#', class: 'blip-reply-link', 'data-bid': blip.id %></li>
            <% if blip.can_edit?(CurrentUser.user) %>
              <li><%= link_to "Edit", edit_blip_path(blip) %></li>
            <% end %>
            <li><%= tag.a "@", href: '#', class: 'blip-atme-link', 'data-bid': blip.id %></li>
          <% end %>

          <% if !blip.is_hidden && blip.can_hide?(CurrentUser.user) %>
            <li><%= link_to "Hide", hide_blip_path(blip), data: {confirm: "Are you sure you want to hide this blip?"}, method: :post %></li>
          <% elsif CurrentUser.is_moderator? %>
            <li><%= link_to "Unhide", unhide_blip_path(blip), data: {confirm: "Are you sure you want to unhide this blip?"}, method: :post %></li>
          <% end %>

          <% if CurrentUser.is_admin? %>
            <li><%= link_to "Delete", blip_path(blip), data: {confirm: "Are you sure you want to delete this blip?"}, method: :delete %></li>
          <% end %>

          <% if blip.has_responses? %>
            <li><%= link_to "View Responses", blip_path(blip) %></li>
          <% end %>

          <% if CurrentUser.is_member? %>
            <li><%= link_to "Report", new_ticket_path(disp_id: blip.id, qtype: 'blip') %></li>
          <% end %>

          <% if CurrentUser.is_moderator? %>
            <li>|</li>
            <li><%= link_to "Show Edits", edit_history_path(id: blip.id, type: 'Blip') %></li>
            <%= render "user_warnable/buttons", model: blip %>
          <% end %>
          <% if CurrentUser.is_admin? %>
            <li>|</li>
            <li>
              <strong>IP</strong>
              <span><%= link_to_ip blip.creator_ip_addr %></span>
            </li>
          <% end %>
        </menu>
      </div>
    </div>
  </article>
<% end %>
