<div class='section' id='reply'>
  <%= error_messages_for :blip %>
  <%= custom_form_for(blip, :html => {:style => ("display: none;" if local_assigns[:hidden]), :class => "edit_blip"}) do |f| %>
    <% if blip.new_record? %>
      <%= f.hidden_field :response_to %>
    <% end %>
    <%= dtext_field "blip", "body", :value => blip.body, :input_id => "blip_body_for_#{blip.id}", :limit => Danbooru.config.blip_max_size %>
    <%= f.button :submit, "Submit" %>
  <% end %>
</div>
