<div id='searchform_hide'>
  <%= link_to_function "Show Search Options", "$('#searchform').fadeIn('fast'); $('searchform_hide').hide();" %>
</div>
<div class='section' id='searchform' style='width:400px;<% unless params[:show] %>display:none;
  <% end %>'>
  <%= simple_form_for(:search, :method => :get, url: blips_path, defaults: {required: false}, html: {class: "inline-form"}) do |f| %>
    <%= f.input :creator_name, label: "Blipper", input_html: {data: {autocomplete: "user"}} %>
    <%= f.input :body_matches, label: "Body" %>
    <%= f.input :response_to, label: "Parent Blip #" %>
    <%= f.input :order, include_blank: false, collection: [%w(Created id_desc), %w(Updated updated_at_desc)] %>
    <%= f.submit "Search" %>
  <% end %>
  <%= link_to_function "Hide Search Options", "$('#searchform').fadeOut('fast'); $('searchform_hide').show();" %>
</div>
<% if params[:body] || params[:name] || params[:response_to] %>
  <%= javascript_tag nonce: true do -%>
    $('searchform_hide').hide();
    $('searchform').show();
  <% end -%>
<% end %>
