<div id='searchform_hide'>
  <%= search_show_link %>
</div>
<div class='section' id='searchform' style='width:400px;<% unless params[:show] %>display:none;
  <% end %>'>
  <%= simple_form_for(:search, :method => :get, url: blips_path, defaults: {required: false}, html: {class: "inline-form"}) do |f| %>
    <%= f.input :creator_name, label: "Blipper", input_html: {data: {autocomplete: "user"}} %>
    <%= f.input :body_matches, label: "Body" %>
    <%= f.input :response_to, label: "Parent Blip #" %>
    <%= f.input :order, include_blank: false, collection: [%w(Created id_desc), %w(Updated updated_at_desc)] %>
    <%= f.submit "Search" %>
  <% end %>
  <%= search_hide_link %>
</div>
