<%#= render partial: "search" %>
<div id="c-blips">
  <div id="a-index">
    <div id="blip-list">
      <%= render "search" %>

      <%= render "posts/partials/common/inline_blacklist" %>
      <% if @blips.empty? %>
        <h4>No blips</h4>
      <% else %>
        <% @blips.each do |blip| %>
          <% if blip.visible_to?(CurrentUser.user) %>
            <div class="response-list">
              <%= render partial: "blips/partials/show/blip", locals: {blip: blip} %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <% if CurrentUser.is_member? %>
        <div id='preview' class='section' style="width:600px; margin:1em 0; display:none;"></div>

        <%= render "form", blip: Blip.new %>
      <% end %>

      <%= render PaginatorComponent.new(records: @blips) %>
    </div>
  </div>
</div>


<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Blips
<% end %>
