<div id="c-blips">
  <div id="a-show">
    <div id="blip" class="response-list">
      <% unless params[:page].to_i > 1 %>
        <%= render partial: "blips/partials/show/blip", locals: {blip: @blip} %>
      <% end %>
      <h4>Responses</h4>
      <% unless @children.nil? %>
        <% @children.each do |c| %>
          <% next unless c.visible_to?(CurrentUser.user) %>
          <%= render partial: "blips/partials/show/blip", locals: {blip: c} %>
        <% end %>
      <% end %>
    </div>

    <% if CurrentUser.is_anonymous? %>
        <h5 id="respond-link"><%= link_to "Login to respond »", new_session_path %></h5>
    <% else %>
        <%= render "form", blip: @blip.responses.new %>
    <% end %>

    <% unless @children.nil? %>
      <%= render PaginatorComponent.new(records: @children) %>
    <% end %>
  </div>
</div>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Blip #<%= @blip.id %>
<% end %>

<% render(partial: "static/embed", locals: { record: @blip, name: "Blip by #{@blip.creator.pretty_name}", description: strip_tags(format_text(@blip.body)).truncate(200) }) %>
