<div id="c-staff-wikis">
  <div id="a-show">
    <aside id="sidebar"></aside>

    <section id="content">
      <h1 id="staff-wiki-title"><%= @staff_wiki.pretty_title %></h1>

      <%= render partial: "staff_wikis/partials/involved", locals: { users: @involved_users } %>

      <div id="staff-wiki-body" class="dtext-container">
        <% if @staff_wiki.body.present? %>
          <%= format_text(@staff_wiki.body, allow_color: true) %>
        <% else %>
          <p>This page is empty. <%= link_to "Click here to add details", edit_staff_wiki_path(@staff_wiki) %>.</p>
        <% end %>
      </div>
    </section>
  </div>
</div>

<% content_for(:page_title) do %>
  Staff Wiki - <%= @staff_wiki.pretty_title %>
<% end %>

<%= render "secondary_links" %>
