<div id="c-post-votes">
  <div id="a-index">
    <%= simple_form_for(:search, method: :get, html: { class: "inline-form" }) do |f| %>
      <%= f.input :user_name, label: "Username", input_html: { value: params.dig(:search, :user_name), data: { autocomplete: "user" } } %>
      <%= f.input :post_id, label: "Post ID", input_html: { value: params.dig(:search, :post_id) } %>
      <%= f.input :timeframe, label: "Timeframe", include_blank: true, collection: [["Last Week", "7"], ["Last Month", "30"], ["Last Three Months", "90"], ["Last Year", "360"]], selected: params[:search][:timeframe] %>
      <%= f.input :duplicates_only, label: "Duplicates Only?", as: :boolean, input_html: { checked: params.dig(:search, :duplicates_only).to_s.truthy? } %>
      <%= f.input :order, collection: [["Created", "id"], ["IP Address", "ip_addr"]], selected: params[:search][:order] %>
      <%= f.submit "Search" %>
    <% end %>

    <table class='striped' id='votes'>
      <thead>
      <tr>
        <th style='width:8%;'>ID</th>
        <th style='width:8%;'>Post</th>
        <th style='width:40%;'>User</th>
        <th style='width:10%;'>Vote</th>
        <th style='width:16%;'>Created</th>
        <th style='width:17%;'>Updated</th>
        <th>IP</th>
      </tr>
      </thead>
      <tbody>
      <% @post_votes.each do |vote| %>
        <tr id="r<%= vote.id %>">
          <td><%= vote.id %></td>
          <td><%= link_to vote.post_id, post_path(id: vote.post_id) %></td>
          <td><%= mod_link_to_user vote.user, :negative %></td>
          <td>
            <% if vote.score == 1 %><span class='greentext'>Up</span>
            <% elsif vote.score == 0 %><span class='yellowtext'>Locked</span>
            <% else %><span class='redtext'>Down</span>
            <% end %></td>
          <td title="Created at <%= vote.created_at.strftime("%c") %>"><%= time_ago_in_words(vote.created_at) %> ago
          </td>
          <td title="Updated at <%= vote.updated_at.strftime("%c") %>"><%= time_ago_in_words(vote.updated_at) %> ago
          </td>
          <td><%= link_to_ip vote.user_ip_addr %></td>
        </tr>
        </tbody>
      <% end %>
      </table>
    <br/>
    <%= tag.button "Select All", id: "select-all-votes" %><br/>
    <%= tag.button "Lock Votes", id: "lock-votes" %> Set the votes to 0, preventing the user from
    voting on the image again<br/>
    <%= tag.button "Delete Votes", id: "delete-votes" %> Remove the votes

    <%= javascript_tag nonce: true do -%>
      new Danbooru.VoteManager('post');
    <% end -%>

    <div id="paginator">
      <%= numbered_paginator(@post_votes) %>
    </div>
  </div>
</div>

<% content_for(:page_title) do %>
  Post Votes
<% end %>
