<div id="c-tag-implications">
  <div id="a-index">
    <%= render "tag_relationships/search", url: tag_implications_path %>
    <%= render "tag_relationships/listing", tag_relations: @tag_implications %>
    <% if CurrentUser.is_admin? %>
      <%= render "tag_relationships/add_form", type: :tag_implication_request, path: tag_implication_request_path %>
    <% end %>

    <%= render PaginatorComponent.new(records: @tag_implications) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Tag Implications
<% end %>
