<div class="replacement-section-top" id="replacement-top-<%= post_replacement.id %>">
  <div class="replacement-thumbnail">
    <%= replacement_thumbnail(post_replacement) %>
  </div>
  <div class="replacement-version">
    <div class="replacement-version-label">Version</div>
    <div class="replacement-version-value"><%= link_to(post_replacement.post_id.to_s, post_path(post_replacement.post_id)) %>:<%= post_replacement.sequence_number %></dd></div>
  </div>
  <div class="replacement-status">
    <div class="replacement-status-label">Status</div>
    <div class="replacement-status-value"><%= post_replacement.status %></div>
  </div>
  <div class="replacement-reason">
    <div class="replacement-reason-label">Reason: </span><span class="reason-creator">(Submitter: <%= link_to_user post_replacement.creator %>)</div>
    <div class="replacement-reason-value"><%= truncate(post_replacement.reason, length: 40) %></div>
  </div>
  <div class="replacement-note">
    <div class="replacement-note-label">Note: </span><span class="note-handler">(Handler: <%= link_to_user post_replacement.approver %>)</div>
    <div class="replacement-note-value"><%= truncate(post_replacement.reason, length: 40) if post_replacement.reason.present? %></div>
  </div>
</div>