<div class="replacement-section-bottom" id="replacement-bottom-<%= post_replacement.id %>">
  <div class="replacement-actions">
    <% if CurrentUser.can_approve_posts? || CurrentUser.is_admin? %><div class="replacements-actions-label">Actions</div><% end %>
    <% if CurrentUser.can_approve_posts? %>
      <div class="pending-links">
        <% if post_replacement.status == "pending" %>
          <%= link_to "Approve", "#approve", class: "replacement-approve-action", data: { replacement_id: post_replacement.id, penalize: post_replacement.post.uploader != post_replacement.creator } %>
          <br> <br>
          <%= link_to "Reject", "#reject", class: "replacement-reject-action", data: { replacement_id: post_replacement.id } %> <br>
          <%#= link_to "Transfer", "transfer", class: "replacement-transfer-action" %> <br>
        <% end %>
        <% if !post_replacement.is_current? && !post_replacement.is_promoted? %>
          <% if !post_replacement.is_backup? %> <%= link_to "As New Post", "#promote", class: "replacement-promote-action", data: { replacement_id: post_replacement.id } %> <br> <% end %>
          <% if !post_replacement.is_pending? %> <%= link_to "Reset To", "#reset-to", class: "replacement-approve-action", data: { replacement_id: post_replacement.id, penalize: false } %> <br> <% end %>
        <% end %>
      </div>
    <% end %>
    <% if CurrentUser.is_admin? %> <br>
      <dd class="replacement-spaced-row"> <%= link_to "Destroy", "#destroy", class: "replacement-destroy-action", data: { replacement_id: post_replacement.id } %> </dd>
    <% end %>
  </div>
  <div class="replacement-datetimes">
    <div class="details-row">
      <span class="replacement-datetime-label">CREATED:</span>
      <span class="details-value"><%= post_replacement.created_at.strftime("%Y-%m-%d %H:%M") %></span>
    </div>
    <div class="details-row">
      <span class="replacement-datetime-label">UPDATED:</span>
      <span class="details-value"><%= post_replacement.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
    </div>
  </div>
  <div class="replacement-image-info">
    <div class="replacement-image-info-label">Image Info</div>
    <div class="info-grid">
      <div class="info-value"><%= post_replacement.image_width %>x<%= post_replacement.image_height %> <%= post_replacement.file_ext %></div>
      <div class="info-value">(<%= number_to_human_size(post_replacement.file_size) %>)</div>
    </div>
  </div>
  <div class="replacement-current-info">
    <div class="replacement-current-info-label">Current (<% link_to( "view", post_path(post_replacement.post.file_url) ) %>)</div> 
    <div class="info-grid">
      <div class="info-value"><%= post_replacement.image_width %>x<%= post_replacement.image_height %> <%= post_replacement.file_ext %></div>
      <div class="info-value">(<%= number_to_human_size(post_replacement.file_size) %>)</div>
    </div>
  </div>
  <div class="replacement-file-details">
    <div class="details-row">
      <span class="details-label">Name:</span>
      <span class="details-value"><%= post_replacement.file_name %></span>
    </div>
    <div class="details-row">
      <span class="details-label">MD5:</span>
      <span class="details-value"><%= post_replacement.md5 %></span>
    </div>
    <div class="details-row">
      <span class="details-label">Replacement ID:</span>
      <span class="details-value"><%= post_replacement.id %></span>
    </div>
  </div>
  <div class="replacement-previous-user">
    <div class="replacement-previous-user-label">Previous uploader</div>
    <div class="uploader-username"><%= link_to_user post_replacement.uploader_on_approve %></div>
    <div class="uploader-penalized">
      <%# if CurrentUser.can_approve_posts? && post_replacement.is_approved? %>
        penalized: <span class="penalized-status"><%= post_replacement.penalize_uploader_on_approve ? "yes" : "no" %></span>
        <%= link_to "toggle", "#toggle", class: "replacement-toggle-penalize-action", data: { replacement_id: post_replacement.id } %>
      <%# end %>
    </div>
  </div>
  <div class="replacement-sources">
    <div class="replacement-sources-label">Sources</div>
    <ul class="sources-list">
        <% post_replacement.source_list.each do |url| %>
          <li class="source-url"><%= truncate(url, length: 32) %></li>
        <% end %>
    </ul>
  </div>
</div>

