<h2>Post Report</h2>

<div class="report-card">
  <div class="report-card-left">
    <% @post = @ticket.content %>
    <%= PostPresenter.preview(@post, show_deleted: true, no_blacklist: true) %>
  </div>
  <div class="report-card-right">
    <p>
      You are about to report a post. Please select a reason for reporting it.<br />
      If you have any additional information, please include it in the description below.
    </p>

    <p>
      Please, keep in mind that reports are for content that violates the rules of the site.<br />
      If you believe that a post goes against the Uploading Guidelines, <a href="<%= new_post_flag_path(post_flag: { post_id: @post.id }) %>">please make a flag instead</a>.
    </p>
  </div>
</div>

<div class="report-reason">
  <% PostReportReason.for_radio.each do |entry| %>
    <label class="radio-label" for="post_report_reason_<%= entry.id %>">
      <input type="radio" name="ticket[report_reason]" value="<%= entry.id %>" class="report-reason-radio" id="post_report_reason_<%= entry.id %>" />
      <span class="report-reason-description">
        <b><%= entry.reason %></b>
        <span><%= entry.description %></span>
      </span>
    </label>
  <% end %>
</div>
