<div id="p-global-listing">
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Wiki</th>
        <% if CurrentUser.is_admin? %>
          <th>IP Address</th>
        <% end %>
        <th>Last edited</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      <% @wiki_page_versions.each do |wiki_page_version| %>
        <tr>
          <td class="category-<%= wiki_page_version.category_id %>">
            <%= link_to wiki_page_version.title, wiki_page_version_path(wiki_page_version) %>
            <% if wiki_page_version.is_deleted? %>
              (deleted)
            <% end %>
          </td>
          <td><%= link_to "wiki", wiki_page_path(wiki_page_version.wiki_page_id) %></td>
          <% if CurrentUser.is_admin? %>
            <td>
              <%= link_to_ip wiki_page_version.updater_ip_addr %>
            </td>
          <% end %>
          <td>
            <%= compact_time(wiki_page_version.updated_at) %>
            <% if wiki_page_version.updater %>
              by
              <%= link_to_user wiki_page_version.updater %>
            <% end %>
          </td>
          <td><%= wiki_page_version.reason %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
