<div id="c-user-feedbacks">
  <div id="a-edit">
    <h1>Edit User Feedback - <%= link_to_user @user_feedback.user %> </h1>

    <%= error_messages_for "user_feedback" %>
    <%= render "form", user_feedback: @user_feedback %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Feedback - <%= @user_feedback.user.name %>
<% end %>
