<div id="c-forum-categories">
  <div id="a-index">
    <div class="box-section">
      <h4>New Category</h4>
      <%= custom_form_for(@new_cat) do |f| %>
        <%= f.input :name %>
        <%= f.input :description, as: :dtext %>
        <%= f.input :can_create, collection: @user_levels, include_blank: false %>
        <%= f.input :can_reply, collection: @user_levels, include_blank: false %>
        <%= f.input :can_view, collection: @user_levels, include_blank: false %>
        <%= f.input :cat_order, label: "Order" %>
        <%= f.button :submit, "Create" %>
      <% end %>
    </div>

    <% @forum_cats.each do |fp| %>
      <div class="box-section">
        <h4><%= fp.name %></h4>
        <%= custom_form_for(fp) do |f| %>
          <%= f.input :name %>
          <%= f.input :description, as: :dtext %>
          <%= f.input :can_create, collection: @user_levels, selected: fp.can_create %>
          <%= f.input :can_reply, collection: @user_levels, selected: fp.can_reply %>
          <%= f.input :can_view, collection: @user_levels, selected: fp.can_view %>
          <%= f.input :cat_order, label: "Order" %>
          <%= f.button :submit, "Update" %>
        <% end %>
      </div>
    <% end %>

    <%= render PaginatorComponent.new(records: @forum_cats) %>
  </div>
</div>

<% content_for(:secondary_links) do %>
  <%= subnav_link_to "Forum Topics", forum_posts_path %>
  <%= subnav_link_to "Help", help_page_path(id: "forum") %>
<% end %>

<% content_for(:page_title) do %>
  Forum Categories
<% end %>
