<div id="c-forum-categories">
  <div id="a-index">
    <p>Note: If any levels are set to "Member", logged-out users will not be able to use that category. Use "Anyone" as
      the default.</p>
    <div class="box-section">
      <h4>New Category</h4>
      <%= simple_form_for(@new_cat) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :can_create, collection: @user_levels %>
        <%= f.input :can_reply, collection: @user_levels %>
        <%= f.input :can_view, collection: @user_levels %>
        <%= f.button :submit, "Create" %>
      <% end %>
    </div>

    <% @forum_cats.each do |fp| %>
      <div class="box-section">
        <h4><%= fp.name %></h4>
        <%= simple_form_for(fp) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :can_create, collection: @user_levels, selected: fp.can_create %>
          <%= f.input :can_reply, collection: @user_levels, selected: fp.can_reply %>
          <%= f.input :can_view, collection: @user_levels, selected: fp.can_view %>
          <%= f.button :submit, "Update" %>
        <% end %>

        <%= link_to "Delete", forum_category_path(id: fp.id), method: :delete, 'data-confirm': 'Are you sure you want to delete this category?' %>
      </div>
    <% end %>

    <div id="paginator">
      <%= numbered_paginator(@forum_cats) %>
    </div>
  </div>
</div>

<% content_for(:secondary_links) do %>
  <menu>
    <%= subnav_link_to "Forum Topics", forum_posts_path %>
    <%= subnav_link_to "Help", help_page_path(id: 'forum') %>
  </menu>
<% end %>
