<h1>OAuth Applications</h1>

<%= render "secondary_links" %>

<div class="instructions">
  <p>All registered OAuth applications.</p>
</div>

<%= render "search" %>

<% if @applications.any? %>
  <div class="api-keys-container">
    <div class="api-keys-list">
      <div class="header">Name</div>
      <div class="header">Owner</div>
      <div class="header">Client ID</div>
      <div class="header">Confidential</div>
      <div class="header">Created</div>
      <div class="header">Actions</div>

      <% @applications.each do |application| %>
        <% owned = application.owner_id == CurrentUser.user.id %>
        <div class="row" id="oauth-application-<%= application.id %>">
          <div class="cell" data-label="Name">
            <% if owned %>
              <%= link_to application.name, edit_oauth_application_path(application) %>
            <% else %>
              <%= link_to application.name, oauth_application_path(application) %>
            <% end %>
          </div>

          <div class="cell" data-label="Owner"><%= link_to_user application.owner %></div>

          <div class="cell" data-label="Client ID"><code><%= application.uid %></code></div>

          <div class="cell" data-label="Confidential"><%= application.confidential? ? "Yes" : "No" %></div>

          <div class="cell" data-label="Created"><%= time_ago_in_words_tagged(application.created_at) %></div>

          <div class="cell" data-label="Actions">
            <% if owned %>
              <div>
                <%= link_to "Edit", edit_oauth_application_path(application) %>
                |
                <%= link_to "Delete", oauth_application_path(application),
                            data: { method: :delete,
                                    confirm: "Delete #{application.name}? Any existing tokens it issued will stop working." } %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render PaginatorComponent.new(records: @applications) %>
<% else %>
  <p>No applications match.</p>
<% end %>

<% content_for(:page_title) do %>
  OAuth Applications
<% end %>
