<div id="c-related-tags">
  <div id="a-show">
    <h1>Related tags</h1>
    <section>
      <%= form_search(path: related_tag_path, always_display: true) do |f| %>
        <%= f.input :query, autocomplete: "tag" %>
        <%= f.input :category_id, collection: TagCategory::CANONICAL_MAPPING.to_a, include_blank: true %>
      <% end %>
    </section>
    <% if @related_tags.query.present? %>
      <section>
        <table class="striped">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @related_tags.tags_for_html.each do |tag, category| %>
              <tr>
                <td class="category-<%= category %>">
                  <%= link_to_wiki_or_new("?", tag) %>
                  <%= link_to(tag, posts_path(:tags => tag)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
     <% end %>
  </div>
</div>

<%= render "tags/secondary_links" %>

<% content_for(:page_title) do %>
  Related tags
<% end %>
