<div>
  <h4>Blacklist for user <%= @user.name %></h4>
  <div class='section' style='width:400px;'>
    <%= form_tag({ action: "update_blacklist" }, method: :post) do %>
      <%= text_area "user", "blacklisted_tags", size: "60x20", readonly: !CurrentUser.user.is_admin? %>
      <% if CurrentUser.user.is_admin? %>
        <%= submit_tag "Save", name: nil %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  <% if CurrentUser.user.is_admin? %>
    Edit Blacklist - <%= @user.name %>
  <% else %>
    View Blacklist - <%= @user.name %>
  <% end %>
<% end %>
