<ul>
  <li>ID: <%= post.id %></li>
  <li class="source-links">Source:
    <% post.source_array.partition { |s| !s.start_with?("-") }.flatten.each do |source| %>
      <div class="source-link"><%= post_source_tag(source) %></div>
    <% end %>
  </li>
  <li>Rating: <%= pretty_html_rating(post) %></li>
  <li>Score: <%= post_vote_block(post, post.own_vote) %>
    <% if CurrentUser.is_moderator? %><span><%= link_to "(votes)", controller: :post_votes, search: { post_id: post.id} %></span><% end %>
  </li>
  <li>
    Posted: <%= link_to time_ago_in_words_tagged(post.created_at), posts_path(:tags => "date:#{post.created_at.to_date}"), :rel => "nofollow" %>
    <meta itemprop="uploadDate" content="<%= post.created_at.iso8601 %>">
  </li>
  <% if CurrentUser.is_janitor? %>
    <li>
      Uploader: <%= link_to_user(post.uploader) %> <%= user_record_meta(post.uploader) %>
      <% if post.uploader_linked_artists.any? %>
        <i class="uploader-is-artist fa-regular fa-circle-check" title="The uploader is linked to one of the artist tags"></i>
      <% end %>
    </li>
  <% end %>
  <% if post.approver %>
    <li>Approver: <%= link_to_user(post.approver) %></li>
  <% end %>
  <li>
    Size: <span itemprop="width"><%= post.image_width %></span>x<span itemprop="height"><%= post.image_height %></span> (<%= number_to_human_size(post.file_size) %>)
  </li>
  <li>
    Type: <%= post.file_ext.upcase %>
  </li>
  <li>
    Status:
    <% if post.is_pending? %>
      Pending
    <% end %>

    <% if post.is_deleted? %>
      Deleted
    <% end %>

    <% if post.is_flagged? %>
      Flagged
    <% end %>

    <% if !post.is_pending? && !post.is_deleted? %>
      Active
    <% end %>
  </li>
  <li>Favorites: <span id="favcount-for-post-<%= post.id %>"><%= post.fav_count %></span>
  <%= link_to "Show", post_favorites_path(post.id), style: ("display: none;" if post.fav_count == 0) %>
</ul>
