<% if post.is_flagged? && !post.is_deleted? && post.flags.any? %>
  <div class="notice notice-flagged">
    <p>This post was flagged for review (<%= link_to "learn more", wiki_pages_path(title: "howto:flag") %>): </p>

    <%= render "posts/partials/show/flag_reasons", post: post %>

    <% if CurrentUser.can_approve_posts? %>
      <div>
        <%= link_to "Delete", confirm_delete_moderator_post_post_path(post), class: 'button btn-neutral' %>
         | <%= tag.a "Unflag", href: '#', 'data-pid': post.id, 'data-type': 'none', class: 'unflag-post-link button btn-neutral' %>
        <% if post.is_approvable? %>
           | <%= tag.a "Unflag+approve", href: '#', 'data-pid': post.id, 'data-type': 'approve', class: 'unflag-post-link button btn-neutral' %>
        <% end %>
        <% unless post.pending_flag&.reason =~ /uploading_guidelines/ %>
           | <%= tag.a "Delete with given reason", href: '#', 'data-post-id': post.id, class: 'delete-with-reason-link button btn-neutral', 'data-reason': '', 'data-prompt': 'given reason' %>
        <% end %>
        <% if !post.parent_id.nil? && post.pending_flag&.reason =~ %r{Inferior version/duplicate of post #\d+} %>
           | <%= tag.a "Move flag to parent", href: '#', 'data-pid': post.id, 'data-parent-id': post.parent_id, class: 'move-flag-to-parent-link button btn-neutral' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if post.is_deleted? %>
  <div class="notice notice-deleted">
    <% if post.flags.any? %>
      <p>This post was deleted or flagged for the following reasons: </p>
      <%= render "posts/partials/show/flag_reasons", post: post %>
    <% else %>
      <p>This post was deleted</p>
    <% end %>

    <%= render "post_disapprovals/counts", disapprovals: post.disapprovals, post: post %>
  </div>
<% end %>

<% if post.is_pending? %>
  <div class="notice notice-pending" id="pending-approval-notice">
    <div class="notice-pending-status">
      This post is pending approval. (<%= link_to "learn more", wiki_pages_path(title: "about:mod_queue") %>)
    </div>

    <% if CurrentUser.can_approve_posts? %>
      <div class="notice-pending-toolbar">
        <%= render "post_disapprovals/counts", disapprovals: post.disapprovals, post: post %>

        <%= render "moderator/post/queues/quick_mod", post: post %>
        <%= render "post_disapprovals/detailed_rejection_dialog" %>
      </div>
    <% end %>
  </div>
<% end %>

<% if post.is_pending? || (post.is_flagged? && post.flags.any?) %>
  <%= render "posts/partials/show/avoid_posting", post: post %>
<% end %>

<% if post.replacements.pending.any? %>
  <div class="notice notice-flagged">
    <p>This post has <%= link_to "pending replacements.", post_replacements_path(search: {post_id: @post.id}) %></p>
  </div>
<% end %>
