<ul>
  <% if CurrentUser.is_member? %>
    <li id="add-to-pool-list"><%= link_to "Add to pool", "#", :id => "pool" %></li>
    <li id="add-to-set-list"><%= link_to "Add to set", "#", id: "set" %></li>
    <li><%= link_to "Set as avatar", "javascript:void", id: "set-as-avatar-link", data: {post_id: post.id} %></li>

    <% if post.is_note_locked? %>
      <li id="add-notes-list"><span id="note-locked-notice">Note locked</span></li>
    <% else %>
      <li id="add-notes-list"><%= link_to "Add note", "#", :id => "translate", :"data-shortcut" => "n" %></li>
    <% end %>
    <% if post.has_notes? %>
      <li id="copy-all-notes-list"><%= link_to "Copy notes", "#", :id => "copy-notes" %></li>
    <% end %>

    <% if CurrentUser.can_replace? %>
      <li><%= link_to "Replace image", new_post_replacement_path(post_id: post.id), id: "replace-image" %></li>
    <% end %>
    <% if post.is_status_locked? %>
      <li><span id="status-locked-notice">Status locked</span></li>
    <% else %>
      <% unless CurrentUser.no_flagging? %>
        <% if !post.is_deleted? && !post.is_flagged? %>
          <li><%= link_to "Flag", new_post_flag_path(post_flag: {post_id: post.id}), id: "flag" %></li>
        <% end %>
      <% end %>
      <li><%= link_to "Report", new_ticket_path(disp_id: post.id, qtype: 'post') %></li>
    <% end %>
  <% end %>
</ul>
