<div id="c-comment-votes">
  <div id="a-index">
    <div class='section'>
      <table class="search">
        <%= form_tag({action: "index"}, method: :get) do %>
          <tr>
            <td><label for="user_name">User</label></td>
            <td><%= text_field_tag "user_name", params[:user_name], id: "user_name", size: 25 %> <%= submit_tag "Search" %></td>
          </tr>
        <% end %>
        <%= form_tag({action: "index"}, method: :get) do %>
          <tr>
            <td><label for="post_id">Comment ID</label></td>
            <td><%= text_field_tag "comment_id", params[:post_id], id: "comment_id", size: 25 %> <%= submit_tag "Search" %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <table class="striped" id='votes'>
      <thead>
      <tr>
        <th style='width:8%;'>ID</th>
        <th style='width:8%;'>Comment</th>
        <th>Comment User</th>
        <th style='width:40%;'>User</th>
        <th style='width:10%;'>Vote</th>
        <th style='width:16%;'>Created</th>
        <th style='width:17%;'>Updated</th>
        <th>IP</th>
      </tr>
      </thead>
      <tbody>
      <% @comment_votes.each do |vote| %>
        <tr id="r<%= vote.id %>">
          <td><%= vote.id %></td>
          <td><%= link_to vote.comment_id, comment_path(vote.comment) %></td>
          <td><%= mod_link_to_user vote.comment.creator, :negative %></td>
          <td><%= mod_link_to_user vote.user, :negative %></td>
          <td>
            <% if vote.score == 1 %><span class='greentext'>Up</span>
            <% elsif vote.score == 0 %><span class='yellowtext'>Locked</span>
            <% elsif vote.score == nil %>Unrecorded
            <% else %><span class='redtext'>Down</span>
            <% end %></td>
          <td title="Created at <%= vote.created_at.strftime("%c") %>"><%= time_ago_in_words(vote.created_at) %> ago
          </td>
          <td title="Updated at <%= vote.updated_at.strftime("%c") %>"><%= time_ago_in_words(vote.updated_at) %> ago
          </td>
          <td><%= link_to_ip vote.user_ip_addr %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br/>
    <%= tag.button "Select All", id: "select-all-votes" %><br/>
    <%= tag.button "Lock Votes",  id: "lock-votes" %> Set the votes to 0, preventing the user
    from voting on the image again<br/>
    <%= tag.button "Delete Votes", id: "delete-votes" %> Remove the votes

    <%= javascript_tag nonce: true do -%>
      new Danbooru.VoteManager('comment');
    <% end -%>

    <div id="paginator">
      <%= sequential_paginator(@comment_votes) %>
    </div>
  </div>
</div>

