<div id="c-takedowns">
  <div id="a-index">
    <%= render partial: 'search', locals: {path: takedowns_path} %>
    <table class="striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Source</th>
        <% if CurrentUser.is_admin? %>
          <th>Email</th>
          <th>IP Address</th>
        <% end %>
        <th>Status</th>
        <th>Post count</th>
        <th>Date</th>
        <% if CurrentUser.is_admin? %>
          <th width="5%"></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @takedowns.each do |takedown| %>
        <%= tag.tr(id: "takedown-#{takedown.id}") do %>
          <td><%= link_to takedown.id, takedown_path(takedown) %></td>
          <td>
            <% if !takedown.reason_hidden || CurrentUser.is_moderator? %>
              <% if takedown.source.match(/\Ahttps?:\/\//i) %>
                <%= link_to takedown.source, takedown.source, rel: "noopener noreferrer nofollow" %>
              <% else %>
                <%= link_to takedown.source, "https://#{takedown.source}", rel: "noopener noreferrer nofollow" %>
              <% end %>
            <% else %>
              <span class="text-error">(Source hidden)</span>
            <% end %>
          </td>

          <% if CurrentUser.is_admin? %>
            <td><%= takedown.email %></td>
            <td><%= link_to_ip takedown.creator_ip_addr %></td>
          <% end %>

          <%= pretty_takedown_status(takedown) %>

          <td><%= takedown.post_count %></td>

          <td><%= time_ago_in_words_tagged takedown.created_at %></td>
          <% if CurrentUser.is_admin? %>
            <td><%= link_to "Delete", takedown_path(takedown), method: :delete, data: {confirm: 'Are you sure you want to delete this takedown?'} %></td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@takedowns) %>
  </div>
</div>

<%= render "takedowns/secondary_links" %>

<% content_for(:page_title) do %>
  Takedowns
<% end %>
