<div id="c-takedowns">
  <div id="c-new">
    <h4>You may request a takedown by submitting the following form.</h4>
    <p>Please read our <%= link_to "takedown policy page", takedown_static_path %> before submitting a takedown request form. This form is for use ONLY by people who have a legitimate copyright/trademark infringement claim.</p>
    <p>If you feel you need to handle a takedown request with an admin personally, you can email <%= Danbooru.config.takedown_email %></p>
    <br>

    <%= custom_form_for(@takedown) do |f| %>
      <div class='section' style='width:600px;'>
        <label for="takedown_source">Your Gallery URL (FurAffinity, DeviantArt, personal site, etc.)</label>

        <p class='nomargin'>Example:</p>
        <ul>
          <li>https://www.furaffinity.net/user/your_name</li>
          <li>https://www.deviantart.com/your_name</li>
          <li>https://mywebsite.com</li>
        </ul>
        <p class='nomargin'>In the next step, you will send a private message from the gallery account you specify, or an e-mail from your website's address/domain.</p>
        <%= f.input :source, as: :string, required: true %>
      </div>

      <div class='section' style='width:600px;'>
        <label for="takedown_email">Your Email Address</label>
        <p class='nomargin'>Used to contact you if we need further information, and to inform you when the request is completed. It is only visible to admins and will not be used for any other purpose than to contact you regarding your takedown request.</p>

        <%= f.input :email, as: :string, required: true %>
      </div>

      <div class='section' style='width:600px;'>
        <label for="takedown_post_list">IDs or URLs of the offending images</label>
        <p class='nomargin'>A list of either image IDs (like 75512) or URLs (like <%= post_url 75512 %>), one per line.</p>
        <%= f.input :post_ids, as: :text, label: 'Posts' %>

        <div class='takedown-instructions-header'>OR</div>

        <label for="takedown_instructions">Special instructions</label>
        <p class="nomargin">You can supply instructions instead of a list of posts to delete. Example: "Delete everything with the tag john_doe"</p>
        <%= f.input :instructions, as: :text, label: 'Special Instructions' %>
      </div>

      <div class='section' style='width:600px;'>
        <label for="takedown_reason">Reason for takedown request</label><br>

        <p class='nomargin'>Why do you want the artwork to be removed?</p>
        <%= f.input :reason, as: :text, required: true %>
        <br>
        <%= f.input :reason_hidden, label: 'Hide Reason From Public' %><label for="takedown_reason_hidden">Hide the reason from the public?</label><br>Note: This is only to be used if your takedown request contains sensitive or private information. It is NOT for hiding reasons such as "No one asked me for permission". The site administration may remove this checkmark from your takedown request if it's been added unnecessarily.</label>
      </div>

      <p style='font-weight:bold;'>For the quickest processing of your takedown request, please follow the additional instructions that are displayed on the next page after your request has been submitted.</p>

      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>

<%= render partial: 'secondary_links' %>

<% content_for(:page_title) do %>
  New Takedown
<% end %>
