<% content_for(:secondary_links) do %>
  <li><%= render "users/quick_search" %></li>
  <%= subnav_link_to "Listing", users_path %>
  <%= subnav_link_to "Search", search_users_path %>

  <% if CurrentUser.user.is_anonymous? %>
    <%= subnav_link_to "Sign up", new_user_path %>
  <% end %>

  <% if @user && !@user.new_record? && !CurrentUser.user.is_anonymous? %>
    <li>|</li>
    <% if @user.id == CurrentUser.user.id %>
      <%= subnav_link_to "Settings", edit_user_path(CurrentUser.user) %>
      <%= subnav_link_to "Profile", user_path(CurrentUser.user) %>
      <%= subnav_link_to "Messages #{unread_dmails(CurrentUser.user)}", dmails_current_folder_path %>
      <%= subnav_link_to "Blocked Users", user_blocks_path(CurrentUser.user) %>
    <% else %>
      <%= subnav_link_to "Send message", new_dmail_path(dmail: { to_id: @user.id }) %>
      <%= subnav_link_to "Report/Commend", new_ticket_path(disp_id: @user.id, qtype: "user") %>
      <% if CurrentUser.user.is_blocking?(@user) %>
        <%= subnav_link_to "Edit Block", edit_user_block_path(CurrentUser.user, CurrentUser.user.block_for(@user)) %>
      <% else %>
        <%= subnav_link_to "Block", new_user_block_path(CurrentUser.user, user_block: { target_id: @user.id }) %>
      <% end %>
      <% if CurrentUser.user.is_admin? %>
        <%= subnav_link_to "Blocked Users", user_blocks_path(@user) %>
      <% end %>
    <% end %>

    <% if CurrentUser.is_admin? %>
      <% if CurrentUser.is_bd_staff? %>
        <%= subnav_link_to "Reset Password", request_password_reset_admin_user_path(@user) %>
      <% end %>
      <%= subnav_link_to "Edit Blacklist", edit_blacklist_admin_user_path(@user) %>
      <%= subnav_link_to "Edit User", edit_admin_user_path(@user) %>
    <% end %>
    <% if CurrentUser.is_moderator? %>
      <% if @user.is_banned? %>
        <%= subnav_link_to "Unban", ban_path(@user.recent_ban) %>
      <% else %>
        <%= subnav_link_to "Ban", new_ban_path(ban: { user_id: @user.id }) %>
      <% end %>
    <% end %>

    <li>|</li>
    <%= subnav_link_to "Sign out", session_path, method: :delete %>
  <% end %>
<% end %>
