<div class="stats-section">
  <div class="profile-avatar">
    <%= user_avatar @user %>
  </div>
  <div class="profile-stats">
    <h1><%= link_to_user @user %></h1>
    <div class="user-statistics">
      <div class="column">
        <span>Join Date</span>
        <span><%= compact_time @user.created_at %></span>

        <span>Level</span>
        <span><%= "(Unactivated)" unless user.is_verified? %> <%= presenter.level %></span>

        <% if user.is_banned? && user.recent_ban %>
          <span>Ban reason</span>
          <span class="dtext-container"><%= format_text presenter.ban_reason %></span>
        <% end %>

        <span>Posts</span>
        <span>
          <%= presenter.active_upload_count(self) %>
          <% if CurrentUser.is_moderator? %>
            [<%= link_to "sample", posts_path(tags: "user:#{user.name} order:random limit:300") %>]
          <% end %>
          [<%= link_to "pending", posts_path(tags: "user:#{user.name} status:pending") %>]
          (<%= link_to "comments on", comments_path(group_by: :comment, search: {poster_id: user.id}) %>)
          <% if CurrentUser.is_moderator? %>
            (<%= link_to "votes", action: "index", controller: "post_votes", search: { user_name: user.name } %>)
          <% end %>
        </span>

        <span>Deleted</span>
        <span>
          <%= presenter.deleted_upload_count(self) %>
          <% if CurrentUser.is_moderator? %>
            [<%= link_to "sample", posts_path(:tags => "user:#{user.name} order:random limit:300 status:deleted") %>]
          <% end %>
        </span>

        <span>Replaced</span>
        <span>
          <%= presenter.replaced_upload_count(self) %>
          [<%= link_to "pending", post_replacements_path(search: { creator_name: user.name }) %>]
        </span>

        <span>Rejected</span>
        <span><%= presenter.rejected_replacements_count(self) %></span>

        <span>Favorites</span>
        <span>
          <%= presenter.favorite_count(self) %>
          <% if CurrentUser.is_moderator? %>
            [<%= link_to "sample", posts_path(:tags => "fav:#{user.name} order:random limit:300") %>]
          <% end %>
        </span>

        <span>Forum Posts</span>
        <span>
          <%= presenter.forum_post_count(self) %>
          (<%= link_to "mentions", forum_posts_path(search: { body_matches: user.name }) %>)
        </span>

        <span>Comments</span>
        <span>
          <%= presenter.comment_count(self) %> on <%= presenter.commented_posts_count(self) %> posts
          (<%= link_to "mentions", comments_path(group_by: :comment, search:{ body_matches: user.name }) %>)
          <% if CurrentUser.is_moderator? %>
            (<%= link_to "votes", action: "index", controller: "comment_votes", search: { user_name: user.name } %>)
          <% end %>
        </span>

        <% if user.can_approve_posts? || Post.where(approver: user).exists? %>
          <span>Approvals</span>
          <span><%= presenter.approval_count(self) %></span>
        <% end %>

        <% if CurrentUser.user.id == user.id || CurrentUser.is_janitor? %>
          <% if presenter.previous_names(self).present? %>
            <span>Previous Names</span>
            <span><%= presenter.previous_names(self) %> -> <%= user.name %></span>
          <% end %>
        <% end %>

        <% if CurrentUser.is_admin? %>
          <span>Email</span>
          <span>
            <%= user.email %>
            <%= email_domain_search(user.email) %>
          </span>
          <span>Last IP</span>
          <span><%= link_to_ip(user.last_ip_addr) %></span>
        <% end %>
      </div>

      <div class="column">
        <span>Feedback</span>
        <span>
          <%= presenter.feedbacks %>
          <%= link_to("List", user_feedbacks_path(search: { user_id: @user.id })) %>
          <% if CurrentUser.is_moderator? && @user.feedback.count.zero? %>
            | <%= link_to("Create", new_user_feedback_path(user_feedback: { user_id: @user.id, category: "neutral" })) %>
          <% end %>
        </span>

        <span>Permissions</span>
        <span><%= presenter.permissions %></span>

        <span>Upload Limit</span>
        <span>
          <%= presenter.upload_limit(self) %>
          <% if CurrentUser.user.id == user.id  %>
            (<%= link_to "help", upload_limit_users_path %>)
          <% else %>
            (<%= link_to "help", wiki_page_path(id: "upload_limit") %>)
          <% end %>
        </span>

        <span>Post Changes</span>
        <span>
          <%= presenter.post_version_count(self) %>
          <% if CurrentUser.is_moderator? && UserRevert.can_revert?(user) %>
            [<%= link_to "revert all", new_user_revert_path(user_id: user.id) %>]
          <% end %>
        </span>

        <span>Wiki Page Changes</span>
        <span><%= presenter.wiki_page_version_count(self) %></span>

        <span>Note Changes</span>
        <span><%= presenter.note_version_count(self) %> on <%= presenter.noted_posts_count(self) %> posts</span>

        <span>Artist Changes</span>
        <span><%= presenter.artist_version_count(self) %></span>

        <span>Pool Changes</span>
        <span><%= presenter.pool_version_count(self) %></span>

        <% if CurrentUser.user.id == user.id || CurrentUser.is_janitor? %>
          <span>Flags</span>
          <span><%= presenter.flag_count(self) %></span>
        <% end %>

        <% if CurrentUser.user.id == user.id || CurrentUser.is_moderator? %>
            <span>Tickets</span>
            <span>
              <%= presenter.ticket_count(self) %>
              <% if CurrentUser.is_moderator? %>
                [<%= link_to "pending", tickets_path(search: { creator_id: user.id, status: "pending" }) %>]
                [<%= link_to "accused", tickets_path(search: { accused_id: user.id }) %>]
              <% end %>
            </span>
          <% end %>

        <% if CurrentUser.id == user.id %>
          <span>API Key</span>
          <span>
            <%= link_to (CurrentUser.api_key ? "View" : "Generate"), user_api_key_path(CurrentUser.user) %>
            (<%= link_to "help", help_page_path(id: "api") %>)
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
