<div id="c-users"><div id="a-edit">
  <h1>Settings</h1>

  <tabs-menu id="settings-tabs">
    <button role="tab" name="basic">Basic</button>
    <button role="tab" name="advanced">Advanced</button>
    <button role="tab" name="blacklist">Blacklist</button>
    <span class="spacer"></span>
    <input type="text" name="search" placeholder="Search Settings" />
  </tabs-menu>

  <%= custom_form_for @user do |form| %>
  <tabs-content for="settings-tabs">
    <%= render "users/partials/edit/basic", form: form %>
    <%= render "users/partials/edit/advanced", form: form %>
    <%= render "users/partials/edit/blacklist", form: form %>
    <tab-submit>
      <%= form.button :submit, "Save Settings" %>
    </tab-submit>
  </tabs-content>
  <% end %>
</div></div>

<noscript>
  <style>
    tabs-menu { display: none !important; }
    tab-group { display: flex !important; }
    tabs-content tab-entry { display: grid !important; }
  </style>
</noscript>

<% content_for(:page_title) do %>
  Settings
<% end %>

<%= render "secondary_links" %>
