<div id="c-users">
  <div id="a-index">
    <h1>Users</h1>

    <%= render "search" %>
    <table width="100%" class="striped">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <% if CurrentUser.is_moderator? %>
            <th>Email</th>
            <th>Last IP</th>
          <% end %>
          <th>Posts</th>
          <th>Deleted</th>
          <th>Post<br>Edits</th>
          <th>Note<br>Edits</th>
          <th>Wiki<br>Edits</th>
          <th>Artist<br>Edits</th>
          <th>Pool<br>Edits</th>
          <th>Forum<br>Posts</th>
          <th>Comments</th>
          <th>Level</th>
          <th>Joined</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <% if CurrentUser.is_admin? %>
                <%= link_to "Edit", edit_admin_user_path(user) %>
              <% end %>
            </td>
            <td>
              <%= link_to_user user %>
            </td>
            <% if CurrentUser.is_moderator? %>
              <td><%= user.email %></td>
              <td><%= link_to_ip(user.last_ip_addr) %></td>
            <% end %>
            <td><%= link_to user.post_upload_count, posts_path(tags: "user:#{user.name}") %></td>
            <td><%= link_to user.post_deleted_count, posts_path(tags: "user:#{user.name} status:deleted") %></td>
            <td><%= link_to user.post_update_count, post_versions_path(search: { updater_id: user.id }) %></td>
            <td><%= link_to user.note_version_count, note_versions_path(search: { updater_id: user.id }) %></td>
            <td><%= link_to user.wiki_page_version_count, wiki_page_versions_path(search: { updater_id: user.id }) %></td>
            <td><%= link_to user.artist_version_count, artist_versions_path(search: { updater_id: user.id }) %></td>
            <td><%= link_to user.pool_version_count, pool_versions_path(search: { updater_id: user.id }) %></td>
            <td><%= link_to user.forum_post_count, forum_posts_path(search: { creator_id: user.id }) %></td>
            <td><%= link_to user.comment_count, comments_path(search: { creator_id: user.id }, group_by: "comment") %></td>
            <td><%= "(Unactivated)" unless user.is_verified? %> <%= user.level_string %></td>
            <td><%= compact_time user.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@users) %>

  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Users
<% end %>
