<div id="c-users"><div id="a-new">
  <%= custom_form_for(@user, html: { id: "signup-form", class: "session_form" }) do |f| %>
    <h1>Sign Up</h1>

    <%= f.input :name, label: "Username", as: :string %>
    <%= f.input :email, :required => true, as: :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.input :time_zone, include_blank: false %>

    <% if Danbooru.config.enable_recaptcha? %>
      <%= recaptcha_tags theme: "dark", nonce: content_security_policy_nonce %>
    <% end %>
    <%= f.submit "Sign up", :data => { :disable_with => "Signing up..." } %>
  <% end %>
  <section class="session_info">
    <h3>
      Already have an account? <%= link_to "Sign In.", new_session_path %>
    </h3>
    <p>Please, read the <a href="/wiki_pages/e621:rules">site rules</a> before making an account.</p>
    <p>You must confirm your email address, so you should only use one that you have access to.</p>
    <p>This site is open to web crawlers, meaning that almost everything is public.</p>
    <p>This includes your account name, favorites, uploads, and comments. Do not choose a name you don't want to be associated with.</p>
    <p>Accounts have the same blacklist as guests by default. You will be able to modify your blacklist in the account settings.</p>
  </div>
</div></div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Sign up
<% end %>
