<div id="c-users">
  <div id="a-show">
    <div class="profile-container">
      <%= render "statistics", :presenter => @presenter, :user => @user %>

      <div class="bottom-section">
        <div class="posts-section">
          <% if @presenter.can_view_favorites? %>
            <div class="blacklist">
            <%= render "posts/partials/common/inline_blacklist" %>
            </div>
            <div class="posts">
            <%= render "post_summary", :presenter => @presenter, :user => @user %>
            </div>
          <% end %>
        </div>
        <%= render "about", presenter: @presenter, user: @user %>
      </div>
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  User - <%= @presenter.name %> - <%= Danbooru.config.app_name %>
<% end %>

<% content_for(:html_header, auto_discovery_link_tag(:atom, comments_url(:atom, search: {post_tags_match: "user:#{@user.name}"}), title: "Comments on #{@user.name}'s uploads")) %>
<% content_for(:html_header, auto_discovery_link_tag(:atom, comments_url(:atom, search: {post_tags_match: "commenter:#{@user.name}"}), title: "Comments on posts commented on by #{@user.name}")) %>
