<div id="c-users">
  <div id="a-show">
    <%= render "statistics", :presenter => @presenter, :user => @user %>

    <% if @presenter.can_view_favorites? %>
      <%= render "posts/partials/common/inline_blacklist" %>
    <% end %>
    <div class="profile-container">
      <% if @presenter.can_view_favorites? %>
        <%= render "post_summary", :presenter => @presenter, :user => @user %>
      <% end %>
      <%= render "about", presenter: @presenter, user: @user %>
    </div>

  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  User - <%= @presenter.name %> - <%= Danbooru.config.app_name %>
<% end %>

<% content_for(:html_header, auto_discovery_link_tag(:atom, comments_url(:atom, search: {post_tags_match: "user:#{@user.name}"}), title: "Comments on #{@user.name}'s uploads")) %>
<% content_for(:html_header, auto_discovery_link_tag(:atom, comments_url(:atom, search: {post_tags_match: "commenter:#{@user.name}"}), title: "Comments on posts commented on by #{@user.name}")) %>
