<div id="c-note-versions">
  <div id="a-index">
    <h1>Note Changes</h1>

    <%= render "search" %>

    <% if params.dig(:search, :post_id).present? || params.dig(:search, :note_id).present? %>
      <%= render "revert_listing" %>
    <% else %>
      <%= render "standard_listing" %>
    <% end %>

    <%= render PaginatorComponent.new(records: @note_versions) %>

    <%= render "notes/secondary_links" %>
  </div>
</div>

<% content_for(:page_title) do %>
  Note Versions
<% end %>
