<div id="c-tag-alias-requests">
  <div id="a-new">
    <h1>Tag Alias Request</h1>

    <%= error_messages_for :tag_alias_request %>

    <p>You can request a new tag alias be created. This will create a corresponding forum topic for community
      review.</p>

    <%= custom_form_for(:tag_alias_request, url: tag_alias_request_path) do |f| %>
      <%= f.input :antecedent_name, label: "From", autocomplete: "tag" %>
      <%= f.input :consequent_name, label: "To", autocomplete: "tag" %>
      <%= f.input :reason, as: :dtext, limit: Danbooru.config.forum_post_max_size %>
      <% if CurrentUser.is_admin? %>
        <%= f.input :skip_forum, as: :boolean, label: "Skip forum topic creation" %>
      <% end %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>

<%= render "tag_aliases/secondary_links" %>

<% content_for(:page_title) do %>
  Tag Alias Request
<% end %>
