<div id="c-admin-stuck-dnp">
  <div id="a-new">
    <h1>Remove stuck DNP tags</h1>
    <p>
      Use this to remove <%= link_to "avoid_posting", avoid_posting_static_path %> and <%= link_to "conditional_dnp", show_or_new_wiki_pages_path(title: "conditional_dnp") %> from posts of artists who got removed from the DNP list.
    </p>
    <p>
      Limit of 1,000 posts at a time.
    </p>
    <%= custom_form_for(:stuck_dnp, url: admin_stuck_dnp_path, method: :post) do |f| %>
      <%= f.input :query %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Stuck DNP
<% end %>
