<div id="c-news-updates">
  <div id="a-index">
    <h1>News Updates</h1>

    <table class="striped">
      <thead>
        <tr>
          <th>Creator</th>
          <th>Date</th>
          <th>Message</th>
          <% if CurrentUser.is_admin? %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @news_updates.each do |news_update| %>
          <tr id="news-update-<%= news_update.id %>">
            <td><%= link_to_user news_update.creator %></td>
            <td><%= compact_time news_update.updated_at %></td>
            <td><div class="dtext-container"><%= format_text news_update.message %></div></td>
            <% if CurrentUser.is_admin? %>
              <td><%= link_to "Edit", edit_news_update_path(news_update) %> | <%= link_to "Delete", news_update_path(news_update), :method => :delete %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= render PaginatorComponent.new(records: @news_updates) %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  News Updates
<% end %>
