<% content_for(:secondary_links) do %>
  <%= subnav_link_to "Listing", posts_path %>
  <%= subnav_link_to "Upload", new_upload_path %>
  <%= subnav_link_to "Changes", post_versions_path %>
  <%= subnav_link_to "Help", help_page_path(id: "posts") %>
  <% if params[:action] == "index" && CurrentUser.is_privileged? %>
    <li class="divider"></li>
    <%= subnav_link_to "Undo selected", "" %>
    <%= subnav_link_to "Select All", "" %>
    <% if CurrentUser.is_moderator? %>
      <li class="divider"></li>
      <%= subnav_link_to "Apply Tag Script To Selected", "" %>
    <% end %>
  <% end %>
  <% if @latest.present? %>
    <li class="divider"></li>
    <%= subnav_link_to "Latest", @latest %>
  <% end %>
<% end %>
