<div id="c-staff-files">
  <div id="a-index">
    <section>
      <h1>Staff Files</h1>

      <%= render "search" %>
      <table class="striped">
        <thead>
          <tr>
            <th>File</th>
            <th>Type</th>
            <th>Size</th>
            <th>Uploader</th>
            <th>Uploaded</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @staff_files.each do |staff_file| %>
            <tr>
              <td><%= link_to staff_file.title, staff_file_path(staff_file) %></td>
              <td><%= staff_file.file_ext %></td>
              <td><%= number_to_human_size(staff_file.file_size) %></td>
              <td><%= link_to_user staff_file.creator %></td>
              <td><%= compact_time staff_file.created_at %></td>
              <td>
                <% if staff_file.can_delete?(CurrentUser.user) %>
                  <%= link_to "Delete", staff_file_path(staff_file), method: :delete, data: { confirm: "Are you sure you want to delete this file?" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= render PaginatorComponent.new(records: @staff_files) %>
    </section>
  </div>
</div>

<% content_for(:page_title) do %>
  Staff Files
<% end %>

<%= render "secondary_links" %>
