<% if post.deleteblocked? -%>
  <p>You can not view this image.</p>
<% elsif post.loginblocked? %>
  <p>You must be logged in to view this image. <%= link_to "(learn more)", help_page_path(id: "global_blacklist") %></p>
<% elsif post.safeblocked? -%>
  <p>This image is unavailable in safe mode (<%= Danbooru.config.app_name %>). Go
    to <%= link_to("e621", "https://e621.net/posts/#{post.id}") %> or disable safe mode to view
    (<%= link_to("learn more", help_page_path(id: "user_settings")) -%>).</p>
<% elsif post.is_flash? -%>
  <%= render("posts/partials/show/content/embedded/flash", post: post) -%>
<% elsif post.is_video? -%>
  <%= render("posts/partials/show/content/embedded/video", post: post) -%>
<% elsif !post.is_image? -%>
  <%= render("posts/partials/show/content/embedded/download", post: post) -%>
<% elsif post.is_image? -%>
  <%= render("posts/partials/show/content/embedded/image", post: post) -%>
<% end %>
