<div id="form-content">
  <%= error_messages_for("wiki_page") %>

  <%= custom_form_for(@wiki_page) do |f| %>
    <% if @wiki_page.new_record? %>
      <%= f.input :title, error: false, autocomplete: "tag" %>
    <% elsif CurrentUser.is_janitor? %>
      <%= f.input :title, error: false, autocomplete: "tag", hint: "Change to rename this wiki page. Move the tag and update any wikis linking to this page first." %>
    <% else %>
      <h1 id="wiki-page-title"><%= @wiki_page.pretty_title %></h1>
    <% end %>

    <%= f.input :body, as: :dtext, limit: Danbooru.config.wiki_page_max_size, allow_color: true %>

    <%= f.input :parent, label: "Redirects to", autocomplete: "wiki-page", input_html: { disabled: !CurrentUser.is_privileged? } %>

    <% if CurrentUser.is_janitor? && @wiki_page.is_deleted? %>
      <%= f.input :is_deleted, :label => "Deleted", :hint => "Uncheck to restore this wiki page" %>
    <% end %>

    <% if CurrentUser.is_janitor? %>
      <%= f.input :is_locked, :label => "Locked" %>
    <% end %>

    <%= f.input :edit_reason, label: "Edit Reason" %>

    <% if CurrentUser.is_janitor? && @wiki_page.errors[:title]&.any? { |error| error.include?("Move the posts and update any wikis linking to this page first.") }  %>
      <%= f.input :skip_secondary_validations, as: :boolean, label: "Force rename", hint: "Ignore the renaming requirements" %>
    <% end %>

    <%= f.button :submit, "Submit" %>
  <% end %>
</div>
