<div id="c-wiki-pages">
  <div id="a-index">
    <%= render "sidebar" %>

    <section id="content">
      <h1>Wiki</h1>

      <%= render "search" %>
      <table class="striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Last edited</th>
            <th>History</th>
          </tr>
        </thead>
        <tbody>
          <% @wiki_pages.each do |wiki_page| %>
            <tr>
              <td class="category-<%= wiki_page.category_id %>"><%= link_to wiki_page.pretty_title, wiki_page_path(wiki_page) %></td>
              <td><%= compact_time wiki_page.updated_at %> by <%= link_to_user wiki_page.updater %></td>
              <td><%= link_to "History", wiki_page_versions_path(search: { wiki_page_id: wiki_page.id }) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= render PaginatorComponent.new(records: @wiki_pages) %>
    </section>
  </div>
</div>

<% content_for(:page_title) do %>
  Wiki
<% end %>

<%= render "secondary_links" %>
