<div id="c-wiki-pages">
  <div id="a-new">
    <%= render "sidebar" %>

    <section id="content">
      <h1>New Wiki Page</h1>

      <%= render "form" %>

      <%= wiki_page_alias_and_implication_list(@wiki_page)%>
      <%= wiki_page_post_previews(@wiki_page) %>
      <div class="clearfix"></div>

    </section>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  New Wiki Page
<% end %>
