<div id="c-wiki-pages">
  <div id="a-show">
    <%= render "sidebar" %>

    <section id="content">
      <h1 id="wiki-page-title">
        <%= link_to @wiki_page.pretty_title_with_category, posts_path(:tags => @wiki_page.title), :class => "tag-type-#{@wiki_page.category_id}" %>
      </h1>
      <div id="wiki-page-body" class="dtext-container">
        <p>This wiki page does not exist. <%= link_to "Create new wiki page", new_wiki_page_path(:wiki_page => {:title => params[:title]}) %>.</p>
      </div>

      <% if @wiki_page.tag&.category == Tag.categories.artist %>
        <%= link_to("View artist",  show_or_new_artists_path(name: @wiki_page.title)) %>
      <% end %>

      <%= wiki_page_alias_and_implication_list(@wiki_page)%>

      <%= wiki_page_post_previews(@wiki_page) %>
    </section>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Wiki - <%= @wiki_page.title %>
<% end %>
