<% wiki_content = @wiki_redirect.presence || @wiki_page %>
<div id="c-wiki-pages">
  <div id="a-show">
    <%= render "sidebar" %>

    <section id="content">
      <h1 id="wiki-page-title">

        <%= link_to wiki_content.pretty_title_with_category, posts_path(:tags => wiki_content.title), :class => "tag-type-#{wiki_content.category_id}" %>

        <% if wiki_content.is_locked? %>
          (locked)
        <% end %>

        <% if wiki_content.is_deleted? %>
          (deleted)
        <% end %>
      </h1>
      <% if @wiki_redirect.present? %>
      <div class="wiki-page-redirect"><i class="fa-solid fa-turn-up fa-rotate-90"></i> <%= @wiki_page.title %></div>
      <% end %>

      <div id="wiki-page-body" class="dtext-container">
        <% if wiki_content.body.present? %>
          <%= format_text(wiki_content.body, allow_color: true, max_thumbs: 75) %>  
        <% else %>
          <p>This wiki page is empty. <%= link_to "Click here to add details", edit_wiki_page_path(@wiki_page) %>.</p>
        <% end %>

        <% if wiki_content.artist %>
          <p><%= link_to "View artist", show_or_new_artists_path(name: wiki_content.artist.name) %></p>
        <% end %>

        <%= wiki_page_alias_and_implication_list(wiki_content) %>
      </div>

        <%= wiki_page_post_previews(wiki_content) %>
    </section>
  </div>
</div>

<% render(partial: "static/embed", locals: { record: wiki_content, name: wiki_content.pretty_title, description: wiki_content.body.present? ? strip_tags(format_text(wiki_content.body)).truncate(200) : "" }) %>

<% content_for(:page_title) do %>
  Wiki - <%= wiki_content.pretty_title %>
<% end %>

<%= render "secondary_links" %>
