<div id="c-tickets">
  <div id="a-index">
    <%= render partial: 'search' %>

    <h2>Ticket Center</h2>
    <table class="striped">
      <thead>
        <tr>
          <th style="width:5%">ID</th>
          <% if CurrentUser.is_moderator? %>
            <th style="width:10%">Reporter</th>
            <th style="width:10%">Accused</th>
            <th style="width:10%">Claimed By</th>
          <% end %>
          <th style="width:15%">Type</th>
          <th style="width:25%">Subject</th>
          <th style="width:8%">Status</th>
          <th style="width:10%">Updated</th>
          <th style="width:18%">Created</th>
        </tr>
      </thead>

      <tbody>
        <% @tickets.each do |ticket| %>
          <tr data-link="<%= ticket_path(ticket) %>">
            <td><%= link_to ticket.id, ticket_path(ticket) %></td>
            <% if CurrentUser.is_moderator? %>
              <td><%= link_to_user ticket.creator %></td>
              <td>
                <% if ticket.accused %>
                  <%= link_to_user ticket.accused %>
                <% end %>
              </td>
              <td>
              <% if ticket.claimant.nil? %>
                <span class="text-error">Unclaimed</span>
              <% else %>
                <%= link_to_user ticket.claimant %>
              <% end %>
              </td>
            <% end %>
            <td><%= link_to ticket.type_title, ticket_path(ticket) %></td>

            <%= tag.td class: "ticket-subject full-width-link", title: truncate(strip_tags(format_text(ticket.reason)), length: 200) do %>
              <%= link_to truncate(strip_tags(format_text(ticket.subject)), length: 200), ticket_path(ticket.id) %>
            <% end %>

            <td class="<%= ticket.status %>-ticket"><%= pretty_ticket_status(ticket) %></td>
            <td style="cursor:help;"><%= time_ago_in_words_tagged(ticket.updated_at) %></td>
            <td style="cursor:help;"><%= time_ago_in_words_tagged(ticket.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@tickets) %>
  </div>
</div>

<% render partial: 'secondary_links' %>

<% content_for(:page_title) do %>
  Tickets
<% end %>
