<div id="c-tickets">
  <div id="a-new">

    <%= simple_form_for(@ticket) do |f| %>
      <% @found_item = true %>
      <% if params[:type].nil? %>
        <% @found_item = false %>
        <div class='section' style='width:80em;'>
          To submit a ticket about a problematic comment, click "Report" on the comment itself.<br/>
          To submit a ticket about a problematic forum post, click "Report" on the post itself.<br/>
          To submit a ticket about a problematic pool, click "Report" on the pool page itself.<br/>
          To submit a ticket about a problematic set, click "Report" on the set page itself.<br/>
          To submit a ticket about a problematic user, click "Report" on the user's profile page.<br/>
          To submit a ticket about a problematic private message, click "Report PM" above the PM itself.<br/>
          To submit a username request, click "Request Username Change" on <a href='/user/home'>the user home page</a>.<br/>
        </div>
      <% elsif CurrentUser.is_anonymous? %>
        <% @found_item = false %>
        <div class='section' style='width:80em;'>
          You must be logged in to submit a ticket. Please <a href='/user/login'>log in</a> and try again.
        </div>
      <% elsif @ticket.type_valid %>
        <%= render partial: "tickets/new_types/#{@ticket.qtype}" %>
      <% else %>
        <% @found_item = false %>
        <div class='section' style='width:80em;'>
          Hmm, it seems you tried to report something that doesn't make sense.
        </div>
      <% end %>

      <% if @found_item %>
        <%= f.hidden_field :disp_id %>
        <%= f.hidden_field :qtype %>

        <div class='section' style='width:80em;'>
          <label for="ticket_reason">
            <% if params[:type] == "namechange" %>
              Desired username
            <% elsif params[:type] == "post" %>
              Additional details.
            <% else %>
              Reason for complaint
            <% end %>
          </label><br/>

          <% if params[:type] == "namechange" %>
            <p class='nomargin'>Note: Multiple name change requests made within a short period of time may not be
              honored</p>
            <%= f.input :reason, as: :text, maxlength: 20 %><br/>
          <% else %>
            <p class='nomargin'>Note: Abuse of this system will lead to disciplinary action</p>
            <%= dtext_field "ticket", "reason", :value => @ticket.reason, :input_id => "ticket_reason", :preview_id => "dtext-preview-for-ticket-reason" %>
          <% end %>

        </div>
        <% if params[:type] == "namechange" %>
          <%= submit_tag "Submit Request" %>
        <% else %>
          <%= submit_tag "Submit Complaint" %> <%= dtext_preview_button "ticket", "reason", :input_id => "ticket_reason", :preview_id => "dtext-preview-for-ticket-reason" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% render partial: 'secondary_links' %>
