<% content_for(:secondary_links) do %>
  <li><%= render "quick_search" %></li>
  <%= subnav_link_to "All", all_dmails_path(set_default_folder: true) %>
  <%= subnav_link_to "Received", received_dmails_path(set_default_folder: true) %>
  <%= subnav_link_to "Sent", sent_dmails_path(set_default_folder: true) %>
  <li class="divider"></li>
  <%= subnav_link_to "New", new_dmail_path %>
  <%= subnav_link_to "Mark all as read", mark_all_as_read_dmails_path, method: :put %></li>
  <li class="divider"></li>
  <%= subnav_link_to "Help", help_page_path(id: "dmail") %>
<% end %>
