<div id="c-confirm-delete">
  <h1>Delete Post</h1>

  <div class="post_delete_preview">
    <%= render(PostThumbnailComponent.new(post: @post, stats: true, show_deleted: true, no_blacklist: true)) %>
  </div>

  <%= form_tag(delete_moderator_post_post_path, :style => "clear: both;", :class => "simple_form") do %>
    <%= hidden_field_tag :q, params[:q] %>
    <div class="input">
      <label for="reason">Reason</label>
      <%= text_field_tag "reason", @reason %>
    </div>

    <% if @post.parent_id %>
      <div class="post_delete_options">
        <%= render(PostThumbnailComponent.new(post: @post.parent, stats: true, show_deleted: true, no_blacklist: true)) %>
        <div class="input">
          <label for="move_favorites">
            <%= check_box_tag "move_favorites", "1", @reason.starts_with?("Inferior") %>
            Move favorites to parent?
          </label>
          <label for="copy_tags">
            <%= check_box_tag "copy_tags", "1", false %>
            Merge tags into parent?
          </label>
          <label for="copy_sources">
            <%= check_box_tag "copy_sources", "1", false %>
            Merge sources into parent?
          </label>
        </div>
      </div>
    <% end %>

    <%= submit_tag "Delete" %>
    <%= submit_tag "Cancel" %>
    <%= button_tag "Clear", :type => "button", :id => "delreason-clear" %>
  <% end %>

  <div id="delreason-prebuilt" class="simple_form">
    <b>Reason</b>
    <% Danbooru.config.deletion_reasons.each do |deletion_reason| %>
      <% if deletion_reason.nil? || deletion_reason.empty? %>
        <br />
      <% elsif deletion_reason.include? "%DNP_ID%" %>
        <% next unless @dnp.any? %>
        <% @dnp.each do |dnp_entry| %>
          <% next if dnp_entry.pretty_details.empty? %>

          <a class="button delreason-button" data-text="<%= deletion_reason.gsub("%DNP_ID%", "%ID%") %>">
            <%= deletion_reason
                  .gsub("%DNP_ID%", "<input type=\"text\" value='#{dnp_entry.pretty_details}' />")
                  .html_safe
            %>
          </a>
        <% end %>
      <% else %>
        <a class="button delreason-button" data-text="<%= deletion_reason.gsub(/%(PARENT|OTHER)_ID%/, "%ID%") %>">
          <%= deletion_reason
                .gsub("%PARENT_ID%", "<input type=\"text\" value=\"" + (@post.parent_id || "").to_s + "\" />")
                .gsub("%OTHER_ID%", "<input type=\"text\" />")
                .html_safe
          %>
        </a>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Delete Post - #<%= @post.id %>
<% end %>
