<h1>Delete Post</h1>

<div>
  <%= PostPresenter.preview(@post, tags: "status:any", no_blacklist: true) %>
</div>

<%= form_tag(delete_moderator_post_post_path, :style => "clear: both;", :class => "simple_form") do %>
  <div class="input">
    <label for="reason">Reason</label>
    <%= text_field_tag "reason", @reason, size: 50 %>
  </div>

  <% if @post.parent_id %>
    <div class="input">
      <label for="move_favorites">
        <%= check_box_tag "move_favorites", true, true %>
        Move favorites to parent?
      </label>
      <label for="copy_tags">
        <%= check_box_tag "copy_tags", false, false %>
        Merge tags into parent?
      </label>
      <label for="copy_sources">
        <%= check_box_tag "copy_sources", false, false %>
        Merge sources into parent?
      </label>
      <%= PostPresenter.preview(@post.parent, tags: 'status:any', no_blacklist: true) %>
    </div>
  <% end %>

  <%= submit_tag "Delete" %>
  <%= submit_tag "Cancel" %>
<% end %>

<% content_for(:page_title) do %>
  Delete Post - #<%= @post.id %>
<% end %>
