<% if CurrentUser.can_approve_posts? && disapprovals.length > 0 %>
  <% quality_dis = disapprovals.map(&:reason).grep("borderline_quality").count %>
  <% relevancy_dis = disapprovals.map(&:reason).grep("borderline_relevancy").count %>
  <% custom_dis = disapprovals.select(&:message) %>
  <p>
    It has been reviewed by <%= link_to pluralize(disapprovals.length, "approver"), moderator_post_disapprovals_path(search: { post_id: post.id }) %>:

    <ul>
      <% if quality_dis > 0 %>
        <li><%= pluralize(quality_dis, "approver") %> <%= quality_dis > 1 ? "believe" : "believes" %> it does not meet the quality standards.</li>
      <% end %>

      <% if relevancy_dis > 0 %>
        <li><%= pluralize(relevancy_dis, "approver") %> <%= relevancy_dis > 1 ? "believe" : "believes" %> it is not relevant to the site.</li>
      <% end %>

      <% if custom_dis.count > 0 %>
        <% custom_dis.each do |disapproval| %>
          <li><%= link_to_user disapproval.user %>: <%= format_text(disapproval.message, inline: true).html_safe %></li>
        <% end %>
      <% end %>
    </ul>

    <% @our_disapproval = disapprovals.select {|x| x.user_id == CurrentUser.id }.first %>
    <% if @our_disapproval.present? %>
      <div>
        You are currently disapproving of this post for the following reason: <strong><%= @our_disapproval.reason %></strong>
      </div>
    <% end %>
  </p>
<% end %>
