<% content_for(:secondary_links) do %>
  <%= subnav_link_to "Listing", staff_wikis_path %>
  <%= subnav_link_to "New", new_staff_wiki_path %>
  <li class="divider"></li>
  <%= subnav_link_to "Mine", staff_wikis_path(search: { editor_id: CurrentUser.id }) %>

  <% if @staff_wiki&.persisted? %>
    <li class="divider"></li>

    <%= subnav_link_to "History", staff_wiki_versions_path(search: { staff_wiki_id: @staff_wiki.id }) %>

    <% if params[:action] != "edit" %>
      <%= subnav_link_to "Edit", edit_staff_wiki_path(@staff_wiki) %>
    <% end %>

    <% if CurrentUser.is_admin? %>
      <%= subnav_link_to "Delete", staff_wiki_path(@staff_wiki), method: :delete, data: { confirm: "Are you sure you want to delete this page?" } %>
    <% end %>

  <% elsif @staff_wiki_version %>
    <li class="divider"></li>

    <%= subnav_link_to "Newest", staff_wiki_path(@staff_wiki_version.staff_wiki_id) %>

    <% if @staff_wiki_version.previous %>
      <%= subnav_link_to "Diff", diff_staff_wiki_versions_path(otherpage: @staff_wiki_version.id, thispage: @staff_wiki_version.previous.id) %>
    <% end %>

    <%= subnav_link_to "Revert to", revert_staff_wiki_path(@staff_wiki_version.staff_wiki_id, version_id: @staff_wiki_version.id), method: :put, data: { confirm: "Are you sure you want to revert to this version?" } %>

  <% elsif @thispage %>
    <li class="divider"></li>

    <%= subnav_link_to "Newest", staff_wiki_path(@thispage.staff_wiki_id) %>
    <%= subnav_link_to "History", staff_wiki_versions_path(search: { staff_wiki_id: @thispage.staff_wiki_id }) %>
  <% end %>
<% end %>
