<div id="c-staff-wikis">
  <div id="a-show">
    <div class="staff-wiki-content">
      <h1 id="staff-wiki-title"><%= @staff_wiki.title %></h1>
      <div id="staff-wiki-updated-at">Last updated at <%= compact_time(@staff_wiki.updated_at) %></div>
      <br />

      <div id="staff-wiki-body" class="dtext-container">
        <% if @staff_wiki.body.present? %>
          <%= format_text(@staff_wiki.body, allow_color: true) %>
        <% else %>
          <p>This page is empty. <%= link_to "Click here to add details", edit_staff_wiki_path(@staff_wiki) %>.</p>
        <% end %>
      </div>
    </div>

    <div class="staff-wiki-sidebar">
      <%= render partial: "staff/wikis/partials/claimant", locals: { staff_wiki: @staff_wiki } %>
      <%= render partial: "staff/wikis/partials/references", locals: { references: @staff_wiki.references, staff_wiki: @staff_wiki } %>
      <%= render partial: "staff/wikis/partials/involved", locals: { users: @involved_users } %>
      <%= render partial: "staff/wikis/partials/related", locals: { related_pages: @related_pages } %>
    </div>

  </div>
</div>

<% content_for(:page_title) do %>
  Staff Wiki - <%= @staff_wiki.title %>
<% end %>

<%= render "secondary_links" %>
