<% if post_flag.is_viewable? %>
  <tr
    class="flag-type-<%= post_flag.type.to_s.dasherize %> flag-resolved-<%= post_flag.is_resolved? %>"
    id="post-flag-<%= post_flag.id %>"
    data-post-flag-id="<%= post_flag.id %>"
    data-post-id="<%= post_flag.safe_post.id %>"
  >
    <td><%= render(PostThumbnailComponent.new(post: post_flag.safe_post, stats: true, show_deleted: true)) %></td>
    <td>
      <div class="dtext-container">
        <%= format_text post_flag.reason %>
      </div>
      <%= render partial: "post_flags/partials/show/flag_note", locals: { post_flag: post_flag } %>
    </td>
    <td>
      <%= link_to post_flag.post_flags_count, post_flags_path(search: { post_id: post_flag.safe_post.id }) %>
    </td>
    <td>
      <%= post_flag.type.to_s.humanize %>
      <%= link_to "»", post_flags_path(search: @search_params.merge(type: post_flag.type))%>
    </td>
    <td>
      <%= post_flag.is_resolved.to_s %>
      <%= link_to "»", post_flags_path(search: @search_params.merge(is_resolved: post_flag.is_resolved?)) %>
    </td>
    <td>
      <%= compact_time post_flag.safe_post.created_at %>
      <br> by <%= link_to_user post_flag.safe_post.uploader %>
      <%= link_to "»", post_flags_path(search: @search_params.merge(post_tags_match: "#{@search_params[:post_tags_match]} user:#{post_flag.safe_post.uploader.name}".strip)) %>
    </td>
    <td>
      <%= compact_time post_flag.created_at %>
      <% if CurrentUser.can_view_flagger_on_post?(post_flag) %>
        <br> by <%= link_to_user post_flag.creator %>
        <%= link_to "»", post_flags_path(search: @search_params.merge(creator_name: post_flag.creator.name)) %>
      <% end %>
    </td>
    <td>
      <% if post_flag.safe_post.approver %>
        <%= link_to_user post_flag.safe_post.approver %>
        <%= link_to "»", post_flags_path(search: @search_params.merge(post_tags_match: "#{@search_params[:post_tags_match]} approver:#{post_flag.safe_post.approver.name}".strip)) %>
      <% else %>
        <em>none</em>
        <%= link_to "»", post_flags_path(search: @search_params.merge(post_tags_match: "#{@search_params[:post_tags_match]} approver:none".strip)) %>
      <% end %>
    </td>
  </tr>
<% end %>