<%= form_with(model: api_key, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <div class="hint">A name to help you remember what this key is for.</div>
  </div>

  <div class="field">
    <%= f.label :duration, "Expiration" %>
        <%= f.select :duration, 
        options_for_select([
          ["1 week", "7"],
          ["1 month", "30"],
          ["3 months", "90"],
          ["6 months", "180"],
          ["1 year", "365"],
          ["Custom", "custom"],
          ["No expiration", "never"]
        ], selected: "365"), 
        {}, 
        { class: "duration-select" } %>
    <div class="hint">Select when this API key should expire.</div>
    <div class="warning never-expires-warning" style="display: none;">
      We recommend setting an expiration date to limit access if your key is lost or stolen.
    </div>
  </div>

  <div class="field custom-date-field" style="display: none;">
    <%= f.label :expires_at, "Expiration Date" %>
    <%= f.date_field :expires_at %>
    <div class="hint">Enter an expiration date.</div>
  </div>

  <% if api_key.errors.any? %>
    <div class="section report-errors">
      <% api_key.errors.full_messages.each do |error| %>
        <span><%= error %></span>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit("Create") %>
  </div>
<% end %>
