<div id="c-tags">
  <div id="a-edit">
    <h1>Tag: <%= link_to @tag.name, posts_path(:tags => @tag.name), :class => "tag-type-#{@tag.category}" %></h1>

    <%= custom_form_for(@tag) do |f| %>
      <%= f.hidden_field(:from_wiki, value: @from_wiki) %>
      <% if @tag.is_locked? %>
        <p>This tag is category locked</p>
      <% else %>
        <%= f.input :category, collection: TagCategory::CANONICAL_MAPPING.to_a, include_blank: false %>
      <% end %>

      <% if CurrentUser.is_admin? %>
        <%= f.input :is_locked, :collection => [["No", "false"], ["Yes", "true"]], :include_blank => false %>
      <% end %>

      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit Tag - <%= @tag.name %>
<% end %>
