<div id="c-tags">
  <div id="a-show">
    <h1>Tag: <%= link_to @tag.name, posts_path(:tags => @tag.name), :class => "tag-type-#{@tag.category}" %></h1>

    <ul>
      <li>Count: <%= @tag.post_count %></li>
      <li>Category: <%= @tag.category_name.capitalize %></li>
    </ul>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Tag - <%= @tag.name %>
<% end %>

<% description = @tag.wiki_page&.body.present? ? strip_tags(format_text(@tag.wiki_page.body)).truncate(200) : "#{@tag.category_name.capitalize} tag with #{@tag.post_count} #{'post'.pluralize(@tag.post_count)}" %>
<% render(partial: "static/embed", locals: { record: @tag, name: @tag.name, description: description }) %>
