<% content_for(:secondary_links) do %>
  <%= subnav_link_to "Listing", search_trends_path %>
  <% if CurrentUser.user.is_admin? %>
    <%= subnav_link_to "Settings", settings_search_trends_path %>
    <li class="divider"></li>
    <%= subnav_link_to "Blacklist", search_trend_blacklists_path %>
    <%= subnav_link_to "Hourly", search_trend_hourlies_path %>
    <% if @tag.present? %>
      <li class="divider"></li>
      <%= subnav_link_to "Purge", purge_search_trends_path(tag: @tag), method: :delete, data: { confirm: "Are you sure you want to purge all trend records for \"#{@tag}\"?" } %>
    <% end %>
  <% end %>
<% end %>
