<footer class="footer-wrapper">
  <div class="footer-grid">
    <span class="footer-logo">
      <a href="/"><%= image_pack_tag("static/default.svg") %></a>
    </span>
    <span class="footer-left">
      <%= link_to "Terms of Use", terms_of_use_path %>
      <%= link_to "Takedowns", takedown_static_path %>
      <%= link_to "Privacy", privacy_policy_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "Advertising", help_page_path(id: "advertising") %>
    </span>
    <span class="footer-right">
      <span class="footer-running">Running <%= CurrentUser.is_staff? && Danbooru.config.server_name.present? ? "on #{Danbooru.config.server_name}" : "e621ng" %></span>
      <span class="footer-version">
        <% if GitHelper.version.empty? %>
          v. unknown
        <% else %>
          v. <%= link_to GitHelper.version, GitHelper.version_url %>
        <% end %>
      </span>
      <%= link_to "Themes / Gestures", theme_path %>
      <% if CurrentUser.user.enable_keyboard_navigation %>
        <%= link_to "Keyboard Shortcuts", keyboard_shortcuts_path %>
      <% end %>
      <%= link_to disable_mobile_mode? ? "Mobile mode: OFF": "Mobile mode: ON", disable_mobile_mode_path, :rel => "nofollow" %>
    </span>
  </div>
</footer>
