<div id="c-static"><div id="a-home">
  <%= javascript_tag nonce: true do -%>
    var mascots = <%= Mascot.active_for_browser.to_json.html_safe %>;
  <% end -%>

  <section class="home-section">
    <%= form_tag(posts_path, method: "get", id: "home-search-form") do %>

      <!-- Primary Searchbar -->
      <div class="home-search">
        <%= text_field_tag("tags", "", autofocus: "autofocus", placeholder: "Search posts by tag", data: { shortcut: "q", autocomplete: "tag-query" }) %>
        <%= tag.button(tag.i(class: "fa-solid fa-magnifying-glass"), type: "submit") %>
      </div>

      <!-- Secondary search buttons -->
      <div class="home-buttons">
        <a href="<%= posts_path %>" tags="">
          <i class="fas fa-splotch"></i>
          <span>Latest</span>
        </a>
        <a href="<%= posts_path(tags: "order:rank") %>" tags="order:rank">
          <i class="fas fa-fire-alt"></i>
          <span>Popular</span>
        </a>
      </div>
    <% end %>
  </section>

  <% if news_update = NewsUpdate.recent %>
    <section class="home-section">
      <div class="news-excerpt dtext-container"><%= format_text(news_update.message.lines.first, inline: true) %></div>
      <div class="previous-news-link"><%= link_to "Click here for previous news", news_updates_path %></div>
    </section>
  <% end %>

  <section class="home-footer-top">
    <div id="mascot-artist">Mascot by</div>
    <a href="#" id="mascot-swap">Swap Mascot</a>
  </section>
  <section class="home-footer-bottom">
    <div class="home-footer-counter">
      <% Post.fast_count.to_s.each_char do |x| %>
        <%= image_tag("counter/#{x}.png") %>
      <% end %>
    </div>
    <div class="home-footer-links">
      <%= link_to "Takedowns", takedown_static_path %>
      <span class="separator"></span>
      <%= link_to "Contact Us", contact_path %>
      <span class="separator"></span>
      <%= link_to "Advertising", help_page_path(id: "advertising") %>
      <br />
      <%= link_to "Terms of Service", terms_of_service_path %>
      <span class="separator"></span>
      <%= link_to "Privacy", privacy_policy_path %>
    </div>
  </section>
</div></div>

<% content_for(:html_header) do -%>
  <meta name="enable-auto-complete" content="<%= CurrentUser.user.enable_auto_complete %>">
<%- end %>
