<div id="c-static">
  <div id="a-site-map">
    <%# Arrays of items to add for each category %>
    <% posts_section = [] %>
    <% post_events_section = [] %>
    <% tools_section = [] %>
    <% artists_section = [] %>
    <% tags_section = [] %>
    <% notes_section = [] %>
    <% pools_section = [] %>
    <% sets_section = [] %>
    <% comments_section = [] %>
    <% forum_section = [] %>
    <% wiki_section = [] %>
    <% blips_section = [] %>
    <% users_section = [] %>
    <% staff_section = [] %>
    <% admin_section = [] %>

    <%# Add links that all users can access %>
    <% posts_section << link_to("Listing", posts_path) %>
    <% posts_section << link_to("Upload", new_upload_path) %>
    <% posts_section << link_to("Popular", popular_index_path) %>
    <% posts_section << link_to("Changes", post_versions_path ) %>
    <% posts_section << link_to("Similar Images Search", iqdb_queries_path) %>
    <% posts_section << link_to("Deleted Index", deleted_posts_path) %>

    <% post_events_section << link_to("Listing", post_events_path) %>
    <% post_events_section << link_to("Tag Changes", post_versions_path) %>
    <% post_events_section << link_to("Approvals", post_approvals_path) %>
    <% post_events_section << link_to("Flags", post_flags_path) %>
    <% post_events_section << link_to("Replacements", post_replacements_path) %>

    <% tools_section << link_to("News Updates", news_updates_path) %>
    <% tools_section << link_to("Mascots", mascots_path) %>
    <% tools_section << link_to("Source Code", Danbooru.config.source_code_url) %>
    <% tools_section << link_to("Keyboard Shortcuts", keyboard_shortcuts_path) %>
    <% tools_section << link_to("API Documentation", help_page_path(id: "api")) %>
    <% tools_section << link_to("Stats", stats_path) %>

    <% artists_section << link_to("Listing", artists_path) %>
    <% artists_section << link_to("URLs", artist_urls_path) %>
    <% artists_section << link_to("Changes", artist_versions_path) %>
    <% artists_section << link_to("Avoid Posting Entries", avoid_postings_path) %>
    <% artists_section << link_to("Avoid Posting List", avoid_posting_static_path) %>
    <% artists_section << link_to("Changes", artist_versions_path) %>

    <% tags_section << link_to("Listing", tags_path) %>
    <% tags_section << link_to("Type Changes", tag_type_versions_path) %>
    <% tags_section << link_to("MetaSearch", meta_searches_tags_path) %>
    <% tags_section << link_to("Aliases", tag_aliases_path) %>
    <% tags_section << link_to("Implications", tag_implications_path) %>
    <% tags_section << link_to("Bulk Update Requests", bulk_update_requests_path) %>
    <% tags_section << link_to("Cheat sheet", help_page_path(id: "cheatsheet")) %>

    <% notes_section << link_to("Listing", notes_path) %>
    <% notes_section << link_to("Changes", note_versions_path) %>

    <% pools_section << link_to("Listing", gallery_pools_path) %>
    <% pools_section << link_to("Changes", pool_versions_path) %>

    <% wiki_section << link_to("Listing", wiki_pages_path) %>
    <% wiki_section << link_to("Changes", wiki_page_versions_path) %>

    <% sets_section << link_to("Listing", post_sets_path) %>
    <% comments_section << link_to("Listing", comments_path) %>
    <% forum_section << link_to("Listing", forum_topics_path) %>
    <% blips_section << link_to("Listing", blips_path) %>

    <% users_section << link_to("Listing", users_path) %>
    <% users_section << link_to("Bans", bans_path) %>
    <% users_section << link_to("Feedback", user_feedbacks_path) %>
    <% users_section << link_to("Terms of Use", terms_of_use_path) %>
    <% users_section << link_to("Privacy Policy", privacy_policy_path) %>

    <% staff_section << link_to("Upload Whitelist", upload_whitelists_path) %>
    <% staff_section << link_to("Mod Actions", mod_actions_path) %>
    <% staff_section << link_to("Takedowns", takedowns_path) %>
    <% staff_section << link_to("Tickets", tickets_path) %>

    <%# For each permission or configuration, add applicable links to the sections %>
    <% if Danbooru.config.db_export_path.present? %>
      <% tools_section << link_to("DB Export", Danbooru.config.db_export_path) %>
    <% end %>
    <% unless CurrentUser.is_anonymous? %>
      <% users_section << link_to("User Home", home_users_path ) %>
      <% users_section << link_to("Profile", user_path(CurrentUser.user)) %>
      <% users_section << link_to("Settings", settings_users_path) %>
      <% users_section << link_to("Refresh counts", new_maintenance_user_count_fixes_path) %>
    <% end %>
    <% if CurrentUser.is_anonymous? %>
      <% users_section << link_to("Signup", new_user_path) %>
    <% end %>

    <% if CurrentUser.is_staff? %>
      <% staff_section << link_to("Mod Dashboard", moderator_dashboard_path) %>
      <% posts_section << link_to("Upload Listing", uploads_path) %>
    <% end %>
    <% if CurrentUser.can_approve_posts? %>
      <% posts_section << link_to("Disapprovals", moderator_post_disapprovals_path) %>
    <% end %>
    <% if CurrentUser.is_moderator? %> <!-- done exclusive -->
      <% staff_section << link_to("Edit Histories", edit_histories_path) %>
      <% staff_section << link_to("Post Votes", index_post_votes_path) %>
      <% users_section << link_to("User Name Changes", user_name_change_requests_path) %>
    <% end %>

    <% if CurrentUser.is_admin? %> <!-- done exclusive -->
      <% admin_section << link_to("Admin Dashboard", admin_dashboard_path) %>
      <% admin_section << link_to("Forum Categories", forum_categories_path) %>
      <% admin_section << link_to("IP Addresses", moderator_ip_addrs_path) %>
      <% admin_section << link_to("IP Bans", ip_bans_path) %>
      <% admin_section << link_to("Post Report Reasons", post_report_reasons_path) %>
      <% admin_section << link_to("Email Blacklist", email_blacklists_path) %>
      <% admin_section << link_to("Destroyed Posts", admin_destroyed_posts_path) %>
      <% admin_section << link_to("Exceptions", admin_exceptions_path) %>
      <% admin_section << link_to("Stuck DNP tags", new_admin_stuck_dnp_path) %>
      <% admin_section << link_to("Security", security_root_path) %>
      <% admin_section << link_to("Alt list", alt_list_admin_users_path) %>
      <% admin_section << link_to("SideKiq", sidekiq_path) %>

    <% end %>
    <% if CurrentUser.is_bd_staff? %> <!-- done exclusive -->
      <% admin_section << link_to("Reowner", new_admin_reowner_path) %>
    <% end %>
    <% if CurrentUser.can_discord? %><% end %>
    <% if CurrentUser.can_view_staff_notes? %> <!-- done -->
      <% staff_section << link_to("Staff Notes", staff_notes_path) %>
    <% end %>

    <%# Help items that come at the end of the lists %>
    <% posts_section << link_to("Help", help_page_path(id: "posts")) %>
    <% artists_section << link_to("Help", help_page_path(id: "artists")) %>
    <% tags_section << link_to("Help", help_page_path(id: "tags")) %>
    <% notes_section << link_to("Help", help_page_path(id: "notes")) %>
    <% pools_section << link_to("Help", help_page_path(id: "pools")) %>
    <% sets_section << link_to("Help", help_page_path(id: "sets")) %>
    <% comments_section << link_to("Help", help_page_path(id: "comments")) %>
    <% forum_section << link_to("Help", help_page_path(id: "forum")) %>
    <% wiki_section << link_to("Help", help_page_path(id: "wiki")) %>
    <% blips_section << link_to("Help", help_page_path(id: "blips")) %>
    <% users_section << link_to("Help", help_page_path(id: "accounts")) %>

    <%# Render the lists %>
    <section>
      <% if posts_section.any? %>
        <h3>Posts</h3>
        <ul>
          <%= safe_join(posts_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if post_events_section.any? %>
        <h3>Post Events</h3>
        <ul>
          <%= safe_join(post_events_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if tools_section.any? %>
        <h3>Tools</h3>
        <ul>
          <%= safe_join(tools_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if artists_section.any? %>
        <h3>Artists</h3>
        <ul>
          <%= safe_join(artists_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
    </section>
    <section>
      <% if tags_section.any? %>
        <h3>Tags</h3>
        <ul>
          <%= safe_join(tags_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if notes_section.any? %>
        <h3>Notes</h3>
        <ul>
          <%= safe_join(notes_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if pools_section.any? %>
        <h3>Pools</h3>
        <ul>
          <%= safe_join(pools_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if sets_section.any? %>
        <h3>Sets</h3>
        <ul>
          <%= safe_join(sets_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
    </section>
    <section>
      <% if comments_section.any? %>
        <h3>Comments</h3>
        <ul>
          <%= safe_join(comments_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if forum_section.any? %>
        <h3>Forum</h3>
        <ul>
          <%= safe_join(forum_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if wiki_section.any? %>
        <h3>Wiki</h3>
        <ul>
          <%= safe_join(wiki_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if blips_section.any? %>
        <h3>Blips</h3>
        <ul>
          <%= safe_join(blips_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
    </section>
    <section>
      <% if users_section.any? %>
        <h3>Users</h3>
        <ul>
          <%= safe_join(users_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if staff_section.any? %>
        <h3>Staff</h3>
        <ul>
          <%= safe_join(staff_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
      <% if admin_section.any? %>
        <h3>Admin</h3>
        <ul>
          <%= safe_join(admin_section.map { |link| content_tag(:li, link) }, "\n") %>
        </ul>
      <% end %>
    </section>
  </div>
</div>

<% content_for(:page_title) do %>
  Site Map
<% end %>
