<div class="quick-mod">
  <% if post.is_approvable? %>
  <div>
    <strong><%= tag.a "Approve", href: '#', class: 'approve-post-link button btn-neutral', 'data-pid': post.id %></strong>
  </div>
  <% end %>
  <% @our_disapproval = post.disapprovals.select {|x| x.user_id == CurrentUser.id }.first %>
  <% if @our_disapproval.present? %>
  <div>
    You are currently disapproving of this post for the following reason: <strong><%= @our_disapproval.reason %></strong>
  </div>
  <% end %>
  <div>
    <%= link_to "Human Only", "#", class: "delete-with-reason-link button btn-neutral", data: {prompt: "being human only", reason: "Irrelevant to site. (Human only)", post_id: post.id} %> |
    <%= link_to "Artistic Standards", "#", class: "delete-with-reason-link button btn-neutral", data: {prompt: "artistic standards", reason: "Does not meet minimum quality standards. (Artistic)", post_id: post.id} %> |
    <%= link_to "Bad Photo/Scan", "#", class: "delete-with-reason-link button btn-neutral", data: {prompt: "being a photo/scan", reason: "Does not meet minimum quality standards. (Bad digitization of traditional media)", post_id: post.id} %> |
    <%= link_to "Excessive Base", "#", class: "delete-with-reason-link button btn-neutral", data: {prompt: "being an  excessive base", reason: "Excessive same base image set.", post_id: post.id} %> |
    <%= link_to "Advertisement", "#", class: "delete-with-reason-link button btn-neutral", data: {prompt: "being an annoying ad", reason: "Advertisement", post_id: post.id} %> |

    <%= tag.a "Borderline Quality", href: '#', data: {pid: post.id, reason: "borderline_quality"}, class: "disapprove-post-link button btn-neutral" %> |
    <%= tag.a "Borderline Relevancy", href: '#', data: {pid: post.id, reason: "borderline_relevancy"}, class: "disapprove-post-link button btn-neutral" %>
  </div>
  <div>
    <%= link_to "Detailed Deletion", confirm_delete_moderator_post_post_path(id: post.id), class: 'button btn-neutral' %> |
    <%= link_to "Detailed Disapproval", "#", "data-post-id" => post.id, class: "detailed-rejection-link button btn-neutral" %>
  </div>
</div>
