<div id="c-staff-wiki-versions">
  <div id="a-diff">
    <h1>Staff Wiki: <%= @thispage.pretty_title %></h1>

    <p>Showing differences between <%= compact_time @thispage.updated_at %> (<%= link_to_user @thispage.updater %>) and <%= compact_time @otherpage.updated_at %> (<%= link_to_user @otherpage.updater %>)</p>

    <div>
      <%= text_diff(@thispage.body, @otherpage.body) %>
    </div>
  </div>
</div>

<%= render "staff/wikis/secondary_links" %>

<% content_for(:page_title) do %>
  Staff Wiki Versions Comparison - <%= @thispage.pretty_title %>
<% end %>
