<div>
  <h4>Change post ownership</h4>
  <p>
    Limited to 300 posts at a time.
  </p>
  <%= custom_form_for(:reowner, url: admin_reowner_path) do |f| %>
    <%= f.input(:old_owner, label: "Old Owner", placeholder: "Use ! in front of an id for an id.", input_html: { size: 40 }) %>
    <%= f.input(:new_owner, label: "New Owner", placeholder: "Use ! in front of an id for an id.", input_html: { size: 40 }) %>
    <%= f.input(:search, label: "Search Query", input_html: { size: 40 }) %>
    <%= f.submit("Submit") %>
  <% end %>
</div>

<% content_for(:page_title) do %>
  Post Reowner
<% end %>
