<div id="c-danger-zone">
  <div id="a-index">
    <h1>Danger Zone</h1>
    <h2>Uploads</h2>
    Uploads are currently permitted for <b><%= User.level_string(DangerZone.min_upload_level) %></b> and up.
    <%= custom_form_for(:uploading_limits, url: uploading_limits_admin_danger_zone_index_path, method: :put) do |f| %>
      <%= f.input :min_level, collection: User.level_hash.select {|k,v| v >= User::Levels::MEMBER }.to_a, selected: DangerZone.min_upload_level %>
      <%= f.button :submit, value: "Submit" %>
    <% end %>
    <h2>Pending Posts</h2>
    <% if DangerZone.hide_pending_posts_for > 0 %>
      Unapproved posts are currently only visible to staff for <b><%= DangerZone.hide_pending_posts_for %></b> hours.
    <% else %>
      Unapproved posts are currently not hidden.
    <% end %>
    <%= custom_form_for(:hide_pending_posts, url: hide_pending_posts_admin_danger_zone_index_path, method: :put) do |f| %>
      <%= f.input :duration, as: :float, hint: "in hours", input_html: { value: DangerZone.hide_pending_posts_for } %>
      <%= f.button :submit, value: "Submit" %>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Danger Zone
<% end %>
