<div class="c-avoid-postings">
  <div class="a-edit">
    <h1>Edit Avoid Posting for <%= link_to @avoid_posting.artist_name, avoid_posting_path(@avoid_posting), class: "tag-type-#{Tag.categories.artist}" %></h1>

    <%= error_messages_for :avoid_posting %>
    <%= render "form" %>
  </div>
</div>

<%= render "secondary_links" %>
<% content_for(:page_title) do %>
  Edit Avoid Posting for <%= @avoid_posting.artist_name %>
<% end %>
