<div id="c-avoid-postings">
  <div id="a-index">
    <h1>Avoid Postings</h1>

    <%= render "search" %>

    <table class="striped autofit">
      <thead>
      <tr>
        <th></th>
        <th>Artist</th>
        <th width="60%">Details</th>
        <th>Status</th>
        <th>Creator</th>
        <% if CurrentUser.can_edit_avoid_posting_entries? %>
          <th width="8%"></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @avoid_postings.each do |avoid_posting| %>
        <tr id="avoid-posting-<%= avoid_posting.id %>" data-artist="<%= avoid_posting.artist_name %>">
          <td>
            <%= link_to "View", avoid_posting_path(avoid_posting) %>
          </td>
          <td>
            <%= link_to avoid_posting.artist_name, show_or_new_artists_path(name: avoid_posting.artist_name) %>
            <% if avoid_posting.other_names.present? %>
              (<%= link_to_artists(avoid_posting.other_names, hide_new_notice: true) %>)
            <% end %>
          </td>
          <td class="details">
            <span class="avoid-posting-details"><%= avoid_posting.details %></span>
            <% if CurrentUser.is_staff? && avoid_posting.staff_notes.present? %>
              <span class="avoid-posting-staff-notes">
                <b>Staff Notes</b><br>
                <%= avoid_posting.staff_notes %>
              </span>
            <% end %>
          </td>
          <td>
            <%= avoid_posting.status %>
          </td>
          <% if CurrentUser.is_staff? %>
            <td>
              <%= link_to_user avoid_posting.creator %>
            </td>
          <% end %>
          <% if CurrentUser.can_edit_avoid_posting_entries? %>
            <td>
                <%= link_to "Edit", edit_avoid_posting_path(avoid_posting) %>
                | <%= link_to "Delete", delete_avoid_posting_path(avoid_posting), method: :put, data: { confirm: "Are you sure you want to delete this avoid posting?" } %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@avoid_postings) %>
  </div>
</div>

<%= render "secondary_links" %>
<% content_for(:page_title) do %>
  Avoid Postings
<% end %>
