<div class="profile-card">
  <div class="profile-avatar">
    <%= render AvatarComponent.new(user: @user) %>
  </div>
  <div class="profile-info">
    <span class="profile-name">
      <%= link_to_user(@user) %>
      <%= render(UserFeedbackComponent.new(user: @user, style: :badge)) %>
    </span>
    <span class="profile-joined">
      Joined <%= compact_date @user.created_at %>
    </span>
    <span class="profile-rank">
      <%= user_level_badge(@user) %>
      <%= user_custom_title_badge(@user) %>
      <%= user_bd_staff_badge(@user) if CurrentUser.is_bd_staff? %>
      <% unless @user.is_verified? %>
        <span class="level-badge level-unactivated">UNACTIVATED</span>
      <% end %>
    </span>
  </div>
</div>
