<div id="c-edit-history">
  <div id="a-index">
    <h1>Edit Histories</h1>

    <%= render "search" %>

    <table class="striped">
      <thead>
      <tr>
        <th></th>
        <th>Type</th>
        <th>Date</th>
        <% if CurrentUser.is_admin? %>
          <th>IP Address</th>
        <% end %>
        <th>Editor</th>
        <th>Body</th>
        <th>Subject</th>
      </tr>
      </thead>

      <tbody>
      <% @edit_history.each do |edit| %>
        <tr id="edit-<%= edit.id %>">
          <td><%= link_to "Show", action: "show", id: edit.versionable_id, type: edit.versionable_type %></td>
          <td><%= edit.versionable_type %></td>
          <td><%= compact_time edit.created_at %></td>
          <% if CurrentUser.is_admin? %>
            <td><%= link_to_ip edit.ip_addr %></td>
          <% end %>
          <td><%= link_to_user edit.user %></td>
          <td><%= edit.body[0..30] %></td>
          <td><%= edit.subject&.[](0..30) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= render PaginatorComponent.new(records: @edit_history) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Edit Histories
<% end %>
