<div id="c-edit-history">
  <div id="a-show">
    <h1>Edits for <%= h params[:type] %> #<%= h params[:id] %></h1>

    <div class="response-list" id="edit-history">
      <% @edit_history.each do |edit| %>
        <div class="edit-item box-section edit-<%= edit.edit_type.tr("_", "-") %>">
          <div class="author">
            <h6><%= link_to_user edit.user %></h6>
            <%= compact_time edit.created_at %>
            <% if CurrentUser.is_admin? %>
              <div><%= link_to_ip edit.ip_addr %></div>
            <% end %>
          </div>
          <div class="content">
            <div class="body">
              <% if edit.is_contentful? %>
                <% if (previous = edit.previous_version(@content_edits)) %>
                  <%= lcs_diff(previous.body, edit.body) %>
                <% else %>
                  <%= edit.body %>
                <% end %>
              <% else %>
                <b>
                  <%= edit.text_content %>
                </b>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Edit History
<% end %>
