<div class="replace-image-dialog-body">
  <div class="dtext-container">
    <%= format_text(WikiPage.titled(Danbooru.config.replacement_notice_wiki_page)&.body) %>
  </div>

  <div>
    <% if post.visible? %>
      <%= PostPresenter.preview(post, show_deleted: true, no_blacklist: true) %>
    <% end %>
    <div><%= "#{post.image_width}x#{post.image_height} (#{post.file_size.to_fs(:human_size, precision: 5)})" %></div>
  </div>
  <br>
  <div id="replacement-uploader" class="simple_form"></div>
</div>

<%= javascript_tag nonce: true do -%>
  var uploaderSettings = {
    maxFileSize: <%= Danbooru.config.max_file_size %>,
  };
  Danbooru.Replacer.init();
<% end -%>
