<div id="c-post-replacements">
  <div id="a-index">
    <h1>Post Replacements</h1>

    <%= render "search" %>
    <%= render "posts/partials/common/inline_blacklist" %>

    <table class="striped autofit" style="max-width:100%">
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Image</th>
          <th>Post</th>
          <th>Creator </th>
          <th></th>
          <th></th>
          <% if CurrentUser.is_admin? || CurrentUser.can_approve_posts? %>
            <th>Actions</th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <% @post_replacements.each do |post_replacement| %>
          <tr id="replacement-<%= post_replacement.id %>" class="<%= 'replacement-pending-row' if post_replacement.status == 'pending' %>">
            <td><%= PostPresenter.preview(post_replacement.post, show_deleted: true) %></td>
            <td><%= replacement_thumbnail(post_replacement) %></td>
            <!--SECTION: info A-->
            <td>
              <dt>Sequence</dt>
              <dd>
                <%sequence = @post_replacements.where(post_id: post_replacement.post.id).ids.reverse.index(post_replacement.id)%>

                <%=post_replacement.post_id%>:<%=sequence%>
              </dd>
              <dt>Status</dt>
              <dd>
              <% if post_replacement.status == 'approved' %>
                <% if post_replacement.md5 == post_replacement.post.md5 %>
                approved, current
                <%else%>
                approved
                <% end %> 
                <dt>Approver</dt>
                <dd> 
                <%= link_to_user post_replacement.approver %>
                </dd>
              <% elsif post_replacement.status == 'original'%>
                original
              <% else %>
                <%= post_replacement.status %>
              <% end %>  
              </dd>
            </td>
            <td>
              <dt>Creator</dt>
              <dd>
                <%= link_to_user post_replacement.uploader_on_approve %>
                <% if CurrentUser.can_approve_posts? %>
                | penalized: <span class="penalized-status"><%= post_replacement.penalize_uploader_on_approve ? "yes" : "no" %></span>
                <% end %>
                <% if CurrentUser.can_approve_posts? %>
                  <%= link_to "toggle", "#toggle", class: "replacement-toggle-penalize-action", data: { replacement_id: post_replacement.id} %><br>
                <% end %>
              </dd>
              <dt>Sources</dt>
              <dd>
                <% if post_replacement.source.present? %>
                  <ul>
                    <% post_replacement.source_list.each do |source| %>
                      <li><%= external_link_to source, truncate: 46 %></li>
                    <% end %>
                  </ul>
                <% else %>
                  <em>None provided</em>
                <% end %>
              </dd>
              
            </td>
            <td>
              <dt>Image Info</dt>
              <dd>
                <%= post_replacement.post.image_width %>x<%= post_replacement.post.image_height %> <%= post_replacement.post.file_ext %>
                (<%= post_replacement.post.file_size.to_fs(:human_size, precision: 5) %>)
              </dd>
              <dd>
              </dd>
              <dt>File Info</dt>
              <dd><%= truncate post_replacement.file_name, length: 64 %></dd>
              <% if post_replacement.md5.present? %>
                <dt>Replacement MD5</dt>
                <dd><%= post_replacement.md5 %></dd>
                <% end %>
            </td>
            <td>
              <dt>Created at</dt>
              <%= compact_time post_replacement.created_at %>
              <dt>Reason</dt>
              <dd class="replacement-reason"><%= post_replacement.reason.present? ? post_replacement.reason : "None provided" %></dd>
            </td>
            <td>
              <% if CurrentUser.can_approve_posts? %>
                <div class="pending-links">
                  <% if post_replacement.status == "pending"%>
                    <%= link_to "Approve", "#approve", class: "replacement-approve-action", data: { replacement_id: post_replacement.id, penalize: post_replacement.post.uploader != post_replacement.creator } %><br>
                    <br>
                    <%= link_to "Reject", "#reject", class: "replacement-reject-action", data: { replacement_id: post_replacement.id} %><br>
                    <%= link_to "As New Post", "#promote", class: "replacement-promote-action", data: { replacement_id: post_replacement.id} %><br>
                  <% end %>
                </div>
                <% if post_replacement.status == "original" %>
                  <%= link_to "Reset To", "#approve", class: "replacement-approve-action", data: { replacement_id: post_replacement.id, penalize: false} %><br>
                <% end %>
              <% end %>
              <% if CurrentUser.is_admin? %>
                <%= link_to "Destroy", post_replacement_path(post_replacement), method: :DELETE, 'data-confirm': 'Are you sure you want to destroy this replacement?' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@post_replacements) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Post Replacements
<% end %>
