<div id="c-post-replacements">
  <div id="a-index">
    <h1>Post Replacements</h1>

    <%= render "search" %>
    <%= render "posts/partials/common/inline_blacklist" %>

    <table class="striped autofit" style="max-width:100%">
      <thead>
        <tr>
          <th width="1%">Post</th>
          <th width="1%">Replacement</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @post_replacements.each do |post_replacement| %>
          <tr id="replacement-<%= post_replacement.id %>" class="<%= 'replacement-pending-row' if post_replacement.status == 'pending' %>">
            <td><%= PostPresenter.preview(post_replacement.post, show_deleted: true) %></td>
            <td><%= replacement_thumbnail(post_replacement) %></td>
            <td>
              <dl>
                <dt>Replacement Source</dt>
                <dd>
                  <% if post_replacement.source.present? %>
                    <ul>
                      <% post_replacement.source_list.each do |source| %>
                        <li><%= external_link_to source, truncate: 64 %></li>
                      <% end %>
                    </ul>
                  <% else %>
                    <em>None provided</em>
                  <% end %>
                </dd>
                <dt>Filename</dt>
                <dd><%= truncate post_replacement.file_name, length: 64 %></dd>
                <% if post_replacement.md5.present? %>
                    <dt>Replacement MD5</dt>
                    <dd><%= post_replacement.md5 %></dd>
                <% end %>
              </dl>
              <div style="display:grid;grid-template-columns: 1fr 1fr;grid-auto-rows: auto;">
                <dl>
                  <% if post_replacement.post %>
                    <dt>Current Size</dt>
                    <dd>
                      <%= post_replacement.post.image_width %>x<%= post_replacement.post.image_height %>
                      (<%= post_replacement.post.file_size.to_fs(:human_size, precision: 5) %>, <%= post_replacement.post.file_ext %>)
                    </dd>
                  <% end %>
                </dl>
                <dl>
                  <% if %i[image_width image_height file_size file_ext].all? { |k| post_replacement[k].present? } %>
                    <dt>Replacement Size</dt>
                    <dd>
                      <%= post_replacement.image_width %>x<%= post_replacement.image_height %>
                      (<%= post_replacement.file_size.to_fs(:human_size, precision: 5) %>, <%= post_replacement.file_ext %>)
                    </dd>
                  <% end %>
                </dl>
              </div>
            </td>

            <td>
              <dl>
                <dt>Status</dt>
                <dd><div class="replacement-status">
                  <%= post_replacement.status %>
                  <% if post_replacement.status == "pending" && (post_replacement.post.tag_array & PostReplacement::HIGHLIGHTED_TAGS).any? %>
                    <%= tag.i class: "fa-solid fa-circle-exclamation", title: (post_replacement.post.tag_array & PostReplacement::HIGHLIGHTED_TAGS).join(", ") %>
                  <% end %>
                </div></dd>
                <dt>Reason</dt>
                <dd class="replacement-reason"><%= post_replacement.reason.present? ? post_replacement.reason : "None provided" %></dd>
                <% if post_replacement.status == 'approved' %>
                  <dt>Original Uploader</dt>
                  <dd>
                    <%= link_to_user post_replacement.uploader_on_approve %>
                    <% if CurrentUser.can_approve_posts? %>
                      | penalized: <span class="penalized-status"><%= post_replacement.penalize_uploader_on_approve ? "yes" : "no" %></span>
                    <% end %>
                    <% if CurrentUser.can_approve_posts? %>
                      <%= link_to "toggle", "#toggle", class: "replacement-toggle-penalize-action", data: { replacement_id: post_replacement.id} %><br>
                    <% end %>
                  </dd>
                  <dt>Approver</dt>
                  <dd><%= link_to_user post_replacement.approver %></dd>
                <% end %>
                <% if post_replacement.status == 'pending' %>
                  <dt>Current Uploader</dt>
                  <dd>
                    <%= link_to_user post_replacement.post.uploader %>
                  </dd>
                <% end %>
                <dt>Replacer</dt>
                <dd>
                  <%= compact_time post_replacement.created_at %>
                  <br> by <%= link_to_user post_replacement.creator %>
                  <%= link_to "»", post_replacements_path(search: params[:search].merge(creator_name: post_replacement.creator.name)) %>
                </dd>
              </dl>
            </td>

            <td>
              <% if CurrentUser.can_approve_posts? %>
                <div class="pending-links">
                  <% if post_replacement.status == "pending"%>
                    <%= link_to "Approve", "#approve", class: "replacement-approve-action", data: { replacement_id: post_replacement.id, penalize: post_replacement.post.uploader != post_replacement.creator } %><br>
                    <br>
                    <%= link_to "Reject", "#reject", class: "replacement-reject-action", data: { replacement_id: post_replacement.id} %><br>
                    <%= link_to "As New Post", "#promote", class: "replacement-promote-action", data: { replacement_id: post_replacement.id} %><br>
                  <% end %>
                </div>
                <% if post_replacement.status == "original" %>
                  <%= link_to "Reset To", "#approve", class: "replacement-approve-action", data: { replacement_id: post_replacement.id, penalize: false} %><br>
                <% end %>
              <% end %>
              <% if CurrentUser.is_admin? %>
                <%= link_to "Destroy", post_replacement_path(post_replacement), method: :DELETE, 'data-confirm': 'Are you sure you want to destroy this replacement?' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@post_replacements) %>
  </div>
</div>

<% content_for(:page_title) do %>
  Post Replacements
<% end %>
