<div class="header">
  <div class="row">
    <span class="post-info">
      <strong>Date</strong>
      <%= compact_time(post.created_at) %>
    </span>
    <span class="post-info">
      <strong>Rating</strong>
      <%= post.rating %>
    </span>
    <span class="post-info">
      <strong>Score</strong>
      <span>
        <%= post_score_block(post) %>
      </span>
    </span>
  </div>
  <div class="row list-of-tags hidden" id="post-tags-<%= post.id %>">
    <strong>Tags</strong>
    <a href="#" class="comment-tag-hide-link" data-post-id="<%= post.id %>"></a>
    <div class="tag-list">
      <%= post.presenter.inline_tag_list_html %>
    </div>
  </div>
</div>
