<div class="header">
  <div class="row">
    <span class="info">
      <strong>Date</strong>
      <%= compact_time(post.created_at) %>
    </span>
    <% if CurrentUser.is_moderator? %>
      <span class="info">
        <strong>User</strong>
        <%= link_to_user(post.uploader) %>
      </span>
    <% end %>
    <span class="info">
      <strong>Rating</strong>
      <%= post.rating %>
    </span>
    <span class="info">
      <strong>Score</strong>
      <span>
        <% if CurrentUser.is_voter? %>
          <%= post_vote_block(post, nil) %>
        <% end %>
      </span>
    </span>
  </div>
  <div class="row list-of-tags">
    <strong>Tags</strong>
    <%= post.presenter.inline_tag_list_html %>
  </div>
</div>

