<% unless params[:show] %>
  <div id='searchform_hide'><%= search_show_link %></div>
<% end %>
<div class='section' id='searchform' style='width:400px;<% unless params[:show] %>display:none;<% end %>'>
  <%= simple_form_for(:search, url: post_sets_path, method: :get, defaults: { required: false }, html: { class: "inline-form" }) do |f| %>
    <%= f.input :name, label: "Name", input_html: { value: params[:search][:name] } %>
    <%= f.input :shortname, label: "Short Name", input_html: {value: params[:search][:shortname]} %>
    <%= f.input :creator_name, label: "Username", input_html: {value: params[:search][:creator_name], data: {autocomplete: 'users'}} %>
    <%= f.input :order, collection: [%w[Name name], ['Short Name', 'shortname'], ['Post Count', 'postcount'], %w[Created created], %w[Updated updated]], include_blank: false, selected: params[:search][:order] %>
    <%= f.submit "Search" %>
  <% end %>
  <% unless params[:show] %><%= search_hide_link %><% end %>
</div>
