<?xml version="1.0" encoding="UTF-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">
	<title><%=  Danbooru.config.app_name %> - Sets</title>
	<link href="<%= atom_post_sets_url() %>" rel="self"/>
  <link href="<%= post_sets_url() %>>" rel="alternate"/>
  <id><%= atom_post_sets_url() %></id>
  <% if @post_sets.any? %>
    <updated><%= @post_sets[0].created_at.gmtime.xmlschema %></updated>
  <% end %>
  <author><name><%= Danbooru.config.app_name %></name></author>

  <% @post_sets.each do |set| %>
    <entry>
      <title><%= set.name %></title>
      <link href="<%= post_set_url(set) %>" rel="alternate"/>
      <id><%= post_set_url(set) %></id>
      <updated><%= set.created_at.gmtime.xmlschema %></updated>
      <summary><%= Nokogiri::HTML(format_text set.description).text %></summary>
      <content type="xhtml">
        <div xmlns="http://www.w3.org/1999/xhtml">
          <%= format_text set.description %>
        </div>
      </content>
      <author>
        <name><%= set.creator.pretty_name %></name>
      </author>
    </entry>
  <% end %>
</feed>
