<h3>Delete Set</h3>

<div class='section' style='width:500px;'>
  <% form_tag(action: "destroy") do %>
    <p>Are you sure you wish to delete "<%= @post_set.name %>"?</p>
    <%= submit_tag "Yes" %> <%= tag.button "No", id: "cancel-button" %>
  <% end %>
</div>

<%= javascript_tag nonce: true do -%>
  document.addEventListener('DOMContentLoaded', function() {
    const cancelButton = document.querySelector('#cancel-button');
    if (cancelButton) {
      cancelButton.addEventListener('click', function() {
        history.back();
      });
    }
  });
<% end -%>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Set Deleted
<% end %>
