<div id="c-sets">
  <div id="a-index">
    <%= render partial: 'search' %>

    <h2>Sets</h2>

    <div id="set-index">
      <table class="striped">
        <thead>
        <tr>
          <th width="30%">Name</th>
          <th width="20%">Short Name</th>
          <th width="15%">Creator</th>
          <th width="5%">Posts</th>
          <th width="10%">Created</th>
          <th width="10%">Updated</th>
          <th width="10%">Status</th>
        </tr>
        </thead>

        <tbody>
        <% @post_sets.each do |s| %>
          <tr>
            <td><%= link_to s.name, post_set_path(s) %></td>
            <td><%= link_to s.shortname, posts_path(tags: "set:#{s.shortname}") %></td>
            <td><%= link_to_user s.creator %></td>
            <td><%= s.post_count %></td>
            <td><%= time_ago_in_words_tagged s.created_at, compact: true %></td>
            <td><%= time_ago_in_words_tagged s.updated_at, compact: true %></td>
            <td>
              <% if s.is_public %>
                <div class='set-status set-status-public' title='This set is public'>Public</div>
              <% else %>
                <div class='set-status set-status-private' title='This set is private and only visible to you'>Private</div>
              <% end %>

              <% if s.is_owner?(CurrentUser.user) %>
                <div class='set-status set-status-owner' title='You own this set'>Owner</div>
              <% elsif s.is_maintainer?(CurrentUser.user) %>
                <div class='set-status set-status-maintainer' title='You are a maintainer of this set and can add and remove posts. Click to view invites'><%= link_to "Maint.", controller: "post_set_maintainers", action: "index" %></div>
              <% elsif s.is_invited?(CurrentUser.user) %>
                <div class='set-status set-status-invited' title='You have been invited to maintain this set. Click to view invites'><%= link_to "Invited", controller: "post_set_maintainers", action: "index" %></div>
              <% elsif s.is_blocked?(CurrentUser.user) %>
                <div class='set-status set-status-blocked' title='You have blocked the owner of this set from inviting you to maintain it. Click to view invites'><%= link_to "Blocked", controller: "post_set_maintainers", action: "index" %></div>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <%= render PaginatorComponent.new(records: @post_sets) %>
  </div>
</div>


<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Sets
<% end %>
