<div id="c-sets">
  <div id="a-new">
    <h2>New Set</h2>

    <div>
      <%= simple_form_for(@post_set) do |f| %>
        <%= error_messages_for :post_set %>
        <%= f.input :name, as: :string %>

        <%= f.input :shortname, label: 'Short Name', as: :string, input_html: {onchange: 'shortNameChanged()'},
                    hint: "The short name is used for the set's metatag name. Can only contain letters, numbers, and underscores
                and must contain at least one letter or underscore. <a href=\"/post?tags=set%3Aexample\">set:example</a>".html_safe %>
        <%= dtext_field "post_set", "description", :input_id => "set_description", :preview_id => "dtext-preview" %>

        <%= f.input :is_public, label: 'Public', hint: "Private sets are only visible to you. Public sets are visible to anyone, but only you and users you
                  assign as maintainers can edit the set. Only accounts three days or older can make public sets." %>

        <%= f.input :transfer_on_delete, label: 'Transfer on Deletion', hint: 'If "Transfer on Delete" is enabled, when a post is deleted from the site, its parent (if any) will be
                  added to this set in its place. Disable if you want posts to simply be removed from this set with no
                  replacement.' %>

        <p>You can add posts to the set and assign maintainers on the next page.</p>

        <%= f.button :submit, "Create" %>
        <%= dtext_preview_button :post_set, :body, :input_id => "set_description", :preview_id => "dtext-preview" %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "secondary_links" %>
