<div id="c-sets">
  <div id="a-posts">
    <h2>Post list for set <span class="set-name"><%= @post_set.name %></span></h2>

    <%= custom_form_for(@post_set, url: update_posts_post_set_path(@post_set), method: :post) do |f| %>
      <%= f.input :post_ids_string, as: :text, label: 'Post IDs' %>
      <%= f.button :submit, "Update" %>
    <% end %>
  </div>
</div>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Set Post List - <%= @post_set.name %>
<% end %>
