<div id="c-sets">
  <div id="a-show">
    <div class="set-header"><span class="set-name"><%= @post_set.name %></span> by
      <span class="set-creator"><%= link_to_user @post_set.creator %></span>
      <% if @post_set.is_public %>
        <div class='set-status set-status-public' title='This set is public'>Public</div>
      <% else %>
        <div class='set-status set-status-private' title='This set is private and only visible to you'>Private</div>
      <% end %>

      <% if @post_set.is_owner?(CurrentUser.user) %>
        <div class='set-status set-status-owner' title='You own this set'>Owner</div>
      <% elsif @post_set.is_maintainer?(CurrentUser.user) %>
        <div class='set-status set-status-maintainer' title='You are a maintainer of this set and can add and remove posts'>Maint.</div>
      <% end %>
    </div>
    <div class="set-shortname">
      Short Name: <%= link_to @post_set.shortname, posts_path(tags: "set:#{@post_set.shortname}") %>
    </div>
    Created: <%= time_ago_in_words_tagged(@post_set.created_at) %> |
    Updated: <%= time_ago_in_words_tagged(@post_set.updated_at) %>
    <br/><br/>
    <% if @post_set.description.blank? %>
      <div class='set-description'>No description.</div>
    <% else %>
      <div class='set-description dtext-container'><%= format_text @post_set.description %></div>
    <% end %>
    <div class='set-description-bottom'></div>

    <span class="set-viewposts"><%= link_to "» View Posts (#{@post_set.post_count})", posts_path(tags: "set:#{@post_set.shortname}") %></span><br/>
    <br/>

    <% if @post_set.post_count == 0 %>
      <div class="set-empty section">
        <p>This set has no posts in it.</p>

        <% if @post_set.can_edit_posts?(CurrentUser.user) %>
          To start adding posts to this set:
          <ul>
            <li>On a post's page, click <strong>Add to Set</strong> under <strong>Options</strong> in the sidebar,
              select a set, and click <strong>Add</strong></li>
            <li>When viewing the <%= link_to "post index", posts_path %>, select
              <strong>Add to set...</strong> from the mode dropdown under the search bar, select a set from the new
              dropdown, and click a post thumbnail to add it to the set.
            </li>
          </ul>
        <% end %>
      </div>
    <% elsif @post_set.can_edit_posts?(CurrentUser.user) %>
      <div class="section">
        To add posts to this set:
        <ul>
          <li>On a post's page, click <strong>Add to Set</strong> under <strong>Options</strong> in the sidebar, select
            a set, and click <strong>Add</strong></li>
          <li>When viewing the <%= link_to "post index", posts_path %>, select
            <strong>Add to set...</strong> from the mode dropdown under the search bar, select a set from the new
            dropdown, and click a post thumbnail to add it to the set.
          </li>
        </ul>
        To remove posts from this set:
        <ul>
          <li>When viewing the <%= link_to "post index", posts_path %>, select
            <strong>Remove from set...</strong> from the mode dropdown under the search bar, select a set from the new
            dropdown, and click a post thumbnail to remove it to the set.
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "secondary_links" %>

<% content_for(:page_title) do %>
  Set - <%= @post_set.name %>
<% end %>
