<div id="c-posts">
  <div id="a-index">
    <aside id="sidebar">
      <%= render "posts/partials/common/search", :path => posts_path, :tags => params[:tags], :tags_dom_id => "tags" %>

      <% if CurrentUser.is_member? %>
        <%= render "posts/partials/index/mode_menu" %>
      <% end %>

      <%= render "posts/partials/index/blacklist" %>

      <section id="tag-box">
        <h1>Tags</h1>
        <!-- TODO: Lock off these extra items? -->
        <%= @post_set.presenter.post_index_sidebar_tag_list_html(current_query: params[:tags]) %>
      </section>

      <%= render "posts/partials/index/related" %>
    </aside>

    <section id="content">
      <%= render "ads/leaderboard" %>

      <!-- TODO: Fix tag array with forced -status:deleted -->

      <div class="mobile-search">
        <%= link_to "(search help)", help_page_path(id: "cheatsheet"), class: 'search-help' %>
        <div class="search-form">
          <%= form_tag(posts_path, :method => "get") do %>
            <% if params[:random] %>
              <%= hidden_field_tag :random, params[:random] %>
            <% end %>
            <div class="search-input"><%= text_field_tag("tags", params[:tags], :id => "mobile-search-input", :"data-autocomplete" => "tag-query") %></div>
            <div class="search-button"><%= tag.button(tag.i(class: "fa-solid fa-magnifying-glass"), type: "submit") %></div>
          <% end %>
        </div>
      </div>

      <%= render "posts/partials/index/edit" %>
      <%= render "posts/partials/index/posts", :post_set => @post_set %>
    </section>
  </div>
</div>


<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  <% if @post_set.public_tag_string.present? %>
    <%= @post_set.humanized_tag_string %>
  <% else %>
    Posts
  <% end %>
<% end %>

<% content_for(:html_header) do %>
  <%= tag.link href: posts_path(format: "atom", tags: params[:tags]), rel: "alternate", title: "ATOM", type: "application/atom+xml" %>
  <%= tag.link rel: "next", href: next_page_url %>
  <% if prev_page_url %>
    <%= tag.link rel: "prev", href: prev_page_url %>
  <% end %>
  <%= render "posts/partials/index/seo_meta_tags" %>
<% end %>
