<div id="c-posts"><div id="a-index">
  <div class="post-index">

    <div class="search">
      <%= render "posts/partials/common/search", title: "Posts", tags: params[:tags] %>
      <%= render "posts/partials/index/controls" %>
    </div>

    <div class="sidebar">
      <% if CurrentUser.is_member? %>
        <%= render "posts/partials/index/mode_menu" %>
      <% end %>
      <%= render "posts/partials/index/blacklist" %>

      <section id="tag-box">
        <h3>Tags</h3>
        <!-- TODO: Lock off these extra items? -->
        <%= @post_set.presenter.post_index_sidebar_tag_list_html(current_query: params[:tags]) %>
      </section>

      <%= render "posts/partials/index/related" %>
    </div>

    <div class="content">
      <%= render "ads/leaderboard", tag_string: @post_set.ad_tag_string %>
      <%= render "posts/partials/index/edit" %>
      <%= render "posts/partials/index/stats", :post_set => @post_set %>
      <%= render "posts/partials/index/posts", :post_set => @post_set %>
    </div>

  </div>
</div></div>


<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  <% if @post_set.public_tag_string.present? %>
    <%= @post_set.humanized_tag_string %>
  <% else %>
    Posts
  <% end %>
<% end %>

<% content_for(:html_header) do %>
  <%= tag.link href: posts_path(format: "atom", tags: params[:tags]), rel: "alternate", title: "ATOM", type: "application/atom+xml" %>
  <%= tag.link rel: "next", href: next_page_url %>
  <% if prev_page_url %>
    <%= tag.link rel: "prev", href: prev_page_url %>
  <% end %>
  <%= render "posts/partials/index/seo_meta_tags" %>
<% end %>
