<div id="c-posts"><div id="a-show">
  <%# Cookie value set in MobileTabs.ts %>
  <% selected_tab = !CurrentUser.hide_comments? && cookies[:post_tab] == "1" ? "comments" : "tags" %>
  <div class="post-display" id="post-show-display" data-tab-state="<%= selected_tab %>">

    <div class="search">
      <%= render "posts/partials/common/search", title: "Posts", tags: params[:q] %>
      <%= render "posts/partials/index/controls" %>
    </div>

    <div class="sidebar">
      <%= render "posts/partials/index/blacklist", post_id: @post.id %>

      <section id="tag-list">
        <%= render partial: "/posts/partials/show/sidebar/tag_list", locals: { post: @post, query: params[:q] } %>
      </section>

      <section id="post-information">
        <h3>Information</h3>
        <%= render "posts/partials/show/sidebar/information", :post => @post %>
      </section>

      <% if CurrentUser.is_member? %>
        <section id="post-options">
          <h3>Options</h3>
          <%= render "posts/partials/show/sidebar/options", :post => @post %>
        </section>
      <% end %>

      <% if CurrentUser.is_authenticated? %>
        <section id="post-history">
          <h3>History</h3>
          <%= render "posts/partials/show/sidebar/history", :post => @post %>
        </section>
      <% end %>

      <section id="post-related-images">
        <h3>Related</h3>
        <%= render "posts/partials/show/sidebar/related", :post => @post %>
      </section>
      
      <div class="go-up"><button type="button" class="st-button kinetic" title="Scroll to top" aria-label="Scroll to top"><%= svg_icon(:corner_right_up) %></button></div>
    </div>

    <div class="content">
      <%= render "ads/leaderboard", area: :top, tag_string: @post.ad_tag_string %>

      <div id="image-and-nav">
        <% if @post.presenter.has_nav_links?(self) %>
          <%= render "posts/partials/show/content/nav_links/nav_links", :post => @post %>
          <div id="nav-links-top" class="ui-corner-all nav-notice">
            <%= content_for :nav_links_section %>
          </div>
        <% end %>

        <div id="post-notices-top">
          <div class="notice notice-no-shortcuts" style="display: none;" id="flash-shortcut-notice">
            Adobe Flash has reached end of life, and no longer works in browsers. Please see <a href="/forum_topics/22535" rel="nofollow">this thread</a> on the forum for details on how you can continue to play this file.
            <br>Keyboard shortcuts are disabled on this page because it contains flash.
          </div>
          <% if CurrentUser.is_janitor? %>
            <%= render "posts/partials/show/content/notices/notices", post: @post %>
          <% end %>
        </div>

        <%= tag.section(id: "image-container", class: "blacklistable", **PostPresenter.data_attributes(@post, include_post: true)) do -%>
          <div id="note-container" enabled="false"></div>
          <div id="note-preview"></div>
          <%= render "posts/partials/show/content/embedded/embedded", post: @post %>
        <% end -%>

        <% if @post.visible? && @post.has_sample? %>
          <div class="ui-corner-all ui-state-highlight notice notice-resized" id="image-resize-notice" style="<%= CurrentUser.default_image_size != "large" ? "display: none;" : "" %>">
            <span>Viewing sample resized to <span id="image-resize-size"><%= number_to_percentage @post.resize_percentage.floor, precision: 0 %></span> of original (<%= link_to "view original", @post.file_url, id: "image-resize-link" %>)</span>
            <span style="display: none;">Loading...</span>
          </div>
        <% end %>

        <% if @post.presenter.has_nav_links?(self) %>
          <div id="nav-links-bottom" class="ui-corner-all nav-notice">
            <%= content_for :nav_links_section %>
          </div>
        <% end %>
      </div>

      <%= render "posts/partials/show/content/toolbar", post: @post %>

      <div class="bottom-notices">
        <div class="parent-children">
          <%= render "posts/partials/show/content/children", post: @post %>
        </div>

        <% if !CurrentUser.is_janitor? %>
          <%= render "posts/partials/show/content/notices/notices", post: @post %>
        <% end %>
      </div>

      <section id="mark-as-translated-section" style="display: none;">
        <%= render "posts/partials/show/content/translated", post: @post %>
      </section>

      <% if CurrentUser.is_member? %>
        <section id="edit" style="display: none;">
          <%= render "posts/partials/show/content/edit", :post => @post %>
        </section>
      <% end %>

      <% if @post.description.present? %>
        <div id="post-description-container" class="styled-dtext">
          <%= render "posts/partials/show/content/description", post: @post %>
        </div>
      <% end %>

      <%# Determine which recommender tabs to show %>
      <% artist_tab_available = @post.known_artist_tags.any? %>
      <% tags_tab_available = @post.tags_for_category("general").size > 1 && CurrentUser.user.is_staff? %>
      <% favorites_tab_available = Danbooru.config.recommender_enabled? && CurrentUser.user.is_staff? %>

      <% if artist_tab_available || tags_tab_available || favorites_tab_available %>
        <div
          id="post-recommendations"
          data-visible="<%= cookies[:post_recs] != "1" %>"
          data-action="artist"
          data-status="waiting"
          data-post-id="<%= @post.id %>"
        >
          <div id="post-recommendations-tabs" role="tablist">
            <% if artist_tab_available %>
            <button
              type="button"
              role="tab"
              class="st-button"
              id="post-recommendations-tab-artist"
              data-action="artist"
              aria-controls="post-recommendations-list"
              aria-selected="true"
            >From the Artist</button>
            <% end %>
            <% if tags_tab_available %>
            <button
              type="button"
              role="tab"
              class="st-button"
              id="post-recommendations-tab-tags"
              data-action="tags"
              aria-controls="post-recommendations-list"
              aria-selected="false"
            >Similar</button>
            <% end %>
            <% if favorites_tab_available %>
              <button
                type="button"
                role="tab"
                class="st-button"
                id="post-recommendations-tab-favorites"
                data-action="favorites"
                aria-controls="post-recommendations-list"
                aria-selected="false"
              ><span class="desktop-only">Others Also</span>Liked</button>
            <% end %>
          </div>
          <div id="post-recommendations-toggle">
            <button
              type="button"
              class="st-button"
              data-action="reveal"
              aria-controls="post-recommendations"
              aria-expanded="<%= cookies[:post_recs] != "1" %>"
              aria-label="<%= cookies[:post_recs] == "1" ? "Show" : "Hide" %> Recommendations"
            >
              <span>Show Recommendations</span>
              <%= svg_icon(:eye_off) %>
            </button>
          </div>
          <div id="post-recommendations-list" role="tabpanel" aria-labelledby="post-recommendations-tab-artist" tabindex="0">
            <% 6.times do %>
              <article class="thumbnail placeholder"></article>
            <% end %>
          </div>
        </div>
      <% end %>

      <section id="note-staging" style="display: none;">
        <% if @post.can_have_notes? && @post.has_notes?  %>
          <% cache("p/#{@post.id}/n/#{@post.last_noted_at.to_i}") do %>
            <%= render :partial => "notes/note", :collection => @post.notes.active %>
          <% end %>
        <% end %>
      </section>
    </div>

    <div class="tabs" id="mobile-tabs" role="tablist">
      <button
        type="button"
        role="tab"
        class="post-mobile-tab"
        data-action="tags"
        aria-controls="post-show-display"
        aria-selected="<%= selected_tab == "tags" %>"
      >Tags</button>
      <% unless CurrentUser.hide_comments? %>
        <button
          type="button"
          role="tab"
          class="post-mobile-tab"
          data-action="comments"
          aria-controls="post-show-display"
          aria-selected="<%= selected_tab == "comments" %>"
        ><%= "Comments (#{@post.comment_count})" %></button>
      <% end %>
    </div>

    <div class="comments">
      <% unless CurrentUser.hide_comments? %>
        <section id="comments">
          <%= render "comments/partials/index/list", :comments => @comments, :post => @post, :show_header => false %>
        </section>

        <% if @comments.any? %>
          <div class="go-up"><button type="button" class="st-button kinetic" title="Scroll to top" aria-label="Scroll to top"><%= svg_icon(:corner_right_up) %></button></div>
        <% end %>
      <% end %>
    </div>

    <div class="adscape">
      <%= render "ads/leaderboard", area: :bottom, tag_string: @post.ad_tag_string %>
    </div>
  </div>

  <% if CurrentUser.is_member? %>
    <div class="dialog-staging" style="display: none;">
      <%= render "pool_elements/new" %>
      <%= render "post_sets/add_dialog" %>
      <%= render "/notes/dialog" %>

      <% if CurrentUser.can_approve_posts? %>
        <%= render "post_disapprovals/detailed_rejection_dialog" %>
        <%= render "moderator/post/posts/delete_with_reason_dialog" %>
      <% end %>
    </div>

    <%= javascript_tag nonce: true do -%>
      var uploaderSettings = {
        postTags: <%= (@post.presenter.categorized_tag_list_text + " ").to_json.html_safe %>,
        uploadTags: <%= CurrentUser.presenter.favorite_tags_with_types.to_json.html_safe %>,
        recentTags: <%= CurrentUser.presenter.recent_tags_with_types.to_json.html_safe %>
      };
      <% end -%>
  <% end %>
  <% if @fixup_post_url %>
    <%= javascript_tag nonce: true do -%>
      // This just fixes up the history path for this page so you don't end up getting the wrong url when navigating.
      history.replaceState({}, "", <%= post_path(@post, q: params[:q]).to_json.html_safe %>);
    <% end -%>
  <% end %>
</div></div>

<% content_for(:page_title) do %>
  #<%= @post.id %>
<% end %>

<% content_for(:html_header) do %>
  <% if @post.hide_from_search_engines? %><meta name="robots" content="noindex" /><% end %>
  <% if @post.force_original_size? %><meta name="image-override-size" content="original"/><% end %>
  <meta name="default-image-size" content="<%= @post.presenter.default_image_size(CurrentUser.user) %>"/>
<% end %>
<% render(partial: "static/embed", locals: { record: @post, name: @post.presenter.humanized_essential_tag_string, description: "View this #{@post.image_width}x#{@post.image_height} #{number_to_human_size(@post.file_size)} image", post: @post }) %>

<%= render "posts/partials/common/secondary_links" %>
