<div id="c-posts"><div id="a-show">
  <div class="post-index">

    <div class="search">
      <%= render "posts/partials/common/search", title: "Posts", tags: params[:q] %>
      <%= render "posts/partials/index/controls" %>
    </div>

    <div class="sidebar">
      <%= render "posts/partials/index/blacklist", post_id: @post.id %>

      <section id="tag-list">
        <%= render partial: "/posts/partials/show/sidebar/tag_list", locals: { post: @post, query: params[:q] } %>
      </section>

      <section id="post-information">
        <h3>Information</h3>
        <%= render "posts/partials/show/sidebar/information", :post => @post %>
      </section>

      <section id="post-options">
        <h3>Options</h3>
        <%= render "posts/partials/show/sidebar/options", :post => @post %>
      </section>

      <% if CurrentUser.is_member? %>
        <section id="post-history">
          <h3>History</h3>
          <%= render "posts/partials/show/sidebar/history", :post => @post %>
        </section>
      <% end %>

      <section id="post-related-images">
        <h3>Related</h3>
        <%= render "posts/partials/show/sidebar/related", :post => @post %>
      </section>
    </div>

    <div class="content">
      <div id="image-and-nav">
        <% if @post.presenter.has_nav_links?(self) %>
          <%= render "posts/partials/show/content/nav_links/nav_links", :post => @post %>
          <div id="nav-links-top" class="ui-corner-all nav-notice">
            <%= content_for :nav_links_section %>
          </div>
        <% end %>

        <div id="post-notices-top">
          <div class="notice notice-no-shortcuts" style="display: none;" id="flash-shortcut-notice">
            Adobe Flash has reached end of life, and no longer works in browsers. Please see <a href="/forum_topics/22535" rel="nofollow">this thread</a> on the forum for details on how you can continue to play this file.
            <br>Keyboard shortcuts are disabled on this page because it contains flash.
          </div>
          <% if CurrentUser.is_janitor? %>
            <%= render "posts/partials/show/content/notices/notices", post: @post %>
          <% end %>
        </div>

        <%= render "ads/leaderboard", tag_string: @post.ad_tag_string %>

        <%= tag.section(id: "image-container", class: "blacklistable", **PostPresenter.data_attributes(@post, include_post: true)) do -%>
          <div id="note-container" enabled="false"></div>
          <div id="note-preview"></div>
          <%= render "posts/partials/show/content/embedded/embedded", post: @post %>
        <% end -%>

        <% if @post.visible? && @post.has_sample? %>
          <div class="ui-corner-all ui-state-highlight notice notice-resized" id="image-resize-notice" style="<%= CurrentUser.default_image_size != "large" ? "display: none;" : "" %>">
            <span>Viewing sample resized to <span id="image-resize-size"><%= number_to_percentage @post.resize_percentage.floor, precision: 0 %></span> of original (<%= link_to "view original", @post.file_url, id: "image-resize-link" %>)</span>
            <span style="display: none;">Loading...</span>
          </div>
        <% end %>

        <% if @post.presenter.has_nav_links?(self) %>
          <div id="nav-links-bottom" class="ui-corner-all nav-notice">
            <%= content_for :nav_links_section %>
          </div>
        <% end %>
      </div>

      <%= render "posts/partials/show/content/toolbar", post: @post %>

      <div class="bottom-notices">
        <div class="parent-children">
          <%= render "posts/partials/show/content/children", post: @post %>
        </div>

        <% if !CurrentUser.is_janitor? %>
          <%= render "posts/partials/show/content/notices/notices", post: @post %>
        <% end %>
      </div>

      <section id="mark-as-translated-section" style="display: none;">
        <%= render "posts/partials/show/content/translated", post: @post %>
      </section>

      <% if @post.description.present? %>
        <div id="post-description-container" class="styled-dtext">
        <%= render "posts/partials/show/content/description", post: @post %>
        </div>
      <% end %>

      <ul class="menu mobile-only">
        <li><a href="#image-and-nav">Image</a></li>
        <li><a href="#tag-list">Tags/Info</a></li>
      </ul>

      <%= render "posts/partials/common/inline_blacklist" %>

      <menu id="post-sections">
        <% unless CurrentUser.hide_comments? %>
          <li class="active"><a href="#comments">Comments</a></li>
        <% end %>
        <% if CurrentUser.is_member? %>
          <li><a href="#edit" id="post-edit-link" data-hotkey="edit">Edit</a></li>
        <% end %>
      </menu>

      <% unless CurrentUser.hide_comments? %>
        <section id="comments">
          <%= render "comments/partials/index/list", :comments => @comments, :post => @post, :show_header => false %>
        </section>
      <% end %>

      <ul class="menu mobile-only">
        <li><a href="#image-and-nav">Image</a></li>
        <% unless CurrentUser.hide_comments? %>
          <li><a href="#comments">Comments</a></li>
        <% end %>
      </ul>

      <section id="notes" style="display: none;">
        <% if @post.has_notes? %>
          <% cache("p/#{@post.id}/n/#{@post.last_noted_at.to_i}") do %>
            <%= render :partial => "notes/note", :collection => @post.notes.active %>
          <% end %>
        <% end %>
      </section>

      <% if CurrentUser.is_member? %>
        <section id="edit" style="display: none;">
          <%= render "posts/partials/show/content/edit", :post => @post %>
        </section>
      <% end %>
    </div>
  </div>

  <% if CurrentUser.is_member? %>
    <div id="add-to-pool-dialog" title="Add to pool" style="display: none;">
      <%= render "pool_elements/new" %>
    </div>
    <div id="add-to-set-dialog" title="Add to set" style="display: none;">
      <%= render "post_sets/add_dialog" %>
    </div>
    <%= javascript_tag nonce: true do -%>
      var uploaderSettings = {
        postTags: <%= (@post.presenter.categorized_tag_list_text + " ").to_json.html_safe %>,
        uploadTags: <%= CurrentUser.presenter.favorite_tags_with_types.to_json.html_safe %>,
        recentTags: <%= CurrentUser.presenter.recent_tags_with_types.to_json.html_safe %>
      };
      <% end -%>
  <% end %>
  <% if @fixup_post_url %>
    <%= javascript_tag nonce: true do -%>
      // This just fixes up the history path for this page so you don't end up getting the wrong url when navigating.
      history.replaceState({}, "", <%= post_path(@post, q: params[:q]).to_json.html_safe %>);
    <% end -%>
  <% end %>
</div></div>

<% content_for(:page_title) do %>
  #<%= @post.id %>
<% end %>

<% content_for(:html_header) do %>
  <% if @post.hide_from_search_engines? %><meta name="robots" content="noindex" /><% end %>
  <% if @post.force_original_size? %><meta name="image-override-size" content="original"/><% end %>
  <meta name="default-image-size" content="<%= @post.presenter.default_image_size(CurrentUser.user) %>"/>
<% end %>
<% render(partial: "static/embed", locals: { record: @post, name: @post.presenter.humanized_essential_tag_string, description: "View this #{@post.image_width}x#{@post.image_height} #{number_to_human_size(@post.file_size)} image", post: @post }) %>

<%= render "posts/partials/common/secondary_links" %>
