<div id="posts" class="post-index-gallery">
  <% if @wiki_text.present? %>
    <section class="wiki-excerpt loading hidden">
      <h3 role="button" class="wiki-excerpt-toggle">
        <%= svg_icon(:chevron_right) %>
        <span><%= @wiki_page.pretty_title %></span>
        <button class="st-button icon wiki-excerpt-dismiss">
          <%= svg_icon(:times) %>
        </button>
      </h3>
      <%= format_text(@wiki_text, allow_color: true, max_thumbs: 0) %>
      <a href="<%= wiki_page_path(@wiki_page) %>" class="wiki-excerpt-readmore"><span>Read More</span></a>
    </section>
  <% end %>
  <section class="posts-container">
    <% if @posts.empty? %>
      <%= render "posts/blank" %>
    <% else %>
      <%= render(PostThumbnailComponent.with_collection(@posts, tags: @post_set.tag_string)) %>
    <% end %>
  </section>

  <% if post_set.hidden_posts.present? %>
    <div class="info hidden-posts-notice">
      <% if post_set.safe_posts.present? %>
        <%= post_set.safe_posts.size %> post(s) on this page were hidden by safe mode (<%= Danbooru.config.app_name %>). Go to <%= link_to "e621", "https://e621.net/" %> or disable safe mode to view (<%= link_to "learn more", help_page_path(id: "user_settings") %>).<br>
      <% end %>
      <% if post_set.login_blocked_posts.present? %>
        <%= post_set.login_blocked_posts.size %> post(s) on this page were hidden because you need to be logged in to view them. <%= link_to "(learn more)", help_page_path(id: 'global_blacklist') %>
      <% end %>
    </div>
  <% end %>

  <% unless post_set.is_random? %>
    <%= numbered_paginator(post_set.posts) %>
  <% end %>
</div>
