<%= tag.article(**article_attrs) do -%>
  <%= link_to polymorphic_path(link_target, link_params), data: { hover_text: tooltip } do -%>
    <%= tag.picture do -%>
      <%= tag.source media: "(min-width: 800px)", srcset: preview_url -%>
      <%= tag.img src: preview_url, alt: alt_text -%>
    <% end -%>
  <% end -%>
  <% if stats -%>
    <%= post_stats_section(post) %>
  <% end -%>
  <% if pool -%>
    <div class="desc">
      <%= link_to pool.pretty_name.truncate(80), pool %>
    </div>
  <% end -%>
  <% if similarity -%>
    <div class="desc">
      Similarity: <%= similarity %>
    </div>
  <% end -%>
  <% if size -%>
    <div class="desc">
      <%= number_to_human_size(size) %>  <%= file_ext.upcase %> (<%= width %>x<%= height %>)
    </div>
  <% end -%>
<% end -%>
