<% if forum_post.visible?(CurrentUser.user) %>
  <article class="forum-post comment-post-grid" id="forum_post_<%= forum_post.id %>"
           data-forum-post-id="<%= forum_post.id %>" data-creator="<%= forum_post.creator&.name.downcase %>"
           data-creator-id="<%= forum_post.creator_id %>"
           data-is-hidden="<%= forum_post.id == original_forum_post_id ? @forum_topic.is_hidden? : forum_post.is_hidden? %>">
    <div class="author-info">
      <div class="name-rank">
        <h4 class="author-name"><%= link_to_user forum_post.creator %></h4>
        <%= forum_post.creator.level_string %>
        <% if forum_post.is_hidden? %>
          (hidden)
        <% end %>
      </div>
      <div class="avatar">
        <%= user_avatar(forum_post.creator) %>
      </div>
      <div class="post-time">
        <%= link_to time_ago_in_words_tagged(forum_post.created_at), forum_topic_path(forum_post.topic, :page => forum_post.forum_topic_page, :anchor => "forum_post_#{forum_post.id}") %>
      </div>
    </div>
    <div class="content">
      <div class="dtext-container">
        <%= format_text(parse_embedded_tag_request_text(forum_post.body), allow_color: forum_post.creator.is_privileged?) %>
      </div>
      <%= render "application/update_notice", record: forum_post %>
      <%= render "application/warned_notice", record: forum_post if forum_post.was_warned? %>
      <div class="content-menu">
        <menu>
          <% if CurrentUser.is_member? && @forum_topic && params[:controller] != "forum_posts" %>
            <li><%= tag.a "Reply", href: '#', class: "reply-link forum-post-reply-link" %></li>
          <% end %>
          <% if !forum_post.is_original_post?(original_forum_post_id) %>
            <% if forum_post.is_hidden? && CurrentUser.is_moderator? %>
              <li><%= tag.a "Unhide", href: '#', class: 'forum-post-unhide-link' %></li>
            <% elsif !forum_post.is_hidden? && forum_post.can_hide?(CurrentUser.user) %>
              <li><%= tag.a "Hide", href: '#', class: 'forum-post-hide-link' %></li>
            <% end %>
            <% if forum_post.can_delete?(CurrentUser.user) %>
              <li><%= link_to "Delete", forum_post_path(forum_post.id), :data => {:confirm => "Are you sure you want to delete this forum post?"}, method: :delete %></li>
            <% end %>
          <% else %>
            <% if forum_post.topic.is_hidden? && CurrentUser.is_moderator? %>
              <li><%= link_to "Unhide", unhide_forum_topic_path(forum_post.topic.id), method: :post %></li>
            <% elsif forum_post.topic.can_hide?(CurrentUser.user) %>
              <li><%= link_to "Hide", hide_forum_topic_path(forum_post.topic.id), :data => {:confirm => "Are you sure you want to hide this forum topic?"}, method: :post %></li>
            <% end %>
            <% if forum_post.topic.can_delete?(CurrentUser.user) %>
              <li><%= link_to "Delete", forum_topic_path(forum_post.topic), :data => {:confirm => "Are you sure you want to delete this forum topic?"}, method: :delete %></li>
            <% end %>
          <% end %>
          <% if forum_post.editable_by?(CurrentUser.user) %>
            <% if forum_post.is_original_post?(original_forum_post_id) %>
              <li><%= link_to "Edit", edit_forum_topic_path(forum_post.topic), :id => "edit_forum_topic_link_#{forum_post.topic.id}", :class => "edit_forum_topic_link" %></li>
            <% else %>
              <li><%= link_to "Edit", edit_forum_post_path(forum_post.id), :id => "edit_forum_post_link_#{forum_post.id}", :class => "edit_forum_post_link" %></li>
            <% end %>
          <% end %>
          <% if params[:controller] == "forum_posts" %>
            <li><%= link_to "Parent", forum_topic_path(forum_post.topic, :page => forum_post.forum_topic_page, :anchor => "forum_post_#{forum_post.id}") %></li>
          <% end %>
          <% if CurrentUser.is_member? %>
            <li><%= link_to "Report", new_ticket_path(disp_id: forum_post.id, qtype: 'forum') %></li>
          <% end %>
          <% if CurrentUser.is_moderator? %>
            <li>|</li>
            <li><%= link_to "Show Edits", edit_history_path(id: forum_post.id, type: 'ForumPost') %></li>
            <%= render "user_warnable/buttons", model: forum_post %>
          <% end %>
          <% if CurrentUser.is_admin? %>
            <li>|</li>
            <li>
              <strong>IP</strong>
              <span><%= link_to_ip forum_post.creator_ip_addr %></span>
            </li>
          <% end %>
        </menu>
        <% if @votable_posts %>
          <%= render "forum_post_votes/list", votes: forum_post.votes, forum_post: forum_post if @votable_posts.include? forum_post.id %>
        <% elsif forum_post.votable? %>
          <%= render "forum_post_votes/list", votes: forum_post.votes, forum_post: forum_post %>
        <% end %>
        <% if forum_post.editable_by?(CurrentUser.user) %>
          <% if forum_post.is_original_post?(original_forum_post_id) %>
            <%= render "forum_topics/form", :forum_topic => forum_post.topic %>
          <% else %>
            <%= render "forum_posts/partials/edit/form", :forum_post => forum_post %>
          <% end %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
