<div id="c-forum-posts">
  <div id="a-index">
    <%= render "search" %>
    <table class="striped">
      <thead>
        <tr>
          <th>Topic</th>
          <th>Excerpt</th>
          <th>Creator</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @forum_posts.each do |forum_post| %>
          <tr id="forum-post-<%= forum_post.id %>" data-topic-is-hidden="<%= forum_post.topic.is_hidden? %>" data-is-hidden="<%= forum_post.is_hidden? %>">
            <td class="forum-post-topic-title">
              <%= link_to forum_post.topic.title, forum_topic_path(forum_post.topic) %>
            </td>
            <td class="forum-post-excerpt">
              <%= link_to truncate(forum_post.body, :length => 50), forum_post_path(forum_post) %>
            </td>
            <td><%= link_to_user forum_post.creator %></td>
            <td><%= time_ago_in_words_tagged forum_post.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= numbered_paginator(@forum_posts) %>
  </div>
</div>

<%= render "forum_topics/secondary_links" %>

<% content_for(:page_title) do %>
  Forum Posts
<% end %>
