<div id="c-maintenance-user-api-keys">
  <div id="a-show">
    <h1>API Key</h1>

    <h2><b>Your API key is like your password</b></h2>
    <p>
      Anyone who has it has full access to your account. Don't give your API key
      to third-party apps you don't trust, and don't post your API key in public places.
    </p>

    <table class="striped">
      <thead>
      <tr>
        <th>API Key</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr id="api-key-<%= @api_key.id %>">
        <td id="api-key"><code><%= @api_key.key %></code></td>
        <td id="api-key-created"><%= compact_time(@api_key.created_at) %></td>
        <td id="api-key-updated"><%= compact_time(@api_key.updated_at) %></td>
        <td>
          <%= button_to("Regenerate", user_api_key_path(CurrentUser.user), method: :put) %>
          <%= button_to("Delete", user_api_key_path(CurrentUser.user), method: :delete) %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<% content_for(:page_title) do %>
  API Key
<% end %>
