<div id="c-maintenance-user-api-keys">
  <div id="a-view">
    <h1>API Key</h1>

    <p>
      <h2><b>Your API key is like your password</b></h2>
      Anyone who has it has full access to your account. Don't give your API key
      to third-party apps you don't trust, and don't post your API key in public places.
    </p>

    <table class="striped">
      <thead>
        <tr>
          <th>API Key</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td id="api-key"><code><%= @api_key.key %></code></td>
          <td id="api-key-created"><%= compact_time @api_key.created_at %></td>
          <td id="api-key-updated"><%= compact_time @api_key.updated_at %></td>
          <td>
            <%= button_to "Regenerate", user_api_key_path(CurrentUser.user), method: :put, params: { 'user[password]': @password } %>
            <%= button_to "Delete", user_api_key_path(CurrentUser.user), method: :delete, params: { 'user[password]': @password } %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% content_for(:page_title) do %>
  API Key
<% end %>
