<div id="c-tag-corrections">
  <div id="a-new">
    <h1>Fix Tag: <%= @correction.tag.name %></h1>

    <div style="margin-bottom: 1em;">
      <ul>
        <li><strong>Category actual</strong>: <%= TagCategory::REVERSE_MAPPING[@correction.category] %></li>
        <li><strong>Category memcache</strong>: <%= TagCategory::REVERSE_MAPPING[@correction.category_cache] || "none" %></li>
        <li><strong>Post count db cache</strong>: <%= @correction.post_count %></li>
        <li><strong>Post count actual:</strong> <%= @correction.real_post_count %></li>
      </ul>
    </div>

    <%= form_tag(tag_correction_path(tag_id: @correction.tag.id)) do %>
      <%= hidden_field_tag "from_wiki", @from_wiki %>
      <%= submit_tag "Fix" %>
      <%= submit_tag "Cancel" %>
    <% end %>
  </div>
</div>

<% content_for(:page_title) do %>
  Tag Correction
<% end %>
