<div id="c-meta-searches">
  <div id="a-tags">
    <h1>MetaSearch Tags</h1>

    <section>
      <%= form_tag(meta_searches_tags_path, :method => :get) do %>
        <%= text_field_tag "name", params[:name], :data => { :autocomplete => "tag" } %>
        <%= submit_tag "Go" %>
      <% end %>
    </section>

    <section>
      <h2>Tags</h2>

      <% if @meta_search.tags.blank? %>
        <p>No results</p>
      <% else %>
        <table class="striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Count</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @meta_search.tags.each do |tag| %>
              <tr>
                <td><%= tag.name %></td>
                <td><%= tag.post_count %></td>
                <td>
                  <% if tag.category_editable_by?(CurrentUser.user) %>
                    <%= link_to "edit", edit_tag_path(tag) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </section>


    <section>
      <h2>Tag Aliases</h2>
      <% if @meta_search.tag_aliases.blank? %>
        <p>No results</p>
      <% else %>
        <%= render "tag_relationships/listing", tag_relations: @meta_search.tag_aliases %>
      <% end %>
    </section>

    <section>
      <h2>Tag Implications</h2>
      <% if @meta_search.tag_implications.blank? %>
        <p>No results</p>
      <% else %>
        <%= render "tag_relationships/listing", tag_relations: @meta_search.tag_implications %>
      <% end %>
    </section>
  </div>
</div>

<%= render "tags/secondary_links" %>

<% content_for(:page_title) do %>
  MetaSearch - Tags
<% end %>
