<table class="table">
  <thead>
  <tr>
    <th>ID #1</th>
    <th>Name #1</th>
    <th>Email #1</th>
    <th>IP</th>
    <th>ID #2</th>
    <th>Name #2</th>
    <th>Email #2</th>
    <th>Last Login #2</th>
  </tr>
  </thead>
  <tbody>
  <% @alts.each do |alt| %>
  <tr>
    <td><%= link_to alt['u1id'], user_path(id: alt['u1id']) %></td>
    <td><%= link_to alt['u1name'], user_path(id: alt['u1id']) %></td>
    <td><%= alt['u1email'] %></td>
    <td><%= link_to_ip alt['last_ip_addr'] %></td>
    <td><%= link_to alt['u2id'], user_path(id: alt['u2id']) %></td>
    <td><%= link_to alt['u2name'], user_path(id: alt['u2id']) %></td>
    <td><%= alt['u2email'] %></td>
    <td><%= alt['last_logged_in_at'] %></td>
  </tr>
  <% end %>
  </tbody>
</table>
