<div id="c-admin-users">
  <div id="a-edit">
    <h1>Edit User: <%= @user.name %></h1>

    <%= custom_form_for(@user, url: admin_user_path(@user), method: :put) do |f| %>
      <%= f.input :id, as: :hidden %>
      <%= f.input :name, input_html: { size: 50 } %>
      <% if CurrentUser.is_bd_staff? %>
        <%= f.input :email, input_html: { size: 50 } %>
        <div class="input">
          <label class="block" for="user_verified">Email Verified</label>
          <%= select_tag("user[verified]", options_for_select([["Yes", true], ["No", false]], @user.is_verified?)) %>
        </div>
      <% end %>

      <div class="input">
        <label class="block" for="user_enable_privacy_mode">Hide Favorites</label>
        <%= select_tag("user[enable_privacy_mode]", options_for_select([["Yes", true], ["No", false]], @user.enable_privacy_mode?)) %>
      </div>

      <%= f.input :profile_about, as: :dtext, label: "About", limit: Danbooru.config.user_about_max_size, allow_color: true %>
      <%= f.input :profile_artinfo, as: :dtext, label: "Commission Info", limit: Danbooru.config.user_about_max_size, allow_color: true %>
      <%= f.input :base_upload_limit %>

      <% if CurrentUser.is_bd_staff? || !@user.is_bd_staff? %>
        <div class="input integer optional">
          <label for="user_level" class="optional">Level</label>
          <%= user_level_select(:user, :level) %>
        </div>
      <% end %>

      <div class="input">
        <label for="user_can_upload_free" class="optional">Unrestricted Uploads</label>
        <%= select(:user, :can_upload_free, [["Yes", true], ["No", false]]) %>
      </div>

      <div class="input">
        <label for="user_can_approve_posts" class="optional">Approve Posts</label>
        <%= select(:user, :can_approve_posts, [["Yes", true], ["No", false]]) %>
      </div>

      <div class="input">
        <label for="user_no_flagging" class="optional">Banned From Flagging</label>
        <%= select(:user, :no_flagging, [["Yes", true], ["No", false]]) %>
      </div>

      <div class="input">
        <label for="user_replacements_beta" class="optional">Replacements Beta</label>
        <%= select(:user, :replacements_beta, [["Yes", true], ["No", false]]) %>
      </div>
      <%= f.button :submit, value: "Update" %>
    <% end %>
  </div>
</div>

<%= render "users/secondary_links" %>

<% content_for(:page_title) do %>
  Edit User - <%= @user.name %>
<% end %>
