<div>
  <h4>Reset Password</h4>

  <% if @user.email.blank? %>
    <p>Password reset request created, but <%= @user.name %> has no email address associated with their account.<br>
  <% else %>
    <p>Password reset email successfully sent to <%= @user.name %> (<%= @user.email %>)<br>
  <% end %>
  Their password reset URL is: <%= link_to edit_maintenance_user_password_reset_url(key: @reset_key.key, uid: @reset_key.user_id), edit_maintenance_user_password_reset_url(key: @reset_key.key, uid: @reset_key.user_id) %></p>
</div>

<% content_for(:page_title) do %>
  Reset Password - <%= @user.name %>
<% end %>
