<div>
  <h1>Reset Password</h1>
  <p>You must re-enter your password to send a password reset email.</p>
  <%= custom_form_for(:admin, url: password_reset_admin_user_path(@user)) do |f| %>
    <%= f.input :password, as: :password, label: "Password" %>
    <%= f.input :invalidate_old_password, as: :boolean, label: "Invalidate the users current password", hint: "This will log the user out and prevent them from logging in with their old password" %>
    <%= f.button :submit, "Reset" %>
  <% end %>
</div>

<% content_for(:page_title) do %>
  Reset Password - <%= @user.name %>
<% end %>
