<div id="c-uploads">
<div id="a-new">
  <div style="margin-bottom: 1rem;" class="section">
    <h2>Before uploading, read
      the <%= link_to "how to upload guide", wiki_page_path(id: "howto:upload") %>.</h2>
    <p>Make sure you're not posting something on
      the <%= link_to "Avoid Posting List", avoid_posting_static_path %><br>
      Review the <%= link_to "Uploading Guidelines", help_page_path(id: "uploading_guidelines") %>
      <br>
      Unsure what to tag your post
      with? <%= link_to "Tagging Checklist", help_page_path(id: "tagging_checklist") %></p>
  </div>
  <div id="uploader"></div>
  <% if CurrentUser.no_uploading? %>
    <div id="post-uploads-remaining" class="box-section section background-red" style="width:640px;">
      Your ability to upload posts had been manually disabled by a staff member.<br />
      If you believe that this was done in error, <%= link_to "contact an admin", show_or_new_wiki_pages_path(title: "e621:staff") %> to have this situation resolved.
    </div>
  <% elsif CurrentUser.upload_limit <= 5 || CurrentUser.post_upload_throttle <= 5 %>
    <% @limit_pieces = CurrentUser.upload_limit_pieces %>
    <div id="post-uploads-remaining" class="box-section section<% if [CurrentUser.upload_limit, CurrentUser.post_upload_throttle].min <= 0 %> background-red<% end %>" style="width:640px;">
      <p>
        You currently have <span class="post-uploads-remaining-count"><%= CurrentUser.upload_limit %></span> upload<%= CurrentUser.upload_limit!=1?"s":"" %> remaining.

        <% if @limit_pieces[:pending] > 0 %>
          This number will go up as some of your <%= link_to "<span class='post-uploads-remaining-count'>#{@limit_pieces[:pending]}</span> pending/flagged posts".html_safe, posts_path(tags: "user:#{CurrentUser.name} status:pending") %> are approved.
        <% end %>
      </p>
      You have <span class="post-uploads-remaining-count"><%= CurrentUser.post_upload_throttle %></span> uploads remaining this hour.
      See <%= link_to "here", upload_limit_user_path(CurrentUser) %> for more details.
    </div>
  <% elsif CurrentUser.post_upload_throttle <= 5 %>
    <div id="post-uploads-remaining" class="section<% if CurrentUser.post_upload_throttle <= 0 %> background-red<% end %>" style="width:640px;">
      You have <span class="post-uploads-remaining-count"><%= CurrentUser.post_upload_throttle %></span> uploads remaining this hour.
      See <%= link_to "here", upload_limit_user_path(CurrentUser) %> for more details.
    </div>
  <% end %>
</div>
</div>
<%= javascript_tag nonce: true do -%>
  var uploaderSettings = {
    compactMode: <%= CurrentUser.compact_uploader?.to_json %>,
    safeSite: <%= CurrentUser.safe_mode?.to_json %>,
    uploadTags: <%= CurrentUser.presenter.favorite_tags_with_types.to_json.html_safe %>,
    recentTags: <%= CurrentUser.presenter.recent_tags_with_types.to_json.html_safe %>,
    allowLockedTags: <%= CurrentUser.is_admin?.to_json %>,
    allowRatingLock: <%= CurrentUser.is_privileged?.to_json %>,
    allowUploadAsPending: <%= CurrentUser.can_upload_free?.to_json %>,
    maxFileSize: <%= Danbooru.config.max_file_size %>,
    maxFileSizeMap: <%= sanitize(Danbooru.config.max_file_sizes.to_json) %>,
  };
  Danbooru.Uploader.init();
<% end -%>
<%= render "posts/partials/common/secondary_links" %>

<% content_for(:page_title) do %>
  New Upload
<% end %>
