<div id="c-bulk-update-requests">
  <div id="a-show">
    <h1>Bulk Update Request: <%= @bulk_update_request.title %></h1>

    <ul>
      <%= render "tag_change_requests/reference", tag_change_request: @bulk_update_request %>
      <li><strong>Creator</strong> <%= link_to_user @bulk_update_request.user %></li>
      <li><strong>Date</strong> <%= @bulk_update_request.created_at %></li>
      <li><strong>Status</strong>: <%= @bulk_update_request.status %></li>
      <li><strong title="How many posts will be affected">Estimate</strong>: <%= @bulk_update_request.estimate_update_count %></li>
    </ul>

    <div style="margin: 1em 0;">
      <h2>Script</h2>
      <pre><%= format_text script_with_line_breaks(@bulk_update_request, with_decorations: true), allow_color: true %></pre>

      <%= render "bur_edit_links", bur: @bulk_update_request %>
    </div>

     <%= render "tag_change_requests/votes", tag_change_request: @bulk_update_request %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Bulk Update Request
<% end %>
