<div id="c-maintenance-user-passwords"><div id="a-edit">
  <h1>Settings</h1>

  <%= custom_form_for(@user, html: { class: "session_form" }) do |form| %>
    <div class="settings-container">
      <div class="settings-container-header">
        Change Password
      </div>
      <div class="settings-container-content">
        <span class="settings-label"><%= form.label :old_password, "Old Password" %></span>
        <span class="settings-input">
          <%= form.input_field :old_password, :as => :password, :input_html => {:autocomplete => "off"} %>
        </span>

        <span class="settings-label"><%= form.label :password, "New Password" %></span>
        <span class="settings-input">
          <%= form.input_field :password, :as => :password, :input_html => {:autocomplete => "off"} %>
        </span>

        <span class="settings-label"><%= form.label :password_confirmation, "Confirm Password" %></span>
        <span class="settings-input">
          <%= form.input_field :password_confirmation, :as => :password, :input_html => {:autocomplete => "off"} %>
        </span>

        <span class="settings-confirm">
          <%= form.button :submit, "Submit" %>
        </span>
      </div>
    </div>
  <% end %>

</div></div>

<%= render "/users/secondary_links" %>

<% content_for(:page_title) do %>
  Change Password
<% end %>
