<p><%= link_to "Search for users with these IP addresses", moderator_ip_addrs_path(search: {ip_addr: @results[:ip_addrs].reject{|ip| ip == "127.0.0.1"}.join(","), with_history: params[:search][:with_history]}) %></p>
<p><%= link_to "Export address list", export_moderator_ip_addrs_path(format: :json, search: { user_id: params[:search][:user_id], user_name: params[:search][:user_name] }) %></p>

<table class="striped">
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Type</th>
      <th>Number of Occurrences</th>
    </tr>
  </thead>
  <tbody>
  <% @results[:sums].each do |name, counts| %>
    <% counts.each do |ip_addr, count| %>
      <tr>
        <td><%= link_to_ip ip_addr %></td>
        <td><%= name.to_s.tr '_', ' ' %></td>
        <td><%= link_to_ip_search name, ip_addr, count %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
