<div class="box-section">
  It is possible to search for IP address wildcards using CIDR notation, but only if searching for a single IP addr. You probably want '/24' at the end for IPv4 wildcards.
</div>
<%= form_search(path: moderator_ip_addrs_path) do |f| %>
  <%= f.input :user_id, label: "User IDs" %>
  <%= f.input :user_name, label: "User Names", autocomplete: "user" %>
  <%= f.input :ip_addr, label: "IP Addresses" %>
  <% if (params.dig(:search, :ip_addr)&.split(",")&.count || 0) == 1 %>
    <%= f.input :add_ip_mask, label: "Add IP Mask?", as: :boolean, hint: "/24 for IPv4, /64 for IPv6" %>
  <% end %>
  <%= f.input :with_history, label: "With History?", as: :boolean %>
<% end %>
