<p><%= link_to "Search for IP addresses with these users", moderator_ip_addrs_path(search: {user_id: @results[:users].map { |user_id, _| user_id }.join(","), with_history: params[:search][:with_history]}) %></p>

<table class="striped">
  <thead>
  <tr>
    <th>User</th>
    <th>Type</th>
    <th>Number of Occurrences</th>
    <th/>
  </tr>
  </thead>
  <tbody>
  <% @results[:sums].each do |name, counts| %>
    <% counts.each do |uid, count| %>
      <tr>
        <td><%= link_to_user @results[:users][uid] %></td>
        <td><%= name.to_s.tr '_', ' ' %></td>
        <td><%= link_to_user_id_search name, uid, count %></td>
        <td><%= link_to "Show IP addresses", moderator_ip_addrs_path(:search => {:user_id => uid}) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
