<div id="c-user-name-change-requests">
  <div id="a-show">
    <h1>Name Change Request</h1>

    <table style="border-spacing: 0.5rem 0.25rem; border-collapse: unset;">
      <tbody>
        <tr>
          <th>Date</th>
          <td>
            <%= compact_time @change_request.created_at %>
            <%= render "application/update_notice", record: @change_request %>
          </td>
        </tr>
        <tr>
          <th>User</th>
          <td><%= link_to_user @change_request.user %></td>
        </tr>
        <tr>
          <th>Old</th>
          <td><%= @change_request.original_name %></td>
        </tr>
        <tr>
          <th>New</th>
          <td><%= @change_request.desired_name %></td>
        </tr>
      </tbody>
    </table>

    <% if CurrentUser.is_moderator? %>
      <div class="actions">
        <%= link_to "Delete", user_name_change_request_path(@change_request), method: :delete, 
            data: { confirm: "Are you sure you want to delete this name change request?" }, 
            class: "st-button" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Name Change Request - <%= @change_request.user.pretty_name %>
<% end %>
