<div id="c-user-name-change-requests">
  <div id="a-show">
    <h1>Name Change Request</h1>

    <table class="aligned-vertical">
      <tbody>
        <tr>
          <th>Date</th>
          <td>
            <%= compact_time @change_request.created_at %>
            <%= render "application/update_notice", record: @change_request %>
          </td>
        </tr>
        <tr>
          <th>User</th>
          <td><%= link_to_user @change_request.user %></td>
        </tr>
        <tr>
          <th>Request</th>
          <td>
            <strong><%= @change_request.original_name %></strong> ->
            <strong><%= @change_request.desired_name %></strong>
          </td>
        </tr>
        <tr>
          <th>Reason</th>
          <td><%= @change_request.change_reason %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td>
            <%= @change_request.status %>
            <% if @change_request.approved? %>
              by <%= link_to_user @change_request.approver %>
            <% elsif @change_request.rejected? %>
              for reason: <%= link_to @change_request.rejection_reason %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>

    <% if CurrentUser.is_moderator? %>
      <div class="actions">
        <%= link_to "Delete", user_name_change_request_path(@change_request), method: :delete, 
            data: { confirm: "Are you sure you want to delete this name change request?" }, 
            class: "st-button" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Name Change Request - <%= @change_request.user.pretty_name %>
<% end %>
