<ul class="post-sidebar-info">
  <li class="source-links">Source:
    <% post.source_array.partition { |s| !s.start_with?("-") }.flatten.each do |source| %>
      <div class="source-link"><%= post_source_tag(source) %></div>
    <% end %>
  </li>
</ul>


<div class="post-sidebar-info post-sidebar-grid">
  <div class="post-sidebar-label">ID</div>
  <div class="post-sidebar-value selectable"><%= post.id %></div>

  <div class="post-sidebar-label">MD5</div>
  <div class="post-sidebar-value selectable no-overflow"><%= post.md5 %></div>

  <div class="post-sidebar-label">Size</div>
  <div class="post-sidebar-value">
    <span class="selectable"><span itemprop="width"><%= post.image_width %></span>x<span itemprop="height"><%= post.image_height %></span></span>
    (<span class="selectable"><%= number_to_human_size(post.file_size) %></span>)
  </div>

  <div class="post-sidebar-label">Type</div>
  <div class="post-sidebar-value selectable"><%= post.file_ext.upcase %></div>

  <div class="post-sidebar-label">Status</div>
  <div class="post-sidebar-value">
    <% if post.is_pending? %>
      <span class="selectable">Pending</span>
    <% end %>

    <% if post.is_deleted? %>
      <span class="selectable">Deleted</span>
    <% end %>

    <% if post.is_flagged? %>
      <span class="selectable">Flagged</span>
    <% end %>

    <% if !post.is_pending? && !post.is_deleted? %>
      <span class="selectable">Active</span>
    <% end %>

    <%= post.is_status_locked? ? svg_icon(:lock, class: "lock", title: "Status locked") : "" %>
  </div>


  <div class="post-sidebar-break"></div>


  <div class="post-sidebar-label">Rating</div>
  <div class="post-sidebar-value">
    <span class="selectable" id="sidebar-rating"><%= pretty_html_rating(post) %></span>
    <%= post.is_rating_locked? ? svg_icon(:lock, class: "lock", title: "Rating locked") : "" %>
  </div>

  <div class="post-sidebar-label">Score</div>
  <div class="post-sidebar-value">
    <span class="selectable" id="sidebar-score"><%= post_score_block(post) %></span>
    <% if CurrentUser.is_moderator? %>
      <span><%= link_to "(votes)", controller: :post_votes, search: { post_id: post.id } %></span>
    <% end %>
  </div>

  <div class="post-sidebar-label">Faves</div>
  <div class="post-sidebar-value">
    <span class="selectable" id="sidebar-favcount"><%= post.fav_count %></span>
    <%= link_to "Show", post_favorites_path(post.id), style: ("display: none;" if post.fav_count == 0) %>
  </div>
</div>


<ul class="post-sidebar-info">
  <li>
    Posted: <%= link_to time_ago_in_words_tagged(post.created_at), posts_path(tags: "date:#{post.created_at.to_date}"), rel: "nofollow" %>
    <meta itemprop="uploadDate" content="<%= post.created_at.iso8601 %>">
  </li>
  <% if CurrentUser.is_janitor? || post.uploader_linked_artists.any? %>
    <li>
      Uploader: <%= link_to_user(post.uploader) %> <%= user_record_meta(post.uploader) if CurrentUser.is_janitor? %>
      <% if post.uploader_linked_artists.any? %>
        <%= svg_icon(:chexagon, class: "chexagon", title: "The uploader is linked to one of the artist tags") %>
      <% end %>
    </li>
  <% end %>
  <% if post.approver %>
    <li>Approver: <%= link_to_user(post.approver) %></li>
  <% end %>
</ul>
