<a
  href="<%= user_feedbacks_path(search: { user_id: user.id }) %>"
  class="user-records-list"
  data-negative="<%= negative %>"
  data-neutral="<%= negative %>"
  data-positive="<%= neutral %>"
  data-total="<%= positive - negative %>"
>
  <% if deleted > 0 %>
    <span class="user-record deleted"><%= deleted %></span>
  <% end %>

  <% if negative > 0 %>
    <span class="user-record negative"><%= negative %></span>
  <% end %>

  <% if neutral > 0 %>
    <span class="user-record neutral"><%= neutral %></span>
  <% end %>

  <% if positive > 0 %>
    <span class="user-record positive"><%= positive %></span>
  <% end %>
</a>

<% if CurrentUser.is_moderator? && CurrentUser.user != user && active == 0 %>
  <a
    href="<%= new_user_feedback_path(user_feedback: { user_id: user.id, category: "neutral" }) %>"
    class="user-records-list"
    title="New Feedback"
  >
    <span class="user-record neutral"><%= svg_icon(:plus) %></span>
  </a>
<% end %>