<% if total > 0 %>
  <a
    href="<%= user_feedbacks_path(search: { user_id: user.id }) %>"
    class="user-records-list"
    data-negative="<%= negative %>"
    data-neutral="<%= negative %>"
    data-positive="<%= neutral %>"
    data-total="<%= positive - negative %>"
  >
    <%= svg_badge(deleted, "deleted") if deleted > 0 %>
    <%= svg_badge(negative, "negative") if negative > 0 %>
    <%= svg_badge(neutral, "neutral") if neutral > 0 %>
    <%= svg_badge(positive, "positive") if positive > 0 %>
  </a>
<% end %>

<% if CurrentUser.is_moderator? && CurrentUser.user != user && active == 0 %>
  <a
    href="<%= new_user_feedback_path(user_feedback: { user_id: user.id, category: "neutral" }) %>"
    class="user-records-list"
    title="New Feedback"
  >
    <%= svg_badge("+", "neutral") %>
  </a>
<% end %>