<% has_mail = CurrentUser.has_mail? && CurrentUser.dmails.unread.first.present? %>
<a
  href="<%= user_path(user) %>"
  class="simple-avatar placeholder <%= klass.nil? ? "" : klass %>"
  data-id="<%= post_id %>"
  data-name="<%= user.name %>"
  data-has-mail="<%= has_mail %>"
>
  <span class="avatar-name"><%= user.pretty_name %></span>
  <span class="avatar-image" data-name="<%= user.name[0].capitalize %>"></span>
  <span class="avatar-more"><%= svg_icon(:chevron_down) %></span>
</a>

<span
  class="simple-avatar-menu hidden"
  data-has-mail="<%= has_mail %>"
>
  <a href="<%= user_path(user) %>">
    <%= svg_icon(:user) %> Profile
  </a>
  <a href="<%= dmails_path %>" class="simple-avatar-dmails">
    <%= svg_icon(:message_square) %> Messages
  </a>
  <hr />


  <% if user.post_upload_count > 0 %>
  <a href="<%= posts_path(tags: "user:#{user.name}") %>">
    <%= svg_icon(:images) %> Uploads
  </a>
  <a href="<%= comments_path(group_by: "comment", search: { poster_id: user.id }) %>" class="secondary">
    <%= svg_icon(:corner_down_right) %> Responses
  </a>
  <a href="<%= posts_path(tags: "user:#{user.name} status:pending") %>" class="secondary">
    <%= svg_icon(:clock_fading) %> Pending
  </a>
  <% end %>

  <% if user.favorite_count > 0 %>
  <a href="<%= favorites_path %>">
    <%= svg_icon(:heart) %> Favorites
  </a>
  <% end %>

  <a href="<%= post_sets_path(search: { creator_id: CurrentUser.id }) %>">
    <%= svg_icon(:group) %> Sets
  </a>
  <hr />

  <% if user.comment_count > 0 || user.forum_post_count > 0 %>
    <h4>Mentions</h4>

    <% if user.comment_count > 0 %>
      <a href="<%= comments_path(group_by: :comment, search: { body_matches: user.name }) %>">
        <%= svg_icon(:message_square) %> Comments
      </a>
    <% end %>

    <% if user.forum_post_count > 0 %>
      <a href="<%= forum_posts_path(search: { body_matches: user.name }) %>">
        <%= svg_icon(:lectern) %> Forums
      </a>
    <% end %>
    <hr />
  <% end %>


  <a href="<%= session_path %>" data-method="delete">
    <%= svg_icon(:log_out) %> Sign Out
  </a>
</span>
