<div id="c-terms-of-services">
  <div id="a-index">
    <h1>Terms of Service</h1>
    <% if CurrentUser.is_admin? %>
      <div class="box-section styled-dtext">
        <h5>Cache</h5>
        <p>
          The Terms of Service content is cached for performance reasons.<br />
          If you edit the TOS wiki page, you must clear the cache to have your changes take effect.<br />
          <b>Note:</b> This page reflects the cached version of the TOS, not the live wiki page.
          <%= form_tag(clear_cache_terms_of_service_path, method: :post, class: "tos-options") do %>
            <%= submit_tag("Clear Cache", class: "st-button") %>
          <% end %>
        </p>

        <h5>Version: <%= @version %></h5>
        <p>
          Increasing the version will require all users to re-accept the Terms of Service.<br />
          Do not increase the version unless you are absolutely sure about what you are doing.<br />
          <b>Note:</b> This will also clear the TOS cache.
          <%= form_tag(bump_version_terms_of_service_path, method: :post, class: "tos-options") do %>
            <%= submit_tag("Bump Version", class: "st-button") %>
          <% end %>
        </p>
      </div>
    <% end %>
    <div class="dtext-container"><%= @content %></div>
  </div>
</div>

<% content_for(:secondary_links) do %>
  <% if CurrentUser.is_staff? %>
    <%= subnav_link_to "Wiki Page", show_or_new_wiki_pages_path(title: @page_name) %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  Terms of Service
<% end %>
