<title><%= get_title %></title>
<%= render "layouts/favicon" %>
<meta name="theme-color" content="#00549e">
<meta name="RATING" content="RTA-5042-1996-1400-1577-RTA" />
<link rel="top" title="<%= Danbooru.config.app_name %>" href="/">
<%= csrf_meta_tag %>
<% unless disable_mobile_mode? %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
<% end %>

<meta name="current-user-name" content="<%= CurrentUser.name %>">
<meta name="current-user-id" content="<%= CurrentUser.id %>">
<meta name="current-user-can-approve-posts" content="<%= CurrentUser.can_approve_posts? %>">
<meta name="user-comment-threshold" content="<%= CurrentUser.comment_threshold %>">
<% if CurrentUser.user.blacklisted_tags.present? %>
  <meta name="blacklisted-tags" content="<%= CurrentUser.user.blacklisted_tags.split(/(?:\r|\n)+/).to_json %>">
  <meta name="blacklist-users" content="<%= CurrentUser.blacklist_users? %>">
<% else %>
  <meta name="blacklisted-tags" content="[]">
  <meta name="blacklist-users" content="false">
<% end %>
<meta name="enable-js-navigation" content="<%= CurrentUser.user.enable_keyboard_navigation %>">
<meta name="enable-auto-complete" content="<%= CurrentUser.user.enable_auto_complete %>">
<meta name="metatags" content="<%= TagQuery::METATAGS.to_json %>">
<meta name="order-metatags" content="<%= TagQuery::ORDER_METATAGS_AUTOCOMPLETE.to_json %>">
<meta name="tag-categories" content="<%= TagCategory::MAPPING.keys.to_json %>">
<meta name="style-usernames" content="<%= CurrentUser.user.style_usernames? %>">
<meta name="last-forum-read-at" content="<%= CurrentUser.user.last_forum_read_at %>">
<% if CurrentUser.user.custom_style.present? %>
  <%= stylesheet_link_tag custom_style_users_path(md5: Digest::MD5.hexdigest(CurrentUser.user.custom_style)), media: "screen", nonce: true %>
<% end %>

<% if flash[:notice] =~ /error/i %>
  <meta name="errors" content="true">
<% end %>
<%= auto_discovery_link_tag :atom, posts_path(:format => "atom", :tags => params[:tags]) %>

<%= vite_stylesheet_tag "styles" %>
<%= vite_javascript_tag "application", nonce: true, defer: false %>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url" : "<%= root_url %>",
  "potentialAction": [{
    "@type": "SearchAction",
    "target": "<%= posts_url %>?tags={search_term_string}",
    "query-input": "required name=search_term_string"
  }]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "<%= Danbooru.config.app_name %>",
  "alternateName": "<%= Danbooru.config.description %>",
  "url" : "<%= root_url %>"
}
</script>

<style id="blacklisted-hider">
  .thumbnail, #image-container, #c-comments .post, .post-thumbnail {
    visibility: hidden !important;
  }
</style>
<noscript>
  <style>
    .thumbnail, #image-container, #c-comments .post, .post-thumbnail {
      visibility: visible !important;
    }
  </style>
</noscript>

<%= raw Danbooru.config.custom_html_header_content %>
<%= yield :html_header %>
