<!doctype html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<%= tag.body **body_attributes(CurrentUser.user) do %>
  <%= render "layouts/theme_include" %>
  <%= render "layouts/nav" %>

  <%= render "static/fursona_check" %>
  <% if CurrentUser.is_anonymous? %>
    <%= render "static/guest_warning" %>
  <% end %>

  <div id="page">
    <%= yield :layout %>
  </div>

  <%= render "static/deferred_posts" %>
<% end %>
</html>
