<!doctype html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
</head>
<%= tag.body **body_attributes(CurrentUser.user) do %>
  <%= render "layouts/theme_include" %>
  <%= render "layouts/navigation/navigation" %>

  <div id="page" role="main">

    <%= yield :layout %>
  </div>

  <%= render partial: "layouts/partials/toasts" %>

  <%= render "static/tos_warning" %>

  <% if Danbooru.config.fsc_modal_enabled? %>
    <script src="https://assets.freespeechcoalition.com/code/avActionModal.min.js"></script>
  <% end %>

  <%= render "static/deferred_posts" %>
<% end %>
</html>
