<!doctype html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
</head>
<%= tag.body **body_attributes(CurrentUser.user) do %>
  <%= render "layouts/theme_include" %>
  <%= render "layouts/navigation/navigation" %>

  <div id="page" role="main">

    <%= yield :layout %>
  </div>

  <%# Notification Toasts %>
  <div id="toast-container" aria-live="polite" aria-atomic="false">
    <% flash.each do |type, message| %>
      <% if message.present? %>
        <div class="toast toast-<%= type %>" role="alert" data-counter="1">
          <span class="toast-message"><%= format_text(message, inline: true) %></span>
          <span class="toast-counter">1</span>
          <button
            type="button"
            class="toast-close"
            aria-label="Close notice"
            style="display: none;"
          ><%= svg_icon(:times, width: 16, height: 16) %></button>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render "static/tos_warning" %>

  <% if Danbooru.config.fsc_modal_enabled? %>
    <script src="https://assets.freespeechcoalition.com/code/avActionModal.min.js"></script>
  <% end %>

  <%= render "static/deferred_posts" %>
<% end %>
</html>
