<!doctype html>
<html lang="en">
<head>
  <%= render "layouts/head" %>
</head>
<%= tag.body(**body_attributes(CurrentUser.user)) do %>
  <%= render "layouts/theme_include" %>

  <%= render "layouts/navigation/navigation" %>

  <% if CurrentUser.has_mail? && cookies[:hide_dmail_notice] != "1" %>
    <%= render "users/dmail_notice" %>
  <% end %>

  <div id="page" role="main">
    <%= render "news_updates/notice", news_update: NewsUpdate.recent %>

    <% if CurrentUser.user.is_banned? %>
      <%= render "users/ban_notice" %>
    <% end %>

    <% if !CurrentUser.is_anonymous? && !CurrentUser.is_verified? %>
      <%= render "users/validation_notice" %>
    <% end %>

    <%= yield :layout %>
  </div>

  <%= render partial: "layouts/partials/toasts" %>

  <% unless content_for?(:skip_tos_warning) %>
    <%= render "static/tos_warning" %>
  <% end %>

  <%= render "static/footer" %>
  <%= render "ads/revive" %>
  <% if Danbooru.config.fsc_modal_enabled? %>
    <script src="https://assets.freespeechcoalition.com/code/avActionModal.min.js"></script>
  <% end %>

  <%= render "static/deferred_posts" %>
<% end %>
</html>
