<!doctype html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<%= tag.body(**body_attributes(CurrentUser.user)) do %>
  <%= render "layouts/theme_include" %>

  <%= render "layouts/navigation/navigation" %>

  <% if CurrentUser.has_mail? && cookies[:hide_dmail_notice] != "true" %>
    <%= render "users/dmail_notice" %>
  <% end %>

  <div id="page">
    <%= render "news_updates/notice", news_update: NewsUpdate.recent %>

    <% if CurrentUser.user.is_banned? %>
      <%= render "users/ban_notice" %>
    <% end %>

    <% if !CurrentUser.is_anonymous? && !CurrentUser.is_verified? %>
      <%= render "users/validation_notice" %>
    <% end %>

    <%# Notification Toasts %>
    <div class="ui-corner-all ui-state-highlight" id="notice" style="<%= "display: none;" unless flash[:notice] %>">
      <span><%= format_text(flash[:notice], inline: true) %>.</span>
      <a href="#" id="close-notice-link">close</a>
    </div>

    <%= yield :layout %>
  </div>

  <% unless content_for?(:skip_tos_warning) %>
    <%= render "static/tos_warning" %>
  <% end %>

  <%= render "static/footer" %>
  <% if Danbooru.config.enable_visitor_metrics? %>
    <%= javascript_include_tag "https://plausible.dragonfru.it/js/script.js", nonce: true, async: true, data: { domain: Danbooru.config.domain } %>
  <% end %>
  <% if Danbooru.config.fsc_modal_enabled? %>
    <script src="https://assets.freespeechcoalition.com/code/avActionModal.min.js"></script>
  <% end %>
  <%= render "static/deferred_posts" %>
<% end %>
</html>
