<mj-section mj-class="container hex-bg">
  <mj-column>
    <mj-text mj-class="text">
      <h2>Hi, <%= @user.name %>!</h2>
      <p>
        You received a new private message from <a href="<%= user_url(@dmail.from) %>"><%= @dmail.from.name %></a> on <%= Danbooru.config.app_name %>.
      </p>

      <h4 class="quote-title"><%= @dmail.title %></h4>
      <blockquote class="quote">
        <%= format_text(@dmail.body, allow_color: false, max_thumbs: 0) %>
      </blockquote>
      
    </mj-text>

    <mj-button
      mj-class="button"
      align="left"
      href="<%= new_dmail_url( respond_to_id: @dmail.id ) %>"
    >
      Reply
    </mj-button>

    <mj-text mj-class="text">
      <small>
        <a href="<%= maintenance_user_email_notification_url(:user_id => @dmail.owner_id, :sig => email_sig(@dmail.owner, :unsubscribe), :host => Danbooru.config.hostname, :only_path => false) %>">Unsubscribe</a>
        if you do not want to receive these emails.<br />
        This is an automated message. Please do not reply to this email directly.
      </small>
      <p>
      Regards,<br />
      ~ <%= Danbooru.config.app_name %> Team
      </p>
    </mj-text>
  </mj-column>
</mj-section>

<% content_for :head do %>
  <mj-style>
    h4.quote-title {
      margin: 0.5em 0 0.25em;
    }
    blockquote.quote {
      background: #1f3c67;
      margin: 0;
      padding: 0.75em;
      border-radius: 0.25em;
      border-left: 0.25em solid #25477b;
    }
    blockquote.quote div.styled-dtext p:first-child {
      margin-top: 0;
    }
    blockquote.quote div.styled-dtext p:last-child {
      margin-bottom: 0;
    }
  </mj-style>
<% end %>
