<%# locals: (user: CurrentUser.user, avatar_id: CurrentUser.user&.avatar_id.presence, has_mail: CurrentUser.has_mail?) %>

<% deferred_post_ids.add(avatar_id) if avatar_id %>
<a
  href="<%= user_path(user) %>"
  class="simple-avatar placeholder nav-controls-profile collapse-2"
  data-user-id="<%= user.id %>"
  data-id="<%= avatar_id %>"
  data-name="<%= user.name %>"
  data-has-mail="<%= has_mail %>"
>
  <span class="avatar-name"><%= user.pretty_name %></span>
  <span class="avatar-image" data-name="<%= user.name[0].capitalize %>"></span>
  <span class="avatar-more"><%= svg_icon(:chevron_down) %></span>
</a>

<span
  class="simple-avatar-menu hidden"
  data-has-mail="<%= has_mail %>"
>
  <a href="<%= user_path(user) %>">
    <%= svg_icon(:user_square) %> Profile
  </a>
  <a href="<%= has_mail ? dmails_path(search: { to_id: user.id }, folder: "received") : dmails_path %>" class="simple-avatar-dmails">
    <%= svg_icon(:mail) %> Messages
  </a>
  <hr />


  <%# has_uploads %>
  <a href="<%= posts_path(tags: "user:#{user.name}") %>" class="must-uploads">
    <%= svg_icon(:images) %> Uploads
  </a>
  <a href="<%= comments_path(group_by: "comment", search: { poster_id: user.id }) %>" class="must-uploads secondary">
    <%= svg_icon(:corner_down_right) %> Responses
  </a>
  <a href="<%= posts_path(tags: "user:#{user.name} status:pending") %>" class="must-uploads secondary">
    <%= svg_icon(:clock_fading) %> Pending
  </a>

  <%# has_favorites %>
  <a href="<%= favorites_path %>" class="must-favorites">
    <%= svg_icon(:heart) %> Favorites
  </a>

  <%# has_sets %>
  <a href="<%= post_sets_path(search: { creator_id: user.id }) %>" class="must-sets">
    <%= svg_icon(:group) %> Sets
  </a>

  <hr class="must-uploads-favorites-sets" />


  <h4 class="must-comments-forums">Mentions</h4>

  <%# has_comments %>
  <a href="<%= comments_path(group_by: :comment, search: { body_matches: user.name }) %>" class="must-comments">
    <%= svg_icon(:message_square) %> Comments
  </a>

  <%# has_forums %>
  <a href="<%= forum_posts_path(search: { body_matches: user.name }) %>" class="must-forums">
    <%= svg_icon(:lectern) %> Forums
  </a>

  <hr class="must-comments-forums" />


  <a href="<%= session_path %>" data-method="delete">
    <%= svg_icon(:log_out) %> Sign Out
  </a>
</span>
